Repository TBS-EACPD/infobase: changes, and which Codecov flags are due for each by the changed paths.
All: client, cypress, server, form_backend

codecov.yml:

flags:
  client:
    paths:
      - ./client/
  cypress:
    paths:
      - ./client/
  server:
    paths:
      - ./server/
  form_backend:
    paths:
      - ./form_backend/

coverage:
  status:
    project:
      default:
        flags:
          - client
          - cypress
          - server
          - form_backend
      client:
        flags:
          - client
      cypress:
        flags:
          - cypress
        target: auto
      server:
        flags:
          - server
      form_backend:
        flags:
          - form_backend
        target: auto

employee age panel
  client/src/panels/panel_declarations/people/employee_age.js
Due: client, cypress

employee totals panel
  client/src/panels/panel_declarations/people/employee_totals.js
Due: client, cypress

employee last_year_totals panel
  client/src/panels/panel_declarations/people/employee_last_year_totals.js
Due: client, cypress

types
  client/src/types/types.gql.ts
Due: client, cypress

employee last year totals fixed unused import
  client/src/panels/panel_declarations/people/employee_last_year_totals.js
Due: client, cypress

Fixed import order
  client/src/panels/panel_declarations/people/employee_age.js
Due: client, cypress

Removed unused variable
  server/src/models/people/populate.js
Due: server

forgot prettier, oops
  client/src/models/people/queries/GovPeopleSummary/GovPeopleSummary.ts
  client/src/panels/panel_declarations/people/employee_fol.js
  client/src/panels/panel_declarations/people/employee_prov.js
  client/src/panels/panel_declarations/people/employee_totals.js
Due: client, cypress

Initial test run of implementing Special Warrants (dept: ACOA)
  client/src/EstimatesComparison/EstimatesComparison.yaml
  client/src/EstimatesComparison/EstimatesExplorerComponent.js
  client/src/EstimatesComparison/scheme.js
  client/src/EstimatesComparison/utils.js
  client/src/common_text/common_lang.yaml
  client/src/common_text/estimates_lang.yaml
  client/src/common_text/faq/financial_questions.yaml
  client/src/models/estimates.ts
  client/src/models/metadata/Sources.yaml
  client/src/panels/panel_declarations/covid/covid_estimates.yaml
  client/src/panels/panel_declarations/finances/vote_stat/vote_stat_text.yaml
  client/src/tables/orgVoteStatEstimates.js
  client/src/tables/orgVoteStatEstimates.yaml
  data/org_vote_stat_estimates.csv
  server/src/models/vote_stat/constants.js
Due: client, cypress, server

Forgot to use new faq entry
  client/src/panels/panel_declarations/misc/key_concept_panels/key_concept_panels.js
Due: client, cypress

Update server snapshot
  server/src/models/people/people.snapshot-test.js
Due: server

Add test data for new format
  data/test-data/test_org_employee_avg_age.csv
  data/test-data/test_org_employee_type.csv
Due: none

forgot some test data...
  data/test-data/People_data_lookup.csv
  data/test-data/goc-org-variants.csv
Due: none

A few extra SWs for ACOA to test voted/stat authorities
  data/org_vote_stat_estimates.csv
Due: none

Filter out invalid url formats for services and standards urls
  server/src/models/services/populate.js
Due: server

Misc changes that were missed spec war titles and faqs
  client/src/EstimatesComparison/EstimatesExplorerComponent.js
  client/src/EstimatesComparison/scheme.js
  client/src/common_text/common_lang.yaml
  client/src/home/home-data.js
Due: client, cypress

Dummy data for multiple depts + roll years forward (like mains)
  client/src/common_text/template_globals.yaml
  data/org_vote_stat_estimates.csv
Due: client, cypress

Update snapshot
  server/src/models/people/__snapshots__/people.snapshot-test.js.snap
Due: server

Fix general_stats to organize by recipients
  client/src/models/recipients/queries/Recipients.gql.ts
  client/src/models/recipients/queries/Recipients.graphql
  client/src/models/recipients/queries/Recipients.ts
  client/src/models/recipients/queries/index.ts
  client/src/types/types.gql.ts
  server/src/models/recipients/models.js
  server/src/models/recipients/populate.js
  server/src/models/recipients/schema.js
Due: client, cypress, server

script to delete gcloud functions that are based on cleaned out branches.
  scripts/ci_scripts/cleanup_dev_functions.sh
Due: none

must include namespace to delete service
  scripts/ci_scripts/cleanup_dev_functions.sh
Due: none

Fix the service application numbers for historical years
  server/src/models/services/populate.js
Due: server

update docker file to include google-cloud-cli
  dockerfiles/ci/Dockerfile
Due: none

Hiding stat panels and latest authority graph point
  client/src/models/estimates.ts
  client/src/panels/panel_declarations/finances/auth_exp_planned_spending/auth_exp_planned_spending.js
  client/src/panels/panel_declarations/finances/auth_exp_planned_spending/auth_exp_planned_spending.yaml
  client/src/panels/panel_declarations/finances/vote_stat/in_year_vote_stat_breakdown.js
  client/src/panels/panel_declarations/finances/vote_stat/in_year_vote_stat_split.js
Due: client, cypress

delete run services asynchronously so it finishes faster
  scripts/ci_scripts/cleanup_dev_functions.sh
Due: none

oops
  scripts/ci_scripts/cleanup_dev_functions.sh
Due: none

modify circle ci config to include cleanup_dev_functions
  .circleci/config.yml
Due: none

Update order of Online Status of Services Panel's graphs and tables
  client/src/panels/panel_declarations/services/services_digital_status.js
  server/src/models/services/constants.js
Due: client, cypress, server

Update service standard guages to present all reported years data
  client/src/models/services/queries/ServiceSummaryGov/ServiceSummaryGov.gql.ts
  client/src/models/services/queries/ServiceSummaryGov/ServiceSummaryGov.graphql
  client/src/models/services/queries/ServiceSummaryOrg/ServiceSummaryOrg.gql.ts
  client/src/models/services/queries/ServiceSummaryOrg/ServiceSummaryOrg.graphql
  client/src/models/services/queries/ServiceSummaryProgram/ServiceSummaryProgram.gql.ts
  client/src/models/services/queries/ServiceSummaryProgram/ServiceSummaryProgram.graphql
  client/src/panels/panel_declarations/services/services.yaml
  client/src/panels/panel_declarations/services/services_standards.js
  client/src/types/types.gql.ts
  server/src/models/services/models.js
  server/src/models/services/populate.js
  server/src/models/services/schema.js
Due: client, cypress, server

Update missing program ids for services to display any programs that are valid even if that service is missing some program ids
  client/src/panels/panel_declarations/services/single_service_panels/service_overview.js
  server/src/models/services/populate.js
Due: client, cypress, server

Remove some unused values
  client/src/panels/panel_declarations/services/services_standards.js
Due: client, cypress

Check if standard row belongs to org (different orgs can use the same standard id code)
  server/src/models/services/populate.js
Due: server

Update service intro panel text about reporting gaps for some depts
  client/src/panels/panel_declarations/services/services.yaml
Due: client, cypress

Remove duplicate org
  data/igoc.csv
  data/igoc_en.csv
  data/igoc_fr.csv
Due: none

Remove ALL duplicate orgs from igoc
  data/igoc.csv
  data/igoc_en.csv
  data/igoc_fr.csv
Due: none

Update the standard guage and application channel volume for program level
  client/src/panels/panel_declarations/services/application_channels_by_services.js
  server/src/models/services/populate.js
Due: client, cypress, server

Remove unused variables
  server/src/models/services/populate.js
Due: server
