Repository TBS-EACPD/infobase: changes, and which Codecov flags are due for each by the changed paths.
All: client, cypress, server, form_backend

Filter out PRIs from gov level overview
  server/src/models/results/populate.js
Due: server

Update CommonDrrSummary yaml
  client/src/panels/panel_declarations/results/CommonDrrSummary.js
  client/src/panels/panel_declarations/results/CommonDrrSummary.yaml
  client/src/panels/panel_declarations/results/gov_drr.yaml
Due: client, cypress

Covid 19 FAQ text update
  client/src/panels/panel_declarations/covid/covid_key_concepts.yaml
Due: client, cypress

CommonDrrSummary.yaml tab adjustment causing text render issues
  client/src/panels/panel_declarations/results/CommonDrrSummary.yaml
Due: client, cypress

Update percent_value_tooltip so its calcualting the graph total using only the selected chart elements
  client/src/charts/wrapped_nivo/WrappedNivoPie/WrappedNivoPie.js
Due: client, cypress

French typo fix
  client/src/models/businessConstants.ts
Due: client, cypress

Update related hardcoded supps C values and home page featured content links
  client/src/common_text/common_lang.yaml
  client/src/home/home-data.js
  client/src/models/estimates.ts
Due: client, cypress

yes N to deploy function in deploy_server
  .circleci/config.yml
Due: none

yes N beginning of command
  .circleci/config.yml
Due: none

Revert to normal, enable artifact registry in google cloud
  .circleci/config.yml
Due: none

Mains and DP configuration
  client/src/common_text/common_lang.yaml
  client/src/common_text/template_globals.yaml
  client/src/home/home-data.js
  client/src/home/home.yaml
  client/src/models/estimates.ts
  client/src/models/results/results.js
  client/src/types/types.gql.ts
  server/src/models/results/results_common.js
Due: client, cypress, server

Late banner + planned spending years rolled forward
  client/src/common_text/template_globals.yaml
  client/src/models/results/results.js
Due: client, cypress

Had results and ressources banner mixed up, just flipped them
  client/src/models/results/results.js
Due: client, cypress

Supps C common_lang update to est_last_year
  client/src/common_text/common_lang.yaml
Due: client, cypress

Remove redundant estimates link on home page (supps C)
  client/src/home/home-data.js
Due: client, cypress

url_lookups.csv hotfix while we wait for pipeline fix
  data/igoc.csv
  data/igoc_en.csv
  data/igoc_fr.csv
  data/url_lookups.csv
Due: none

home featured item update
  client/src/home/home-data.js
  client/src/home/home.yaml
Due: client, cypress

employee dataset links updated
  client/src/models/metadata/Datasets.yaml
Due: client, cypress

Apply 'Not Applicable' to crown corp planned year spendings in rpb
  client/src/components/DisplayTable/DisplayTable.tsx
  client/src/rpb/granular_view.js
Due: client, cypress

.vscode settings
  .vscode/settings.json
Due: none

Only change column value if column exists
  client/src/rpb/granular_view.js
Due: client, cypress

Remove unnecessary return statement
  client/src/components/DisplayTable/DisplayTable.tsx
Due: client, cypress

Path conditions:
  client: any of: client/
  cypress: any of: client/
  server: any of: server/
  form_backend: any of: form_backend/
