Repository TBS-EACPD/infobase: changes, and which Codecov flags are due for each by the changed paths.
All: client, cypress, server, form_backend

forgot to run npm install in form_backend
  form_backend/package-lock.json
Due: form_backend

eaadtbs/ib-ci:1.4 docker update
  .circleci/config.yml
  dockerfiles/ci/Dockerfile
Due: none

Extend panel to display revenue standard objects and add legend
  client/src/panels/panel_declarations/finances/sobj/top_spending_areas.js
  client/src/panels/panel_declarations/finances/sobj/top_spending_areas.yaml
Due: client, cypress

Update program sobj populate function to use the new program_sobj csv
  client/src/models/finance/queries/ProgramSobjs/ProgramSobjs.gql
  client/src/types/types.gql.ts
  data/program_sobjs_new.csv
  server/src/models/finances/models.js
  server/src/models/finances/populate.js
  server/src/models/finances/schema.js
Due: client, cypress, server

Set up queries for expenditure and revenue program sobjs
  client/src/models/finance/queries/ProgramExpSobjs/ProgramExpSobjs.gql.ts
  client/src/models/finance/queries/ProgramExpSobjs/ProgramExpSobjs.graphql
  client/src/models/finance/queries/ProgramExpSobjs/ProgramExpSobjs.ts
  client/src/models/finance/queries/ProgramRevSobjs/ProgramRevSobjs.gql.ts
  client/src/models/finance/queries/ProgramRevSobjs/ProgramRevSobjs.graphql
  client/src/models/finance/queries/ProgramRevSobjs/ProgramRevSobjs.ts
Due: client, cypress

Updare gross spending by standard object to display only exp sobjs
  client/src/models/finance/queries/index.ts
  client/src/panels/panel_declarations/finances/sobj/top_spending_areas.js
  client/src/panels/panel_declarations/finances/sobj/top_spending_areas.yaml
Due: client, cypress

Add tab to display expenditure and revenue pie charts
  client/src/models/finance/queries/ProgramSobjs/ProgramSobjs.gql.ts
  client/src/models/finance/queries/ProgramSobjs/ProgramSobjs.graphql
  client/src/models/finance/queries/ProgramSobjs/ProgramSobjs.ts
  client/src/models/finance/queries/index.ts
  client/src/panels/panel_declarations/finances/sobj/top_spending_areas.js
  client/src/panels/panel_declarations/finances/sobj/top_spending_areas.yaml
Due: client, cypress

Add panel to display exp and rev as a bar chart
  client/src/panels/get_panels_for_subject/get_program_panels.js
  client/src/panels/panel_declarations/finances/index.js
  client/src/panels/panel_declarations/finances/sobj/index.js
  client/src/panels/panel_declarations/finances/sobj/spend_rev_bar.js
  client/src/panels/panel_declarations/finances/sobj/spend_rev_bar.yaml
  client/src/panels/panel_declarations/finances/sobj/top_spending_areas.js
  client/src/panels/panel_declarations/index.js
  data/test-data/program_sobjs_new.csv
Due: client, cypress

reorder imports and update snapshot tests
  client/src/panels/panel_declarations/finances/sobj/spend_rev_bar.js
  server/src/models/finances/__snapshots__/finances.snapshot-test.js.snap
  server/src/models/finances/models.js
Due: client, cypress, server

reorder imports, update snapshots, and update test data program value
  client/src/panels/panel_declarations/finances/sobj/spend_rev_bar.js
  data/test-data/program_sobjs_new.csv
  server/src/models/finances/__snapshots__/finances.snapshot-test.js.snap
  server/src/models/finances/finances.snapshot-test.js
Due: client, cypress, server

create bar chart of the net standard objects
  client/src/core/color_schemes.ts
  client/src/panels/get_panels_for_subject/get_program_panels.js
  client/src/panels/panel_declarations/finances/index.js
  client/src/panels/panel_declarations/finances/sobj/expenditure_bar.js
  client/src/panels/panel_declarations/finances/sobj/expenditure_bar.yaml
  client/src/panels/panel_declarations/finances/sobj/index.js
  client/src/panels/panel_declarations/finances/sobj/spend_rev_bar.js
  client/src/panels/panel_declarations/finances/sobj/spend_rev_pie.js
  client/src/panels/panel_declarations/finances/sobj/spend_rev_pie.yaml
  client/src/panels/panel_declarations/finances/sobj/top_spending_areas.js
  client/src/panels/panel_declarations/index.js
  data/glossary.csv
Due: client, cypress

update summary text and make legend responsive
  client/src/panels/panel_declarations/finances/sobj/expenditure_bar.js
  client/src/panels/panel_declarations/finances/sobj/expenditure_bar.yaml
  client/src/panels/panel_declarations/finances/sobj/spend_rev_bar.js
  client/src/panels/panel_declarations/finances/sobj/spend_rev_pie.js
Due: client, cypress

Hotfix, forgot to update homepage supps b link
  client/src/home/home-data.js
Due: client, cypress

Follow up supps B hotfix, forgot a few files... oops
  client/src/common_text/common_lang.yaml
  client/src/home/home-data.js
  client/src/models/estimates.ts
Due: client, cypress

Update definitions and remove redundant graphs
  client/src/panels/get_panels_for_subject/get_program_panels.js
  client/src/panels/panel_declarations/finances/index.js
  client/src/panels/panel_declarations/finances/sobj/expenditure_bar.js
  client/src/panels/panel_declarations/finances/sobj/expenditure_bar.yaml
  client/src/panels/panel_declarations/finances/sobj/index.js
  client/src/panels/panel_declarations/finances/sobj/spend_bar.js
  client/src/panels/panel_declarations/finances/sobj/spend_bar.yaml
  client/src/panels/panel_declarations/finances/sobj/spend_rev_pie.js
  client/src/panels/panel_declarations/finances/sobj/spend_rev_pie.yaml
  client/src/panels/panel_declarations/index.js
  data/glossary.csv
Due: client, cypress

Update intro to display exp offset value
  client/src/panels/panel_declarations/finances/sobj/spend_bar.js
  client/src/panels/panel_declarations/finances/sobj/spend_bar.yaml
Due: client, cypress

Update gross spending by sobj panel to display HBar graph instead of pie chart
  client/src/panels/panel_declarations/finances/sobj/top_spending_areas.js
  client/src/panels/panel_declarations/finances/sobj/top_spending_areas.yaml
Due: client, cypress

Remove the results overview tab, update results intro progragraph and about gov bubble
  client/src/panels/panel_declarations/intro/simplographic/simplographic.js
  client/src/panels/panel_declarations/intro/simplographic/simplographic.yaml
  client/src/panels/panel_declarations/results/CommonDrrSummary.js
  client/src/panels/panel_declarations/results/CommonDrrSummary.yaml
Due: client, cypress

Clean up custom table and filter out empty sobj
  client/src/panels/panel_declarations/finances/sobj/top_spending_areas.js
  client/src/panels/panel_declarations/finances/sobj/top_spending_areas.yaml
Due: client, cypress

Update tooltip on bar graph
  client/src/panels/panel_declarations/finances/sobj/top_spending_areas.js
Due: client, cypress

Update custom table headers
  client/src/panels/panel_declarations/finances/sobj/top_spending_areas.js
Due: client, cypress

Server populate script complete re-write to accomodate new data structure
  data/People_data_lookup.csv
  data/goc-org-variants.csv
  data/test_org_employee_age_group.csv
  data/test_org_employee_avg_age.csv
  data/test_org_employee_dept.csv
  data/test_org_employee_ex_lvl.csv
  data/test_org_employee_fol.csv
  data/test_org_employee_gender.csv
  data/test_org_employee_region.csv
  data/test_org_employee_type.csv
  server/src/models/people/populate.js
  server/src/models/people/utils.js
Due: server

French text
  client/src/panels/panel_declarations/intro/simplographic/simplographic.yaml
  client/src/panels/panel_declarations/results/CommonDrrSummary.yaml
Due: client, cypress

add <br> on a single line break
  client/src/general_utils.ts
Due: client, cypress

PA & DRR manual changes
  client/src/common_text/template_globals.yaml
  client/src/home/home-data.js
  client/src/home/home.yaml
  client/src/models/results/results.js
Due: client, cypress

Temp banner for untabled orgs
  client/src/core/NavComponents.js
  client/src/models/footnotes/dynamic_footnotes.yaml
  client/src/models/results/results.js
  client/src/panels/get_panels_for_subject/get_crso_panels.js
  client/src/panels/get_panels_for_subject/get_dept_panels.js
  client/src/panels/get_panels_for_subject/get_gov_panels.js
  client/src/panels/get_panels_for_subject/get_program_panels.js
  client/src/panels/panel_declarations/index.js
  client/src/panels/panel_declarations/misc/index.js
  client/src/panels/panel_declarations/misc/warning_panels.js
Due: client, cypress

Fixed typo in template_globals
  client/src/common_text/template_globals.yaml
Due: client, cypress

Updated french text
  client/src/panels/panel_declarations/finances/sobj/top_spending_areas.yaml
Due: client, cypress

Path conditions:
  client: any of: client/
  cypress: any of: client/
  server: any of: server/
  form_backend: any of: form_backend/
