Repository TBS-EACPD/infobase: changes, and which Codecov flags are due for each by the changed paths.
All: client, cypress, server, form_backend

Snapshot fix post rebase conflict
  server/src/models/services/__snapshots__/services.snapshot-test.js.snap
Due: server

Comment out Last GBA+ analysis and Last improvement base on feedback fields
  client/src/panels/panel_declarations/services/single_service_panels/service_overview.js
Due: client, cypress

Fixed route bug when a service has no standards
  client/src/panels/panel_declarations/services/single_service_panels/service_standards.js
Due: client, cypress

active service count text bug fixed
  client/src/panels/panel_declarations/services/provided_services_list.js
  client/src/panels/panel_declarations/services/services.yaml
Due: client, cypress

Temporary hard coded list of service data gap with warning banner
  client/src/panels/get_panels_for_subject/get_dept_panels.js
  client/src/panels/get_panels_for_subject/get_program_panels.js
  client/src/panels/panel_declarations/index.js
  client/src/panels/panel_declarations/misc/index.js
  client/src/panels/panel_declarations/misc/warning_panels.js
  client/src/panels/panel_declarations/misc/warning_panels.yaml
Due: client, cypress

Removed endless loading spinner when dept has no services with standards, added generic text
  client/src/panels/panel_declarations/services/services.yaml
  client/src/panels/panel_declarations/services/services_standards.js
Due: client, cypress

Update get_is_target_met logic to match service-inventory-etl
  client/src/panels/panel_declarations/services/single_service_panels/service_standards.js
Due: client, cypress

Cypress snapshot update
  client/cypress/integration/InfoBase/cypress-snapshots.js
  client/src/panels/panel_declarations/services/application_channels_by_services.js
Due: client, cypress

Post-rebase update to new service query imports
  client/src/panels/panel_declarations/misc/warning_panels.js
Due: client, cypress

get_is_target_met adjustment to match open data no data results
  client/src/panels/panel_declarations/services/single_service_panels/service_standards.js
Due: client, cypress

Methodology change fake footnote for service standards
  client/src/models/footnotes/footnote_topics.yaml
  client/src/panels/panel_declarations/services/services.yaml
  client/src/panels/panel_declarations/services/single_service_panels/service_standards.js
Due: client, cypress

Comment out last accessibilty review field in overview, too low level of reporting
  client/src/panels/panel_declarations/services/single_service_panels/service_overview.js
Due: client, cypress

cleaning up some TODOs
  client/src/panels/panel_declarations/services/services.yaml
  server/src/models/services/populate.js
Due: client, cypress, server

Bubble menu adjustment when only 1 item
  client/src/infographic/BubbleMenu.js
Due: client, cypress

year-ize service standard summary and add dropdown to select year, add standard years to general stats
  client/src/common_text/common_lang.yaml
  client/src/models/services/queries/ServiceSummaryGov/ServiceSummaryGov.gql.ts
  client/src/models/services/queries/ServiceSummaryGov/ServiceSummaryGov.graphql
  client/src/models/services/queries/ServiceSummaryOrg/ServiceSummaryOrg.gql.ts
  client/src/models/services/queries/ServiceSummaryOrg/ServiceSummaryOrg.graphql
  client/src/models/services/queries/ServiceSummaryProgram/ServiceSummaryProgram.gql.ts
  client/src/models/services/queries/ServiceSummaryProgram/ServiceSummaryProgram.graphql
  client/src/panels/panel_declarations/services/application_channels_by_services.js
  client/src/panels/panel_declarations/services/services.yaml
  client/src/panels/panel_declarations/services/services_channels.js
  client/src/panels/panel_declarations/services/services_standards.js
  client/src/types.gql.ts
  server/src/models/services/__snapshots__/services.snapshot-test.js.snap
  server/src/models/services/models.js
  server/src/models/services/populate.js
  server/src/models/services/schema.js
  server/src/models/services/services.snapshot-test.js
Due: client, cypress, server

adding more context to TODO comments
  client/src/panels/get_panels_for_subject/get_dept_panels.js
  client/src/panels/get_panels_for_subject/get_program_panels.js
  client/src/panels/panel_declarations/services/services_intro.js
  client/src/panels/panel_declarations/services/single_service_panels/service_overview.js
  server/src/models/services/populate.js
Due: client, cypress, server

Add no applications text to overview panel
  client/src/panels/panel_declarations/services/single_service_panels/service_overview.js
Due: client, cypress

update test data and snapshot
  data/test-data/service-reports.csv
  data/test-data/service-urls.csv
  data/test-data/services.csv
  data/test-data/standard-reports.csv
  data/test-data/standards.csv
  server/src/models/services/__snapshots__/services.snapshot-test.js.snap
Due: server

Add title to nivo table button
  client/src/charts/wrapped_nivo/wrapped_nivo_common.js
Due: client, cypress

remove banners
  client/src/panels/get_panels_for_subject/get_dept_panels.js
  client/src/panels/get_panels_for_subject/get_program_panels.js
  client/src/panels/panel_declarations/index.js
  client/src/panels/panel_declarations/misc/index.js
  client/src/panels/panel_declarations/misc/warning_panels.js
  client/src/panels/panel_declarations/misc/warning_panels.yaml
Due: client, cypress

changing is_target_met logic
  client/src/panels/panel_declarations/services/single_service_panels/service_standards.js
Due: client, cypress

tab the years for standards
  client/src/panels/panel_declarations/services/single_service_panels/service_standards.js
Due: client, cypress

revert int years back to string years
  client/src/panels/panel_declarations/services/single_service_panels/service_standards.js
  server/src/models/services/__snapshots__/services.snapshot-test.js.snap
  server/src/models/services/models.js
  server/src/models/services/schema.js
Due: client, cypress, server

new single service standard visualization by year
  client/src/panels/panel_declarations/services/services.yaml
  client/src/panels/panel_declarations/services/single_service_panels/service_standards.js
Due: client, cypress

Cleaned up some SI_TODOs
  client/src/panels/panel_declarations/services/services.yaml
  client/src/panels/panel_declarations/services/single_service_panels/service_overview.js
Due: client, cypress

revert is_target_met logic
  client/src/panels/panel_declarations/services/single_service_panels/service_standards.js
Due: client, cypress

Online status text adjustment
  client/src/panels/panel_declarations/services/services.yaml
Due: client, cypress

french translation for a sentence
  client/src/panels/panel_declarations/services/services.yaml
Due: client, cypress

Add fields to service overview
  client/src/panels/panel_declarations/services/services.yaml
  client/src/panels/panel_declarations/services/single_service_panels/service_overview.js
Due: client, cypress

standards report is_target_met was changed from TRUE or FALSE to 1 or 0
  server/src/models/services/models.js
  server/src/models/services/populate.js
Due: server

Path conditions:
  client: any of: client/
  cypress: any of: client/
  server: any of: server/
  form_backend: any of: form_backend/
