Repository TBS-EACPD/infobase: changes, and which Codecov flags are due for each by the changed paths.
All: client, cypress, server, form_backend

codecov.yml:

flags:
  client:
    paths:
      - ./client/
  cypress:
    paths:
      - ./client/
  server:
    paths:
      - ./server/
  form_backend:
    paths:
      - ./form_backend/

coverage:
  status:
    project:
      default:
        flags:
          - client
          - cypress
          - server
          - form_backend
      client:
        flags:
          - client
      cypress:
        flags:
          - cypress
        target: auto
      server:
        flags:
          - server
      form_backend:
        flags:
          - form_backend
        target: auto

Drop overlooked leftover FAQ case in validate_completed_template.unit-test.js
  form_backend/src/template_utils/validate_completed_template.unit-test.js
Due: form_backend

change faq value_type to json, acknowledging FAQ covered by all_required_user_fields_are_filled, small fixes
  client/src/FormFrontend/FormFrontend.js
  client/src/FormFrontend/FormFrontend.yaml
  form_backend/src/form_backend.js
  form_backend/src/template_utils/validate_completed_template.js
  form_backend/templates/report_a_problem.json
Due: client, cypress, form_backend

Fix form backend end to end test template
  form_backend/templates/test_template.test.json
Due: form_backend

qa object instead of array
  client/src/FormFrontend/FormFrontend.js
  form_backend/templates/report_a_problem.json
Due: client, cypress, form_backend

got rid of form_faq flag, moved faq into form_backend server
  client/src/FormFrontend/FormFrontend.js
  client/src/core/injected_build_constants.ts
  form_backend/templates/report_a_problem.json
Due: client, cypress, form_backend

hide faq for now
  client/src/FormFrontend/FormFrontend.js
  form_backend/src/form_backend.js
  form_backend/templates/report_a_problem.json
Due: client, cypress, form_backend

la FAQ not les, hidden key in template, minor changes, no more stay_completed key
  client/src/FormFrontend/FormFrontend.js
  client/src/FormFrontend/FormFrontend.yaml
  form_backend/src/template_utils/validate_completed_template.js
  form_backend/templates/report_a_problem.json
Due: client, cypress, form_backend

updating unit tests
  form_backend/src/form_backend.end-to-end-test.js
  form_backend/src/template_utils/validate_completed_template.unit-test.js
Due: form_backend

minor styling changes
  client/src/FormFrontend/FormFrontend.js
  client/src/FormFrontend/FormFrontend.yaml
Due: client, cypress

faq acknowledgement stays complete when user resets the form
  client/src/FormFrontend/FormFrontend.js
  form_backend/templates/report_a_problem.json
Due: client, cypress, form_backend

text keys only in form backend
  client/src/FormFrontend/FormFrontend.js
  client/src/FormFrontend/FormFrontend.yaml
  form_backend/templates/report_a_problem.json
Due: client, cypress, form_backend

added PinnedFAQ to FormFrontend, fixed error in PinnedFAQ, new yaml file
  client/src/FormFrontend/FormFrontend.js
  client/src/FormFrontend/FormFrontend.yaml
  client/src/common_text/faq/form_questions.yaml
Due: client, cypress

Fix form backend template validation behaviour, covering new hidden field types
  form_backend/src/template_utils/validate_completed_template.js
  form_backend/src/template_utils/validate_completed_template.unit-test.js
Due: form_backend

created no_pin prop for PinnedFAQ, got rid of outer div
  client/src/FormFrontend/FormFrontend.js
  client/src/components/PinnedFAQ/PinnedFAQ.js
Due: client, cypress

added form faq flag
  client/src/FormFrontend/FormFrontend.js
  client/src/common_text/faq/form_questions.yaml
  client/src/core/injected_build_constants.ts
Due: client, cypress

added templates field to faq in the report_a_problem.json so FormFrontend doesn't know about the specific faq key when creating user_fields
  client/src/FormFrontend/FormFrontend.js
  form_backend/templates/report_a_problem.json
Due: client, cypress, form_backend

Use hidden: true property consistently in form backend templates, replaces form_type: false pattern for non-user fields
  form_backend/templates/feedback.json
  form_backend/templates/feedback_simplified.json
  form_backend/templates/report_a_problem.json
  form_backend/templates/service_inventory_feedback.json
Due: form_backend

using FancyUL instead of PinnedFAQ, got rid of no_pin on PinnedFAQ
  client/src/FormFrontend/FormFrontend.js
  client/src/components/PinnedFAQ/PinnedFAQ.js
Due: client, cypress

cleanup: forgot to delete no_pin in PinnedFAQ, deleted sample yaml file
  client/src/common_text/faq/form_questions.yaml
  client/src/components/PinnedFAQ/PinnedFAQ.js
Due: client, cypress

minor style change
  client/src/FormFrontend/FormFrontend.js
Due: client, cypress

deleted sample faqs
  client/src/FormFrontend/FormFrontend.js
  client/src/common_text/faq/form_questions.yaml
Due: client, cypress

Rename form template hidden property to is_user_hidden
  client/src/FormFrontend/FormFrontend.js
  form_backend/src/template_utils/validate_completed_template.js
  form_backend/src/template_utils/validate_completed_template.unit-test.js
  form_backend/templates/feedback.json
  form_backend/templates/feedback_simplified.json
  form_backend/templates/report_a_problem.json
  form_backend/templates/service_inventory_feedback.json
  form_backend/templates/test_template.test.json
Due: client, cypress, form_backend

hide faq for now
  client/src/FormFrontend/FormFrontend.js
  client/src/FormFrontend/FormFrontend.yaml
  form_backend/templates/report_a_problem.json
Due: client, cypress, form_backend

validating completed template, forgot to re-add the checkbox earlier
  client/src/FormFrontend/FormFrontend.js
  client/src/FormFrontend/FormFrontend.yaml
  form_backend/src/template_utils/validate_completed_template.js
Due: client, cypress, form_backend

creating custom value_type 'true'
  client/src/FormFrontend/FormFrontend.js
  form_backend/src/db_utils/write_to_db.js
  form_backend/src/form_backend.js
  form_backend/src/template_utils/validate_completed_template.js
  form_backend/templates/report_a_problem.json
Due: client, cypress, form_backend

french translation for acknowledging the FAQ
  client/src/FormFrontend/FormFrontend.yaml
Due: client, cypress

changing aria-sort on DisplayTable
  client/src/components/DisplayTable/DisplayTable.tsx
Due: client, cypress

Quick hotfix, should have marked the faq field on the report a problem template as not required for now since it's hidden and can't be completed by users
  form_backend/templates/report_a_problem.json
Due: form_backend

Minor French tweak
  client/src/about/about.yaml
  client/src/common_text/faq/people_questions.yaml
Due: client, cypress

Fill in DataSources model definitions (mostly, solution for descriptions from glossary TODO)
  client/src/metadata/data_sources.js
  client/src/models/metadata/DataSets.ts
  client/src/models/metadata/DataSources.ts
  client/src/models/metadata/DataSources.tsx
  client/src/models/metadata/DataSources.yaml
Due: client, cypress

Add own-key to each DataSource and DataSet in the final object, change DataSet.sources to an array of DataSources instead of a dictionary. Should be easier to use in practice
  client/src/models/metadata/DataSets.ts
  client/src/models/metadata/DataSources.tsx
Due: client, cypress

Drop ANNUAL and QUARTERLY as topic keys. Unused outside of the report builder table picker, and that information should come from the source's frequency property instead
  client/src/models/metadata/DataSets.ts
  client/src/tables/orgSobjs.js
  client/src/tables/orgTransferPayments.js
  client/src/tables/orgVoteStatPa.js
  client/src/tables/programFtes.js
  client/src/tables/programSobjs.js
  client/src/tables/programSpending.js
  client/src/tables/programVoteStat.js
Due: client, cypress

Add string union type for allowed footnote topic keys, belonging to models/footnotes
  client/src/models/footnotes/dynamic_footnotes.ts
  client/src/models/footnotes/footnotes.ts
  client/src/models/footnotes/populate_footnotes.ts
  client/src/models/metadata/DataSets.ts
  client/src/tables/TableClass.js
Due: client, cypress

Delete eslint import order ignore in DataSets.ts, not an issue (coincidentally, but I'll take it) with added import from /types/type_utils
  client/src/models/metadata/DataSets.ts
Due: client, cypress

Ah, update metadata route to datasets in the cypress axe snapshot
  client/cypress/integration/InfoBase/cypress-snapshots.js
Due: client, cypress

Write LiteralKeyedRecordHelper tests
  client/src/types/type_utils.unit-test.ts
Due: client, cypress
