Repository TBS-EACPD/infobase: changes, and which Codecov flags are due for each by the changed paths.
All: client, cypress, server, form_backend

Never hit node modules with istanbul plugin
  client/build_code/webpack_common.js
Due: client, cypress

Rename codecov e2e flag to e2e_shallow, don't want any misconceptions of it's value. Add badges for it to the root and client readme's
  .circleci/config.yml
  README.md
  client/README.md
  codecov.yml
Due: client, cypress

Turn all route load tests back on. Set CI build job to no concurrency (hopefully temporary)
  .circleci/config.yml
  client/cypress/integration/InfoBase/route_tests.spec.js
Due: client, cypress

Temporary commit with webpack cache use disabled to test worst case memory usage of hlaf-concurrency build with the istanbul plugin running
  .circleci/config.yml
Due: none

Make webpack istanbul instrumentation an explicit option, off by default but used during CI builds
  .circleci/config.yml
  client/build_code/webpack_common.js
  client/build_code/webpack_starter.js
Due: client, cypress

Tweak codecov.yml, more explicit configuration of target: auto on e2e_shallow and form_backend flags. Leave note that e2e_shallow threshold value might need to be increased at some point
  codecov.yml
Due: none

Upload cypress generated coverage reports to codecov
  .circleci/config.yml
Due: none

With webpack cache still disabled, try babel istanbul plugin configured to not include source maps for instrumentation (should improve memory usage, effect on coverage output to be seen)
  client/build_code/webpack_common.js
Due: client, cypress

Fingers crossed this memory limit will let two concurrent webpack builds, with the chunky istanbul plugin, fit in to CI (still testing worst case cache-less builds)
  .circleci/config.yml
Due: none

Rename that flag from cypress to e2e, will make more sense for it's in-practice use
  .circleci/config.yml
  codecov.yml
Due: none

Set CI build concurrency back to none, webpack cache still disabled, istanbul useInlineSourceMaps false
  .circleci/config.yml
Due: none

Tweaking istanbul/CI build concurrency options around, see if I can find a usable configuration that doesn't break the memory budget...
  .circleci/config.yml
  client/build_code/webpack_common.js
Due: client, cypress

Turn CI webpack cache back on, since the current configuration should be good on memory
  .circleci/config.yml
Due: none

Fix typos in some CI run_codecov command coverage_path parameters
  .circleci/config.yml
Due: none

Increase CI client build script max_old_space_size to 2048
  .circleci/config.yml
Due: none

Add distinct codecov flag for basic e2e tests, add option flag parameter to CI run_codecov command
  .circleci/config.yml
  codecov.yml
Due: none

Basic cypress code coverage generation setup
  client/.nycrc.json
  client/build_code/webpack_common.js
  client/cypress/integration/InfoBase/route_tests.spec.js
  client/cypress/plugins/index.js
  client/cypress/support/index.js
  client/package-lock.json
  client/package.json
Due: client, cypress

No-op commit, I believe code cov needs a kick to properly present the E2E coverage on master
  .eslintignore
Due: none

Mains 2022 featured content link
  client/src/home/home-data.js
  client/src/home/home.yaml
Due: client, cypress

Switch estimates comparison tool text to mains mode
  client/src/home/home-data.js
Due: client, cypress

Hotfix, COVID estimates Supps C 2021 reprofile tooltips
  client/src/panels/panel_declarations/covid/covid_estimates_tooltips.js
  client/src/panels/panel_declarations/covid/covid_estimates_tooltips.yaml
Due: client, cypress

Fix typo in est_in_year
  client/src/common_text/template_globals.yaml
Due: client, cypress

Minor tangent, drop vestigial "footnote-topics" property from tables
  client/src/tables/TableClass.js
  client/src/tables/orgVoteStatEstimates.js
  client/src/tables/programFtes.js
Due: client, cypress

Drop one remaining refference to Interim Estimates
  client/src/panels/panel_declarations/covid/covid_common_utils.js
Due: client, cypress

Clean up some strange legacy estimates code that seemed to think votes would be mixed in to the dataset's estimates document column
  client/src/models/businessConstants.ts
  client/src/tables/orgVoteStatEstimates.js
  server/src/models/vote_stat/constants.js
Due: client, cypress, server

Centralize a bunch of estimates related information and utils in src/models/estimates
  client/src/EstimatesComparison/EstimatesExplorerComponent.js
  client/src/models/businessConstants.ts
  client/src/models/estimates.ts
  client/src/panels/panel_declarations/covid/covid_common_utils.js
  client/src/panels/panel_declarations/covid/covid_estimates.js
  client/src/panels/panel_declarations/finances/vote_stat/in_year_estimates_split.js
  client/src/tables/orgVoteStatEstimates.js
Due: client, cypress

Move current estimate doc configuration value to src/models/estimates
  client/src/EstimatesComparison/utils.js
  client/src/models/estimates.ts
  client/src/panels/panel_declarations/finances/vote_stat/vote_stat_text_provider.js
  client/src/tables/orgVoteStatEstimates.js
Due: client, cypress

Make home page estimates comparison text switch from mains to supps mode based on CURRENT_EST_DOC
  client/src/home/home-data.js
  client/src/models/estimates.ts
Due: client, cypress

Real main estimates 2022 data
  data/dept_code_to_csv_name.csv
  data/org_vote_stat_estimates.csv
Due: none

Confirmed that estimates dataset now uses the estimates doc code MAINS instead of ME, update test data, snapshot, and drop mapping in orgVoteStatEstimates
  client/src/tables/orgVoteStatEstimates.js
  data/test-data/org_vote_stat_estimates.csv
  server/src/models/finances/__snapshots__/finances.snapshot-test.js.snap
Due: client, cypress, server

Fix RPB group by radio button behaviour
  client/src/rpb/granular_view.js
Due: client, cypress

FAKE mains 2022 data
  client/src/common_text/template_globals.yaml
  data/org_vote_stat_estimates.csv
Due: client, cypress

Drop old Interim Estimates and est_next_year-related text and code; not part of the current estimates process
  client/src/EstimatesComparison/EstimatesComparison.yaml
  client/src/EstimatesComparison/EstimatesExplorerComponent.js
  client/src/common_text/common_lang.yaml
  client/src/common_text/estimates_lang.yaml
  client/src/common_text/template_globals.yaml
  client/src/models/businessConstants.ts
  client/src/models/years.js
  client/src/panels/panel_declarations/finances/vote_stat/vote_stat_text.yaml
Due: client, cypress

Path conditions:
  client: any of: client/
  cypress: any of: client/
  server: any of: server/
  form_backend: any of: form_backend/
