Repository TBS-EACPD/infobase: changes, and which Codecov flags are due for each by the changed paths.
All: client, cypress, server, form_backend

codecov.yml:

flags:
  client:
    paths:
      - ./client/
  cypress:
    paths:
      - ./client/
  server:
    paths:
      - ./server/
  form_backend:
    paths:
      - ./form_backend/

coverage:
  status:
    project:
      default:
        flags:
          - client
          - cypress
          - server
          - form_backend
      client:
        flags:
          - client
      cypress:
        flags:
          - cypress
        target: auto
      server:
        flags:
          - server
      form_backend:
        flags:
          - form_backend
        target: auto

Minor hotfix to tmux_env script, GQL Types Codegen task did not always succesfully continue from the health check to the code gen step. Now it does
  scripts/dev_scripts/tmux_env.sh
Due: none

Add spacing between import groups
  client/src/components/RadioButtons/RadioButtons.unit-test.tsx
Due: client, cypress

Fresh footnotes from pipeline as of December 15th 2022
  data/footnotes.csv
Due: none

pinnedContent js to tsx conversion - error commented
  client/src/components/PinnedContent/PinnedContent.tsx
Due: client, cypress

French text hotfix for covid intro
  client/src/panels/panel_declarations/covid/covid_intro.yaml
Due: client, cypress

Fill in missing DRR2021 document URL fields
  client/src/models/results/results.js
Due: client, cypress

Drop _3 from MongoDB connection string env vars. This is to correspond with an update in our secret management solution to phase out old V1 MongoDB connection strings and only retain the V3 strings
  form_backend/scripts/util/set_transient_secrets.sh
  server/scripts/deploy/ci_deploy_function.sh
  server/scripts/deploy/set_transient_data_secrets.sh
  server/scripts/deploy/set_transient_function_secrets.sh
Due: server, form_backend

Update security issue contact email
  SECURITY.md
  client/package.json
  package.json
Due: client, cypress

Fresh data from pipeline
  data/covid_expenditures.csv
  data/footnotes.csv
  data/igoc.csv
  data/igoc_en.csv
  data/igoc_fr.csv
  data/ministries.csv
  data/program.csv
  data/program_en.csv
  data/program_fr.csv
  data/tags_to_programs.csv
Due: none

Update late banner submissions
  client/src/models/footnotes/dynamic_footnotes.ts
  client/src/models/results/results.js
Due: client, cypress

Updated year values
  client/src/common_text/template_globals.yaml
Due: client, cypress

Removed 'new' tags
  client/src/home/home-data.js
Due: client, cypress

Updated Current_EST_DOC
  client/src/models/estimates.ts
Due: client, cypress

Edited common_lang years,added main link in featured,and hardcoded sups letter C
  client/src/EstimatesComparison/utils.js
  client/src/common_text/common_lang.yaml
  client/src/home/home-data.js
Due: client, cypress

Ran npx prettier
  client/src/EstimatesComparison/utils.js
Due: client, cypress

Removed SEB/SEC feature link
  client/src/home/home-data.js
Due: client, cypress

Reverted most years back to master version except for est
  client/src/common_text/template_globals.yaml
Due: client, cypress

Revert some hardcoded changes and estimates data update
  client/src/EstimatesComparison/utils.js
  client/src/common_text/template_globals.yaml
  data/igoc.csv
  data/igoc_en.csv
  data/igoc_fr.csv
  data/org_to_minister.csv
  data/org_vote_stat_estimates.csv
  data/url_lookups.csv
Due: client, cypress

dept_code_to_csv_name update
  data/dept_code_to_csv_name.csv
Due: none

Added spending and employment trend footnote
  data/footnotes.csv
Due: none

Authorities & Spending panel Pacific Economic footnotes & new topic keys
  client/src/models/footnotes/footnote_topics.yaml
  client/src/models/footnotes/footnotes.ts
  client/src/panels/panel_declarations/finances/auth_exp_planned_spending/auth_exp_planned_spending.js
  data/footnotes.csv
Due: client, cypress
