Repository TBS-EACPD/infobase: changes, and which Codecov flags are due for each by the changed paths.
All: client, cypress, server, form_backend

codecov.yml:

flags:
  client:
    paths:
      - ./client/
  cypress:
    paths:
      - ./client/
  server:
    paths:
      - ./server/
  form_backend:
    paths:
      - ./form_backend/

coverage:
  status:
    project:
      default:
        flags:
          - client
          - cypress
          - server
          - form_backend
      client:
        flags:
          - client
      cypress:
        flags:
          - cypress
        target: auto
      server:
        flags:
          - server
      form_backend:
        flags:
          - form_backend
        target: auto

Make filter for results and indicators records case insensitive
  server/src/models/results/populate.js
Due: server

Update refresh frequency of service inventory to quarterly
  client/src/models/metadata/Sources.tsx
Due: client, cypress

Delete test-data files related to old service files
  data/test-data/service-reports.csv
  data/test-data/service-urls.csv
  data/test-data/service_types_lookup.csv
  data/test-data/services.csv
  data/test-data/standard-reports.csv
  data/test-data/standards.csv
Due: none

Remove igoc_en and igoc_fr
  client/build_code/copy_static_assets.js
  client/src/models/populate_initial_stores_from_lookups.ts
  client/src/models/subjects/Dept.ts
  client/src/models/subjects/populate_subjects.ts
  data/igoc_en.csv
  data/igoc_fr.csv
Due: client, cypress

FTE file from Chav
  data/program_ftes.csv
Due: none

Update articles
  client/src/models/subjects/Dept.ts
  client/src/models/subjects/populate_subjects.ts
Due: client, cypress

Create helper function to select lang
  client/src/models/subjects/populate_subjects.ts
Due: client, cypress

Remove planned ftes
  data/program_ftes.csv
Due: none

Planned FTE banner
  client/src/core/NavComponents.js
  client/src/models/footnotes/dynamic_footnotes.yaml
  client/src/models/results/results.js
  client/src/panels/get_panels_for_subject/get_crso_panels.js
  client/src/panels/get_panels_for_subject/get_dept_panels.js
  client/src/panels/get_panels_for_subject/get_gov_panels.js
  client/src/panels/get_panels_for_subject/get_program_panels.js
  client/src/panels/panel_declarations/index.js
  client/src/panels/panel_declarations/misc/index.js
  client/src/panels/panel_declarations/misc/warning_panels.js
Due: client, cypress

program_ftes csv only remove 3 planning years for GSC, HRSD, and PCA
  data/program_ftes.csv
Due: none

missed a GSC program
  data/program_ftes.csv
Due: none

forgot to convert igoc_fr to LF
  data/igoc_fr.csv
Due: none

forgot to delete est_last_year_5
  data/org_vote_stat_estimates.csv
Due: none

default value when missing data for incomplete series
  client/src/charts/wrapped_nivo/NivoLineBarToggle/NivoLineBarToggle.js
  client/src/panels/panel_declarations/people/employee_age.js
  client/src/panels/panel_declarations/people/employee_fol.js
  client/src/panels/panel_declarations/people/employee_gender.js
Due: client, cypress

delete duplicate program activity code entry
  data/program.csv
  data/program_en.csv
  data/program_fr.csv
Due: none

home links
  client/src/home/home-data.js
Due: client, cypress

Remove filtering out ISS programs and allow variations other than ISS0X
  server/src/models/services/populate.js
Due: server

DRR, PA, SEB setup
  client/src/common_text/template_globals.yaml
  client/src/core/NavComponents.js
  client/src/home/home-data.js
  client/src/home/home.yaml
  client/src/models/estimates.ts
  client/src/models/results/results.js
  client/src/types/types.gql.ts
  server/src/models/results/results_common.js
Due: client, cypress, server

remove NSIRA from banner
  client/src/models/results/results.js
Due: client, cypress

fixed prettier error
  client/build_code/write_footnote_bundles.js
Due: client, cypress
