Repository TBS-EACPD/infobase: changes, and which Codecov flags are due for each by the changed paths.
All: client, server, form-backend

codecov.yml:

flags:
  client:
    paths:
      - ./client/
  server:
    paths:
      - ./server/
  form-backend:
    paths:
      - ./form_backend/

coverage:
  status:
    project:
      default:
        flags:
          - client
          - server
          - form-backend
      client:
        flags:
          - client
      server:
        flags:
          - server
      form-backend:
        flags:
          - form-backend

Update CI docker files/images to use node 16 (one package changed in arch image, new base for cypress image)
  .circleci/config.yml
  dockerfiles/ci/Dockerfile
  dockerfiles/cypress/Dockerfile
Due: none

Update node version specified in server and form_backend package.json and .babelrc configurations
  form_backend/.babelrc
  form_backend/package.json
  server/.babelrc
  server/package.json
Due: server, form-backend

(re)cleanup some references to the old server/form_backend transpilation (accidentally reintroduced some of these in the previous commit while making reverts to bring back babel for jest's sake)
  .eslintignore
  .prettierignore
  form_backend/.gitignore
  form_backend/jest_configs/common_config.js
  server/.gitignore
  server/README.md
  server/jest_configs/common_config.js
  server/package.json
Due: server, form-backend

Update README's to specify that node 16 is expected for development
  client/README.md
  form_backend/README.md
  server/README.md
Due: client, server, form-backend

GCF has full support for ESModules now, drop transpilation in the server and form_backend deploys
  form_backend/.babelrc
  form_backend/.gcloudignore
  form_backend/package-lock.json
  form_backend/package.json
  form_backend/scripts/deploy/build.sh
  form_backend/scripts/deploy/prod_deploy_form_backend_function.sh
  server/.babelrc
  server/.gcloudignore
  server/package-lock.json
  server/package.json
  server/scripts/deploy/build.sh
  server/scripts/deploy/prod_deploy_function.sh
Due: server, form-backend

Update cypress image MongoDB to 5 (skipping installing mongosh in there for now, doesn't need to bloat
  .circleci/config.yml
  dockerfiles/cypress/Dockerfile
Due: none

Ok, minor difference between old mongo shell and mongosh, impact on prod deploy script. Fixed
  scripts/prod_scripts/prod_deploy.sh
Due: none

Add client webpack option to skip type checking, make use of this option in build_all.sh to save on memory cost. In build_all.sh, run prettier and type checking as pre-build steps
  client/build_code/webpack_common.js
  client/build_code/webpack_starter.js
  client/scripts/deploy/build_all.sh
Due: client

Remove static analysis from build_all.sh, add a static analysis script to the root package.json, make it a pre prod_deploy requirement, and use it in CI's static analysis job
  .circleci/config.yml
  client/package.json
  client/scripts/deploy/build_all.sh
  package.json
Due: client

Necessary @cypress/snapshot configuration
  client/cypress.json
  client/cypress/plugins/index.js
  client/cypress/support/commands.js
Due: client

Fixes towards serious level issues and some exclusions
  client/cypress/integration/InfoBase/route_tests.spec.js
  client/src/components/CheckBox/CheckBox.tsx
  client/src/components/VisibilityControl/VisibilityControl.tsx
  client/src/infographic/Infographic.js
  client/src/panels/panel_declarations/services/application_channels_by_services.js
Due: client

Turn cypress route test axe violations in to snapshot tests as a functional allow listing mechanism. Generate the current snapshot file
  client/cypress/integration/InfoBase/cypress-snapshots.js
  client/cypress/integration/InfoBase/route_tests.spec.js
Due: client

Add @cypress/snapshot to client packages
  client/package-lock.json
  client/package.json
Due: client

Forgot to update snapshot
  client/cypress/integration/InfoBase/cypress-snapshots.js
Due: client

Tweaks to axe snapshot creation in cypress route tests. Disable serious level checks
  client/cypress/integration/InfoBase/cypress-snapshots.js
  client/cypress/integration/InfoBase/route_tests.spec.js
Due: client

Make sure cypress snapshots are in prettierignore, re-generate un-prettiered snapshot
  .eslintignore
  .prettierignore
  client/cypress/integration/InfoBase/cypress-snapshots.js
Due: client

Dev banner contrat color fix
  client/src/core/DevFip.ts
Due: client

... well @cypress/snapshot seems to be the best option, so formalize the post-install cleanup of its annoying default file
  client/package.json
  client/scripts/postinstall.sh
Due: client

Minor tweak to cypress snapshot comparisons in CI job, make sure it will properly handle the potential for multiple snapshot files
  .circleci/config.yml
Due: none

Add cypress-snapshots.js, generated file, to .eslintignore
  .eslintignore
Due: none

Update CI cypress snapshot diff failure message, note that formatting is also currently something to keep in mind
  .circleci/config.yml
Due: none

... I think the CI images don't have globstar enabled, testing that (if true, will have to update the images to enable it, so it doesn't become a gotcha in general)
  .circleci/config.yml
Due: none

Fail CI end to end job if the cypress snapshots are updated post-route load tests. If this happens, then the committed snapshot file has not been properly maintained
  .circleci/config.yml
Due: none

Revert infographic.js changes
  client/src/infographic/Infographic.js
Due: client

Generate snapshot of allow listed serious level axe issues
  client/cypress/integration/InfoBase/cypress-snapshots.js
  client/cypress/integration/InfoBase/route_tests.spec.js
Due: client

Updated wrong snapshot...
  client/cypress/integration/InfoBase/cypress-snapshots.js
Due: client

Typo...
  client/cypress/integration/InfoBase/cypress-snapshots.js
Due: client

Had to update another snapshot, I think because of rebase
  client/cypress/integration/InfoBase/cypress-snapshots.js
Due: client

Red banner style tweak
  client/src/core/DevFip.ts
Due: client

Removing h1 margins for text
  client/src/core/DevFip.ts
Due: client

Minor leftover cleanups
  .eslintignore
  client/src/components/CheckBox/CheckBox.tsx
  client/src/components/VisibilityControl/VisibilityControl.tsx
Due: client
