Repository TBS-EACPD/infobase: changes, and which Codecov flags are due for each by the changed paths.
All: client, cypress, server, form_backend

codecov.yml:

flags:
  client:
    paths:
      - ./client/
  cypress:
    paths:
      - ./client/
  server:
    paths:
      - ./server/
  form_backend:
    paths:
      - ./form_backend/

coverage:
  status:
    project:
      default:
        flags:
          - client
          - cypress
          - server
          - form_backend
      client:
        flags:
          - client
      cypress:
        flags:
          - cypress
        target: auto
      server:
        flags:
          - server
      form_backend:
        flags:
          - form_backend
        target: auto

Drop planned revenue/SPA/gross column references in the client
  client/src/panels/get_panels_for_subject/get_crso_panels.js
  client/src/panels/get_panels_for_subject/get_dept_panels.js
  client/src/panels/get_panels_for_subject/get_program_panels.js
  client/src/panels/panel_declarations/finances/drr_dp_resources/dp_rev_split.js
  client/src/panels/panel_declarations/finances/drr_dp_resources/dp_rev_split.yaml
  client/src/panels/panel_declarations/finances/drr_dp_resources/index.js
  client/src/panels/panel_declarations/finances/index.js
  client/src/panels/panel_declarations/index.js
  client/src/tables/programSpending.js
Due: client, cypress

Drop planned revenue/SPA/gross columns in (currently unused) server code
  server/src/models/finances/__snapshots__/finances.snapshot-test.js.snap
  server/src/models/finances/finances.snapshot-test.js
  server/src/models/finances/models.js
  server/src/models/finances/schema.js
Due: server

Drop planned revenue/SPA/gross columns from program spending data inputs (for testing, need to coordinate with the pipeline to drop upstream)
  data/program_spending.csv
  data/test-data/program_spending.csv
Due: none

refreshed program_spending.csv from pipeline branch with unused collumns dropped
  client/src/types.gql.ts
  data/program_spending.csv
Due: client, cypress

minor text tweak
  client/src/panels/panel_declarations/services/services.yaml
Due: client, cypress

standards report is_target_met was changed from TRUE or FALSE to 1 or 0
  server/src/models/services/models.js
  server/src/models/services/populate.js
Due: server

year-ize service standard summary and add dropdown to select year, add standard years to general stats
  client/src/common_text/common_lang.yaml
  client/src/models/services/queries/ServiceSummaryGov/ServiceSummaryGov.gql.ts
  client/src/models/services/queries/ServiceSummaryGov/ServiceSummaryGov.graphql
  client/src/models/services/queries/ServiceSummaryOrg/ServiceSummaryOrg.gql.ts
  client/src/models/services/queries/ServiceSummaryOrg/ServiceSummaryOrg.graphql
  client/src/models/services/queries/ServiceSummaryProgram/ServiceSummaryProgram.gql.ts
  client/src/models/services/queries/ServiceSummaryProgram/ServiceSummaryProgram.graphql
  client/src/panels/panel_declarations/services/application_channels_by_services.js
  client/src/panels/panel_declarations/services/services.yaml
  client/src/panels/panel_declarations/services/services_channels.js
  client/src/panels/panel_declarations/services/services_standards.js
  client/src/types.gql.ts
  server/src/models/services/__snapshots__/services.snapshot-test.js.snap
  server/src/models/services/models.js
  server/src/models/services/populate.js
  server/src/models/services/schema.js
  server/src/models/services/services.snapshot-test.js
Due: client, cypress, server

new single service standard visualization by year
  client/src/panels/panel_declarations/services/services.yaml
  client/src/panels/panel_declarations/services/single_service_panels/service_standards.js
Due: client, cypress

revert is_target_met logic
  client/src/panels/panel_declarations/services/single_service_panels/service_standards.js
Due: client, cypress

last a11y review, gender analysis, improve from feedback in single service overview
  client/src/panels/panel_declarations/services/services.yaml
  client/src/panels/panel_declarations/services/single_service_panels/service_overview.js
Due: client, cypress

changing is_target_met logic
  client/src/panels/panel_declarations/services/single_service_panels/service_standards.js
Due: client, cypress

update test data and snapshot
  data/test-data/service-reports.csv
  data/test-data/service-urls.csv
  data/test-data/services.csv
  data/test-data/standard-reports.csv
  data/test-data/standards.csv
  server/src/models/services/__snapshots__/services.snapshot-test.js.snap
Due: server

change service year string to int
  client/src/panels/panel_declarations/services/single_service_panels/service_standards.js
  server/src/models/services/__snapshots__/services.snapshot-test.js.snap
  server/src/models/services/models.js
  server/src/models/services/schema.js
Due: client, cypress, server

banner for depts, programs that didnt submit services in the latest year, remove decimals in years, service standards table year dropdown
  client/src/panels/get_panels_for_subject/get_dept_panels.js
  client/src/panels/get_panels_for_subject/get_program_panels.js
  client/src/panels/panel_declarations/index.js
  client/src/panels/panel_declarations/misc/index.js
  client/src/panels/panel_declarations/misc/warning_panels.js
  client/src/panels/panel_declarations/misc/warning_panels.yaml
  client/src/panels/panel_declarations/services/single_service_panels/service_standards.js
  server/src/models/services/populate.js
Due: client, cypress, server

revert int years back to string years
  client/src/panels/panel_declarations/services/single_service_panels/service_standards.js
  server/src/models/services/__snapshots__/services.snapshot-test.js.snap
  server/src/models/services/models.js
  server/src/models/services/schema.js
Due: client, cypress, server

only show active badge in provided list of services if there were any services submitted in the latest year
  client/src/panels/panel_declarations/services/provided_services_list.js
Due: client, cypress

fix the new year fields for snapshot tests
  server/src/models/services/populate.js
Due: server

cleaning up some TODOs
  client/src/panels/panel_declarations/services/services.yaml
  server/src/models/services/populate.js
Due: client, cypress, server

Add fields to service overview
  client/src/panels/panel_declarations/services/services.yaml
  client/src/panels/panel_declarations/services/single_service_panels/service_overview.js
Due: client, cypress

tab the years for standards
  client/src/panels/panel_declarations/services/single_service_panels/service_standards.js
Due: client, cypress

SI_TODO for banner warning
  client/src/panels/get_panels_for_subject/get_dept_panels.js
  client/src/panels/get_panels_for_subject/get_program_panels.js
Due: client, cypress

Update no application service text
  client/src/panels/panel_declarations/services/services.yaml
Due: client, cypress

french translation for a sentence
  client/src/panels/panel_declarations/services/services.yaml
Due: client, cypress

remove banners
  client/src/panels/get_panels_for_subject/get_dept_panels.js
  client/src/panels/get_panels_for_subject/get_program_panels.js
  client/src/panels/panel_declarations/index.js
  client/src/panels/panel_declarations/misc/index.js
  client/src/panels/panel_declarations/misc/warning_panels.js
  client/src/panels/panel_declarations/misc/warning_panels.yaml
Due: client, cypress

Bubble menu adjustment when only 1 item
  client/src/infographic/BubbleMenu.js
Due: client, cypress

Add title to nivo table button
  client/src/charts/wrapped_nivo/wrapped_nivo_common.js
Due: client, cypress

remove bar chart in service standards
  client/src/panels/panel_declarations/services/single_service_panels/service_standards.js
Due: client, cypress

adding more context to TODO comments
  client/src/panels/get_panels_for_subject/get_dept_panels.js
  client/src/panels/get_panels_for_subject/get_program_panels.js
  client/src/panels/panel_declarations/services/services_intro.js
  client/src/panels/panel_declarations/services/single_service_panels/service_overview.js
  server/src/models/services/populate.js
Due: client, cypress, server

Post rebase cleanup
  client/src/panels/panel_declarations/services/single_service_panels/service_standards.js
Due: client, cypress

Cleaned up some SI_TODOs
  client/src/panels/panel_declarations/services/services.yaml
  client/src/panels/panel_declarations/services/single_service_panels/service_overview.js
Due: client, cypress

Add no applications text to overview panel
  client/src/panels/panel_declarations/services/single_service_panels/service_overview.js
Due: client, cypress

Online status text adjustment
  client/src/panels/panel_declarations/services/services.yaml
Due: client, cypress

Remove reference to target_type in service standards, tweak is_target_met logic to accomodate for 0% performance on targeted standards when marked as met
  client/src/panels/panel_declarations/services/single_service_panels/service_standards.js
Due: client, cypress
