Repository TBS-EACPD/infobase: changes, and which Codecov flags are due for each by the changed paths.
All: client, cypress, server, form_backend

Fix typo in est_in_year
  client/src/common_text/template_globals.yaml
Due: client, cypress

Mains 2022 featured content link
  client/src/home/home-data.js
  client/src/home/home.yaml
Due: client, cypress

Drop one remaining refference to Interim Estimates
  client/src/panels/panel_declarations/covid/covid_common_utils.js
Due: client, cypress

Minor tangent, drop vestigial "footnote-topics" property from tables
  client/src/tables/TableClass.js
  client/src/tables/orgVoteStatEstimates.js
  client/src/tables/programFtes.js
Due: client, cypress

Real main estimates 2022 data
  data/dept_code_to_csv_name.csv
  data/org_vote_stat_estimates.csv
Due: none

Update hardcoded values for mains 22
  client/src/EstimatesComparison/utils.js
  client/src/common_text/common_lang.yaml
  client/src/common_text/template_globals.yaml
Due: client, cypress

Configure client and server to expect DP22
  client/src/models/results/results.js
  server/src/models/results/results_common.js
Due: client, cypress, server

Add another hacky late results banner, to announce late planned resources outside of the infographic routes
  client/src/core/NavComponents.js
  client/src/models/results/results.js
Due: client, cypress

... return of the flaky "See the data" colour contrast item in the cypress axe snapshots, look in to later
  client/cypress/integration/InfoBase/cypress-snapshots.js
Due: client, cypress

Update the planning year template globals
  client/src/common_text/template_globals.yaml
Due: client, cypress

Add draft DP22 late result and resource orgs
  client/src/models/results/results.js
Due: client, cypress

DP22 featured content link
  client/src/home/home-data.js
  client/src/home/home.yaml
Due: client, cypress

Update late DP org lists
  client/src/models/results/results.js
Due: client, cypress

Footnotes.csv missing program codes patch
  data/footnotes.csv
  data/program.csv
  data/program_en.csv
  data/program_fr.csv
  data/program_ftes.csv
  data/program_spending.csv
  data/tags_to_programs.csv
Due: none

Drop citizenship from late DP banners
  client/src/models/results/results.js
Due: client, cypress

Hotfix out broken footnote entries
  data/footnotes.csv
Due: none

Add orgs with broken program structures to the late DP results/resource banners
  client/src/models/results/results.js
Due: client, cypress

Organize late/problematic DP org lists more clearly, so they'll be easier to manage as they come in
  client/src/models/results/results.js
Due: client, cypress

More clarification on dp_2022_broken_program_structure orgs
  client/src/models/results/results.js
Due: client, cypress

Remove GAC from dp_2022_late_results (don't have their data here yet, but they've submitted)
  client/src/models/results/results.js
Due: client, cypress

Remove privy coucil from dp_2022_late_results_and_resources
  client/src/models/results/results.js
Due: client, cypress

Drop the three easier cases from dp_2022_broken_program_structure, they should all be fixed up stream now (again, pending fresh data from the pipeline)
  client/src/models/results/results.js
Due: client, cypress

Hotfix for escaping of apparent markdown headers in indicator methodology text. Was broken on move to server, missed that the key was bilingual
  server/src/models/results/__snapshots__/results.snapshot-test.js.snap
  server/src/models/results/populate.js
Due: server

Clarify comment on methodology number sign escaping in server populate step, to avoid this confusion about whether it's InfoBase or Titan's responsibility
  server/src/models/results/populate.js
Due: server

Update late DP org lists based off latest Titan dashboards
  client/src/models/results/results.js
Due: client, cypress

Minor wording tweak to misc late planned resources banners
  client/src/models/footnotes/dynamic_footnotes.yaml
Due: client, cypress

Data hotfix, drop resources for missing programs
  data/program_ftes.csv
  data/program_spending.csv
Due: none

Drop Courts Administration Service from PRE_DRR_PUBLIC_ACCOUNTS_LATE_FTE_MOCK_DOC, finally have their actual FTEs
  client/src/models/footnotes/dynamic_footnotes.ts
Due: client, cypress

Tweak order of depts in late results banner, make it easier to visually compare to late FTE banner
  client/src/models/results/results.js
Due: client, cypress

Remove ESED from dp_2022_broken_program_structure list, should be fixed
  client/src/models/results/results.js
Due: client, cypress

Yet more changes to the late DP2022 lists, some removed and some added back in
  client/src/models/results/results.js
Due: client, cypress

Path conditions:
  client: any of: client/
  cypress: any of: client/
  server: any of: server/
  form_backend: any of: form_backend/
