Repository TBS-EACPD/infobase: changes, and which Codecov flags are due for each by the changed paths.
All: client, cypress, server, form_backend

Applying suppressed data pattern to specific data points in graph
  client/src/charts/wrapped_nivo/NivoLineBarToggle/NivoLineBarToggle.js
  client/src/panels/panel_declarations/people/employee_age.js
  client/src/panels/panel_declarations/people/employee_age.yaml
Due: client, cypress

employee fol panel
  client/src/panels/panel_declarations/people/employee_fol.js
Due: client, cypress

employee gender panel
  client/src/panels/panel_declarations/people/employee_gender.js
Due: client, cypress

employee last year totals fixed unused import
  client/src/panels/panel_declarations/people/employee_last_year_totals.js
Due: client, cypress

Add test data for new format
  data/test-data/test_org_employee_avg_age.csv
  data/test-data/test_org_employee_type.csv
Due: none

Initial trial to change graph colors for suppressed data, WIP but need dev link
  client/src/charts/wrapped_nivo/NivoLineBarToggle/NivoLineBarToggle.js
  client/src/charts/wrapped_nivo/WrappedNivoBar/wrapped_nivo_bar.js
  client/src/common_text/people_lang.yaml
  client/src/panels/panel_declarations/people/employee_age.js
  server/src/models/people/populate.js
Due: client, cypress, server

update populate script to handle duplicate entries for same dimensions
  server/src/models/people/populate.js
Due: server

forgot prettier, oops
  client/src/models/people/queries/GovPeopleSummary/GovPeopleSummary.ts
  client/src/panels/panel_declarations/people/employee_fol.js
  client/src/panels/panel_declarations/people/employee_prov.js
  client/src/panels/panel_declarations/people/employee_totals.js
Due: client, cypress

Removed unused variable
  server/src/models/people/populate.js
Due: server

Update server snapshot
  server/src/models/people/people.snapshot-test.js
Due: server

forgot some test data...
  data/test-data/People_data_lookup.csv
  data/test-data/goc-org-variants.csv
Due: none

Fixed import order
  client/src/panels/panel_declarations/people/employee_age.js
Due: client, cypress

Remove some console logs
  client/src/panels/panel_declarations/people/employee_executive_level.js
  client/src/panels/panel_declarations/people/employee_type.js
Due: client, cypress

Update snapshot
  server/src/models/people/__snapshots__/people.snapshot-test.js.snap
Due: server

make executable
  scripts/ci_scripts/cleanup_dev_functions.sh
Due: none

authenticate to gcloud
  .circleci/config.yml
  scripts/ci_scripts/cleanup_dev_functions.sh
  scripts/ci_scripts/cleanup_dev_links.sh
Due: none

oops
  .circleci/config.yml
Due: none

remove namespace flag
  scripts/ci_scripts/cleanup_dev_functions.sh
Due: none

fix dev link cleanup
  scripts/ci_scripts/cleanup_dev_links.sh
Due: none

use gcloud instead of gutils
  scripts/ci_scripts/cleanup_dev_links.sh
Due: none

oops
  scripts/ci_scripts/cleanup_dev_links.sh
Due: none

region flag unsupported
  scripts/ci_scripts/cleanup_dev_links.sh
Due: none

set correct acl value
  scripts/ci_scripts/cleanup_dev_links.sh
Due: none

try again
  scripts/ci_scripts/cleanup_dev_links.sh
Due: none

check functions and delete then check services.
  scripts/ci_scripts/cleanup_dev_functions.sh
Due: none

Custom tooltip formatter and update employee fol to use suppressed pattern
  client/src/charts/wrapped_nivo/NivoLineBarToggle/NivoLineBarToggle.js
  client/src/charts/wrapped_nivo/WrappedNivoBar/wrapped_nivo_bar.js
  client/src/charts/wrapped_nivo/WrappedNivoLine/WrappedNivoLine.js
  client/src/panels/panel_declarations/people/employee_age.js
  client/src/panels/panel_declarations/people/employee_fol.js
  client/src/panels/panel_declarations/people/employee_fol.yaml
Due: client, cypress

Add suppressed logic for employee gender panel
  client/src/panels/panel_declarations/people/employee_gender.js
  client/src/panels/panel_declarations/people/employee_gender.yaml
Due: client, cypress

Path conditions:
  client: any of: client/
  cypress: any of: client/
  server: any of: server/
  form_backend: any of: form_backend/
