Repository TBS-EACPD/infobase: changes, and which Codecov flags are due for each by the changed paths.
All: client, cypress, server, form_backend

First summary content and content rendering tests (tests with both unopened and opened details)
  client/src/components/Details/Details.unit-test.tsx
Due: client, cypress

Removed unused lodash
  client/src/components/Details/Details.unit-test.tsx
Due: client, cypress

Removes content upon second click test
  client/src/components/Details/Details.unit-test.tsx
Due: client, cypress

Seemingly fixed proper line now
  client/src/components/PinnedContent/PinnedContent.tsx
Due: client, cypress

Ran prettier and removed comment
  client/src/components/PinnedContent/PinnedContent.tsx
Due: client, cypress

Ran prettier
  client/src/components/PinnedContent/PinnedContent.tsx
Due: client, cypress

Removed unneeded comment
  client/src/panels/panel_declarations/finances/sobj/personel_spend.js
Due: client, cypress

First bit of work on labeledbox unit test, simple rendering
  client/src/components/LabeledBox/LabeledBox.unit-test.tsx
Due: client, cypress

Removed unused import temporarily
  client/src/components/LabeledBox/LabeledBox.unit-test.tsx
Due: client, cypress

Interactive child button test
  client/src/components/LabeledBox/LabeledBox.unit-test.tsx
Due: client, cypress

Multiple children test
  client/src/components/LabeledBox/LabeledBox.unit-test.tsx
Due: client, cypress

Planned spending and ftes were not properly updated. Manually deleted HFR and LCC entries since problematic from a data perspective. Planning year global templates were not updated either
  client/src/common_text/template_globals.yaml
  client/src/models/results/results.js
  data/program_ftes.csv
  data/program_spending.csv
Due: client, cypress

First unit test for labeled table
  client/src/components/LabeledTable/LabeledTable.unit-test.tsx
Due: client, cypress

Removed unused imports
  client/src/components/LabeledTable/LabeledTable.unit-test.tsx
Due: client, cypress

npx prettier
  client/src/components/LabeledTable/LabeledTable.unit-test.tsx
Due: client, cypress

Rendering optional attributes and empty content tests, added content display check
  client/src/components/LabeledTable/LabeledTable.unit-test.tsx
Due: client, cypress

Import change
  client/src/components/LabeledTable/LabeledTable.unit-test.tsx
Due: client, cypress

Removed import
  client/src/components/LabeledTable/LabeledTable.unit-test.tsx
Due: client, cypress

First unit test for sidebar rendering when is_open is false
  client/src/components/Sidebar/Sidebar.unit-test.tsx
Due: client, cypress

Sidebar title and content is visible when is_open is true unit test
  client/src/components/Sidebar/Sidebar.unit-test.tsx
Due: client, cypress

Unit test for close button
  client/src/components/Sidebar/Sidebar.unit-test.tsx
Due: client, cypress

Re-added accidentally deleted display test
  client/src/components/Sidebar/Sidebar.unit-test.tsx
Due: client, cypress

Late results warning panels adjustment to account for different late drr and dp submissions
  client/src/panels/panel_declarations/misc/warning_panels.js
Due: client, cypress

First unit test for compact keyconceptlist display
  client/src/components/KeyConceptList/KeyConceptList.unit-test.tsx
Due: client, cypress

KeyConceptList compact attribute set to false and answers displayed unit test
  client/src/components/KeyConceptList/KeyConceptList.unit-test.tsx
Due: client, cypress

Testing KeyConceptList clicking answer to make compact=false
  client/src/components/KeyConceptList/KeyConceptList.unit-test.tsx
Due: client, cypress

Fixed imports
  client/src/components/KeyConceptList/KeyConceptList.unit-test.tsx
Due: client, cypress

Replaced TM usage with simple div's
  client/src/components/KeyConceptList/KeyConceptList.unit-test.tsx
Due: client, cypress

First few additional preferences
  .eslintrc.json
Due: none

Swapped chaining lodash rule out for prefer-lodash-chain
  .eslintrc.json
Due: none

Fixed some pieces of code that broke added rules
  client/build_code/loaders/sass-interop-loader.js
  client/src/core/ensure_loaded.js
  client/src/panels/panel_declarations/results/result_components.js
  client/src/panels/panel_declarations/services/single_service_panels/service_standards.js
  form_backend/src/template_utils/get_templates.js
Due: client, cypress, form_backend

Added one more no-extra-args eslint rule, seemingly fixed invokeMap issue
  .eslintrc.json
  form_backend/src/template_utils/get_templates.js
Due: form_backend

Actually seemingly fixed invokeMap issue, changed the wrong line before
  form_backend/src/template_utils/get_templates.js
Due: form_backend

Seemingly fixed bug
  client/src/core/ensure_loaded.js
Due: client, cypress

Potentially fixed another map issue
  form_backend/src/template_utils/get_templates.js
Due: form_backend

Fixing uniq and flatten potentially incorrect usage
  client/src/explorer_common/resource_explorer_common.js
  client/src/panels/panel_declarations/misc/tags_related_to_subject_panels.js
Due: client, cypress

More warning fixes to abide by lodash rules, (flatten,invokeMap,compact)
  client/src/explorer_common/resource_explorer_common.js
  form_backend/src/template_utils/get_templates.js
  server/src/models/standard_objects/models.js
  server/src/models/vote_stat/models.js
Due: client, cypress, server, form_backend

Another invokeMap -> map swap, swapped 2 head uses back to first
  client/src/panels/panel_declarations/finances/transfer_payments/historical_g_and_c.js
  client/src/panels/panel_declarations/people/employee_executive_level.js
  form_backend/src/template_utils/get_templates.js
Due: client, cypress, form_backend

Path conditions:
  client: any of: client/
  cypress: any of: client/
  server: any of: server/
  form_backend: any of: form_backend/
