Repository TBS-EACPD/infobase: changes, and which Codecov flags are due for each by the changed paths.
All: client, cypress, server, form_backend

codecov.yml:

flags:
  client:
    paths:
      - ./client/
  cypress:
    paths:
      - ./client/
  server:
    paths:
      - ./server/
  form_backend:
    paths:
      - ./form_backend/

coverage:
  status:
    project:
      default:
        flags:
          - client
          - cypress
          - server
          - form_backend
      client:
        flags:
          - client
      cypress:
        flags:
          - cypress
        target: auto
      server:
        flags:
          - server
      form_backend:
        flags:
          - form_backend
        target: auto

fix import order
  client/src/core/ensure_loaded.js
  client/src/models/finances/useWelcomeMatFinanceData.js
  client/src/panels/panel_declarations/finances/auth_exp_planned_spending/auth_exp_planned_spending.js
  client/src/panels/panel_declarations/finances/detailed_program_spending_split/detailed_program_spending_split.js
  client/src/panels/panel_declarations/finances/transfer_payments/historical_g_and_c.js
  client/src/panels/panel_declarations/finances/vote_stat/estimates_in_perspective.js
  client/src/panels/panel_declarations/finances/vote_stat/in_year_estimates_split.js
  client/src/panels/panel_declarations/finances/vote_stat/in_year_vote_stat_breakdown.js
  client/src/panels/panel_declarations/finances/vote_stat/in_year_vote_stat_split.js
  client/src/panels/panel_declarations/finances/vote_stat/last_year_vote_stat_split.js
Due: client, cypress

finish up finance server side graphql
  client/src/types/types.gql.ts
  server/src/models/finances/__snapshots__/finances.snapshot-test.js.snap
  server/src/models/finances/finances.snapshot-test.js
  server/src/models/finances/schema.js
Due: client, cypress, server

ensure loaded, has finance data
  client/src/core/ensure_loaded.js
  client/src/models/finances/queries/ProgramWelcomeMatFinance/ProgramWelcomeMatFinance.gql.ts
  client/src/models/subjects/Dept.ts
  client/src/panels/get_panels_for_subject/get_dept_panels.js
  server/src/models/finances/schema.js
Due: client, cypress, server

migrate standard object panels
  client/src/models/finances/queries/CrsoWelcomeMatFinance/CrsoWelcomeMatFinance.gql.ts
  client/src/models/finances/queries/GovWelcomeMatFinance/GovWelcomeMatFinance.gql.ts
  client/src/models/finances/queries/GovWelcomeMatFinance/GovWelcomeMatFinance.graphql
  client/src/models/finances/queries/OrgWelcomeMatFinance/OrgWelcomeMatFinance.gql.ts
  client/src/models/finances/queries/OrgWelcomeMatFinance/OrgWelcomeMatFinance.graphql
  client/src/models/finances/queries/ProgramWelcomeMatFinance/ProgramWelcomeMatFinance.gql.ts
  client/src/models/finances/queries/ProgramWelcomeMatFinance/ProgramWelcomeMatFinance.graphql
  client/src/models/finances/queries/_fragments.gql.ts
  client/src/models/finances/queries/_fragments.graphql
  client/src/models/finances/sobj_calculations.js
  client/src/models/finances/sobj_utils.js
  client/src/models/finances/useOrgSobjsFinanceData.js
  client/src/models/finances/useProgramSobjsFinanceData.js
  client/src/panels/panel_declarations/finances/sobj/personel_spend.js
  client/src/panels/panel_declarations/finances/sobj/spend_by_so_hist.js
  client/src/panels/panel_declarations/finances/sobj/spend_rev_split.js
  client/src/panels/panel_declarations/finances/sobj/top_spending_areas.js
  client/src/types/types.gql.ts
  server/src/models/finances/finances.snapshot-test.js
  server/src/models/finances/schema.js
Due: client, cypress, server

fix snapshot
  server/src/models/finances/__snapshots__/finances.snapshot-test.js.snap
Due: server

fix unused variables
  client/src/panels/panel_declarations/finances/drr_dp_resources/crso_by_prog.js
  client/src/panels/panel_declarations/finances/sobj/spend_by_so_hist.js
  client/src/panels/panel_declarations/finances/welcome_mat/welcome_mat.js
  server/src/models/finances/finances.snapshot-test.js
Due: client, cypress, server

migrate internal_services and spending_in_tag_perspective
  client/src/models/finances/finance_utils.js
  client/src/models/finances/internal_services_calculations.js
  client/src/models/finances/spending_in_tag_perspective_calculations.js
  client/src/models/finances/useInternalServicesFinanceData.js
  client/src/models/finances/useSpendingInTagPerspectiveFinanceData.js
  client/src/panels/panel_declarations/finances/drr_dp_resources/spending_in_perspective.js
  client/src/panels/panel_declarations/finances/internal_services/internal_services.js
Due: client, cypress

pogram sobjs graphql
  client/src/models/finances/crso_by_prog_calculations.js
  client/src/models/finances/detailed_program_spending_split_calculations.js
  client/src/models/finances/goco_calculations.js
  client/src/models/finances/program_finance_utils.js
  client/src/models/finances/queries/CrsoWelcomeMatFinance/CrsoWelcomeMatFinance.gql.ts
  client/src/models/finances/queries/GovWelcomeMatFinance/GovWelcomeMatFinance.gql.ts
  client/src/models/finances/queries/OrgWelcomeMatFinance/OrgWelcomeMatFinance.gql.ts
  client/src/models/finances/queries/OrgWelcomeMatFinance/OrgWelcomeMatFinance.graphql
  client/src/models/finances/queries/ProgramWelcomeMatFinance/ProgramWelcomeMatFinance.gql.ts
  client/src/models/finances/queries/_fragments.gql.ts
  client/src/models/finances/queries/_fragments.graphql
  client/src/models/finances/useCrsoByProgFinanceData.js
  client/src/models/finances/useDetailedProgramSpendingSplitFinanceData.js
  client/src/panels/panel_declarations/finances/detailed_program_spending_split/detailed_program_spending_split.js
  client/src/panels/panel_declarations/finances/drr_dp_resources/crso_by_prog.js
  client/src/panels/panel_declarations/finances/goco/goco.js
  client/src/types/types.gql.ts
  server/src/models/finances/schema.js
Due: client, cypress, server

migrate transfer payments
  client/src/models/finances/queries/CrsoWelcomeMatFinance/CrsoWelcomeMatFinance.gql.ts
  client/src/models/finances/queries/GovWelcomeMatFinance/GovWelcomeMatFinance.gql.ts
  client/src/models/finances/queries/GovWelcomeMatFinance/GovWelcomeMatFinance.graphql
  client/src/models/finances/queries/OrgWelcomeMatFinance/OrgWelcomeMatFinance.gql.ts
  client/src/models/finances/queries/OrgWelcomeMatFinance/OrgWelcomeMatFinance.graphql
  client/src/models/finances/queries/ProgramWelcomeMatFinance/ProgramWelcomeMatFinance.gql.ts
  client/src/models/finances/queries/_fragments.gql.ts
  client/src/models/finances/queries/_fragments.graphql
  client/src/models/finances/transfer_payment_utils.js
  client/src/models/finances/transfer_payments_calculations.js
  client/src/models/finances/useTransferPaymentsFinanceData.js
  client/src/panels/panel_declarations/finances/transfer_payments/historical_g_and_c.js
  client/src/panels/panel_declarations/finances/transfer_payments/last_year_g_and_c_perspective.js
Due: client, cypress

migrate auth_exp_planned_spending panel
  client/src/models/finances/auth_exp_planned_spending_calculations.js
  client/src/models/finances/auth_exp_utils.js
  client/src/models/finances/queries/CrsoWelcomeMatFinance/CrsoWelcomeMatFinance.gql.ts
  client/src/models/finances/queries/GovWelcomeMatFinance/GovWelcomeMatFinance.gql.ts
  client/src/models/finances/queries/GovWelcomeMatFinance/GovWelcomeMatFinance.graphql
  client/src/models/finances/queries/OrgWelcomeMatFinance/OrgWelcomeMatFinance.gql.ts
  client/src/models/finances/queries/OrgWelcomeMatFinance/OrgWelcomeMatFinance.graphql
  client/src/models/finances/queries/ProgramWelcomeMatFinance/ProgramWelcomeMatFinance.gql.ts
  client/src/models/finances/queries/_fragments.gql.ts
  client/src/models/finances/queries/_fragments.graphql
  client/src/models/finances/useAuthExpPlannedSpendingFinanceData.js
  client/src/panels/panel_declarations/finances/auth_exp_planned_spending/auth_exp_planned_spending.js
Due: client, cypress

migrate vote stat panels
  client/src/models/finances/org_vote_stat_estimates_calculations.js
  client/src/models/finances/program_vote_stat_calculations.js
  client/src/models/finances/queries/CrsoWelcomeMatFinance/CrsoWelcomeMatFinance.gql.ts
  client/src/models/finances/queries/GovWelcomeMatFinance/GovWelcomeMatFinance.gql.ts
  client/src/models/finances/queries/GovWelcomeMatFinance/GovWelcomeMatFinance.graphql
  client/src/models/finances/queries/OrgWelcomeMatFinance/OrgWelcomeMatFinance.gql.ts
  client/src/models/finances/queries/ProgramWelcomeMatFinance/ProgramWelcomeMatFinance.gql.ts
  client/src/models/finances/queries/ProgramWelcomeMatFinance/ProgramWelcomeMatFinance.graphql
  client/src/models/finances/queries/_fragments.gql.ts
  client/src/models/finances/queries/_fragments.graphql
  client/src/models/finances/useOrgVoteStatEstimatesFinanceData.js
  client/src/models/finances/useProgramVoteStatFinanceData.js
  client/src/models/finances/vote_stat_utils.js
  client/src/panels/panel_declarations/finances/vote_stat/estimates_in_perspective.js
  client/src/panels/panel_declarations/finances/vote_stat/in_year_estimates_split.js
  client/src/panels/panel_declarations/finances/vote_stat/in_year_vote_stat_breakdown.js
  client/src/panels/panel_declarations/finances/vote_stat/in_year_vote_stat_split.js
  client/src/panels/panel_declarations/finances/vote_stat/last_year_vote_stat_split.js
Due: client, cypress

migrate planned_actual_comparison
  client/src/models/finances/planned_actual_comparison_calculations.js
  client/src/models/finances/queries/CrsoWelcomeMatFinance/CrsoWelcomeMatFinance.gql.ts
  client/src/models/finances/queries/GovWelcomeMatFinance/GovWelcomeMatFinance.gql.ts
  client/src/models/finances/queries/OrgWelcomeMatFinance/OrgWelcomeMatFinance.gql.ts
  client/src/models/finances/queries/ProgramWelcomeMatFinance/ProgramWelcomeMatFinance.gql.ts
  client/src/models/finances/queries/_fragments.gql.ts
  client/src/models/finances/queries/_fragments.graphql
  client/src/panels/panel_declarations/finances/planned_actual_comparison/planned_actual_comparison.js
  client/src/types/types.gql.ts
  server/src/models/finances/__snapshots__/finances.snapshot-test.js.snap
  server/src/models/finances/finances.snapshot-test.js
  server/src/models/finances/schema.js
Due: client, cypress, server

prettier
  client/src/panels/panel_declarations/finances/vote_stat/estimates_in_perspective.js
  client/src/panels/panel_declarations/finances/vote_stat/in_year_estimates_split.js
  client/src/panels/panel_declarations/finances/vote_stat/in_year_vote_stat_split.js
  client/src/panels/panel_declarations/finances/vote_stat/last_year_vote_stat_split.js
Due: client, cypress

Dept level chart first mockup
  client/src/models/results/queries/CrsoResultsSummary/CrsoResultsSummary.gql.ts
  client/src/models/results/queries/DeptResultsSummary/DeptResultsSummary.gql.ts
  client/src/models/results/queries/DeptResultsSummary/DeptResultsSummary.graphql
  client/src/models/results/queries/IndicatorSummary/IndicatorSummary.gql.ts
  client/src/models/results/queries/IndicatorSummary/IndicatorSummary.graphql
  client/src/models/results/queries/ProgramResultsSummary/ProgramResultsSummary.gql.ts
  client/src/panels/panel_declarations/results/CommonDrrSummary.js
  client/src/panels/panel_declarations/results/IndicatorDistanceChart.js
  client/src/panels/panel_declarations/results/IndicatorDistanceChart.scss
  client/src/panels/panel_declarations/results/IndicatorDistanceChart.yaml
  client/src/panels/panel_declarations/results/drr_summary.js
  client/src/panels/panel_declarations/results/indicator_distance.js
  client/src/panels/panel_declarations/results/indicator_distance.unit-test.js
  client/src/panels/panel_declarations/results/results_common.js
Due: client, cypress

gov level
  client/src/models/results/queries/GovDrrIndicators/GovDrrIndicators.gql.ts
  client/src/models/results/queries/GovDrrIndicators/GovDrrIndicators.graphql
  client/src/models/results/queries/GovDrrIndicators/GovDrrIndicators.ts
  client/src/models/results/queries/index.ts
  client/src/panels/panel_declarations/results/CommonDrrSummary.js
  client/src/panels/panel_declarations/results/GovIndicatorDistanceChart.js
  client/src/panels/panel_declarations/results/IndicatorDistanceChart.yaml
  client/src/panels/panel_declarations/results/IndicatorDistanceHistogram.scss
  client/src/panels/panel_declarations/results/indicator_distance.js
  client/src/panels/panel_declarations/results/indicator_distance.unit-test.js
  client/src/types/types.gql.ts
  server/src/models/results/schema.js
Due: client, cypress, server

prettier
  client/src/panels/panel_declarations/results/GovIndicatorDistanceChart.js
  client/src/panels/panel_declarations/results/indicator_distance.js
  client/src/panels/panel_declarations/results/indicator_distance.unit-test.js
  server/src/models/results/schema.js
Due: client, cypress, server
