Repository TBS-EACPD/infobase: changes, and which Codecov flags are due for each by the changed paths.
All: client, cypress, server, form_backend

codecov.yml:

flags:
  client:
    paths:
      - ./client/
  cypress:
    paths:
      - ./client/
  server:
    paths:
      - ./server/
  form_backend:
    paths:
      - ./form_backend/

coverage:
  status:
    project:
      default:
        flags:
          - client
          - cypress
          - server
          - form_backend
      client:
        flags:
          - client
      cypress:
        flags:
          - cypress
        target: auto
      server:
        flags:
          - server
      form_backend:
        flags:
          - form_backend
        target: auto

Services snapshot update
  server/src/models/services/__snapshots__/services.snapshot-test.js.snap
Due: server

Round of npm upgrades/audits, particularily because upstream peer dependency configurations in some /client eslint plugins had started causing conflicts against eslint ^8 (as installed in the root)
  client/package-lock.json
  client/package.json
  form_backend/package-lock.json
  package-lock.json
  server/package-lock.json
Due: client, cypress, server, form_backend

Update committed cypress snapshot file to match new lib version number
  client/cypress/integration/InfoBase/cypress-snapshots.js
Due: client, cypress

Full fresh cypress-snapshots.js with comments on false positives/accepted issues
  client/cypress/integration/InfoBase/cypress-snapshots.js
Due: client, cypress

Upgrade React and React-DOM to 18, as well as corresponding type packages
  client/package-lock.json
  client/package.json
Due: client, cypress

Move @types package for reac-transition-group in to devDependencies
  client/package-lock.json
  client/package.json
Due: client, cypress

Upgrade @testing-library/react to 13, fix new warning raised by this version in Tooltip.unit-test.tsx
  client/package-lock.json
  client/package.json
  client/src/components/Tooltip/Tooltip.unit-test.tsx
Due: client, cypress

Some react package upgrades without breaking changes (supposedly, fingers crossed)
  client/package-lock.json
  client/package.json
Due: client, cypress

Drop connected-react-router, it's features were unused and it would have just complicated upgrades to redux and react-router. Replace with basic HashRouter
  client/package.json
  client/src/InfoBase/App.js
  client/src/InfoBase/bootstrapper.js
Due: client, cypress

Bump redux to 4
  client/package-lock.json
  client/package.json
Due: client, cypress

Drop old types package for react virtualized
  client/package-lock.json
  client/package.json
Due: client, cypress

Replace instances of ReactDOM.render with createRoot
  client/src/InfoBase/bootstrapper.js
  client/src/core/EasyAccess.js
Due: client, cypress

Fix post-React 18 type errors from generic React.ComponentType usage in FancyUL and LabeledTable
  client/src/components/FancyUL/FancyUL.tsx
  client/src/components/LabeledTable/LabeledTable.tsx
Due: client, cypress

Delete (vestigial) server side transfer payments by location code
  server/src/models/index.js
  server/src/models/transfer_payments_loc/index.js
  server/src/models/transfer_payments_loc/models.js
  server/src/models/transfer_payments_loc/populate.js
  server/src/models/transfer_payments_loc/schema.js
  server/src/models/transfer_payments_loc/transfer_payments_loc.snapshot-test.js-donttest.js
Due: server

Drop tranfer payments by region from the client
  client/src/DatasetsRoute/DatasetsRoute.js
  client/src/InfoBase/bootstrapper.js
  client/src/common_text/template_globals.yaml
  client/src/home/home-data.js
  client/src/home/home.yaml
  client/src/models/footnotes/footnote_topics.yaml
  client/src/models/footnotes/footnotes.ts
  client/src/models/metadata/Datasets.ts
  client/src/models/metadata/Sources.tsx
  client/src/models/metadata/Sources.yaml
  client/src/models/years.js
  client/src/panels/get_panels_for_subject/get_dept_panels.js
  client/src/panels/get_panels_for_subject/get_gov_panels.js
  client/src/panels/panel_declarations/finances/index.js
  client/src/panels/panel_declarations/finances/transfer_payments/index.js
  client/src/panels/panel_declarations/finances/transfer_payments/tp_by_region.js
  client/src/panels/panel_declarations/finances/transfer_payments/tp_by_region.yaml
  client/src/panels/panel_declarations/index.js
  client/src/tables/orgTransferPaymentsRegion.js
  client/src/tables/orgTransferPaymentsRegion.yaml
Due: client, cypress

Drop all transfer payments by region data, remove from client build script
  client/build_code/copy_static_assets.js
  data/dept_code_to_csv_name.csv
  data/footnotes.csv
  data/org_transfer_payments_region.csv
Due: client, cypress

Program and CR level tag panel bug fix, fixes #1467
  client/src/panels/panel_declarations/misc/tags_related_to_subject_panels.js
Due: client, cypress

Cypress snapshot update
  client/cypress/integration/InfoBase/cypress-snapshots.js
Due: client, cypress

Cypress snapshot update for Program and CRSO Where can I go from here
  client/cypress/integration/InfoBase/cypress-snapshots.js
Due: client, cypress

IRCC Service Standards Data Hotfix
  client/src/panels/panel_declarations/services/services.yaml
  client/src/panels/panel_declarations/services/single_service_panels/service_standards.js
  data/standard-reports.csv
Due: client, cypress

Use depcheck package to clean up unused dependencies across the project
  client/package-lock.json
  client/package.json
  form_backend/package-lock.json
  form_backend/package.json
  server/package-lock.json
  server/package.json
Due: client, cypress, server, form_backend

Add consistent `tests` shorthand script to all package.json levels, including on in the repo root that runs all (jest) tests across the three sub-repos
  client/package.json
  form_backend/package.json
  package.json
  server/package.json
Due: client, cypress, server, form_backend

form_backend tests were falling down if a local instance of the express server (or anything else) was squatting on the hardcoded dev port. Let instances from tests use arbitrary ports
  form_backend/src/form_backend.end-to-end-test.js
  form_backend/src/form_backend.js
  form_backend/src/index.unit-test.js
Due: form_backend

Small tangent, update form_backend response status codes from strings to numbers
  form_backend/src/form_backend.js
Due: form_backend

June 2022 estimated covid expenditures
  client/src/panels/panel_declarations/covid/covid_key_concepts.yaml
  data/covid_expenditures.csv
Due: client, cypress

Use consistent significant figures in covid expenditures CEWS note
  client/src/panels/panel_declarations/covid/covid_key_concepts.yaml
Due: client, cypress

Diagrams and notes for high-level infrastructure documentation
  docs/infrastructure.md
Due: none

Infrastructure docs for CDN, start of initial loading breakdown
  docs/infrastructure.md
Due: none

Fill in the rest of the initial loading sketch documentation
  docs/infrastructure.md
Due: none

Better organization and headings in infrastructure static content subsection
  docs/infrastructure.md
Due: none
