Repository TBS-EACPD/infobase: changes, and which Codecov flags are due for each by the changed paths.
All: client, server, form-backend

Update node version specified in server and form_backend package.json and .babelrc configurations
  form_backend/.babelrc
  form_backend/package.json
  server/.babelrc
  server/package.json
Due: server, form-backend

Update GCF deploys to specify node 16 targets
  form_backend/scripts/deploy/prod_deploy_form_backend_function.sh
  server/scripts/deploy/ci_deploy_function.sh
  server/scripts/deploy/prod_deploy_function.sh
Due: server, form-backend

Update node version specified in form and server package locks
  form_backend/package-lock.json
  server/package-lock.json
Due: server, form-backend

Remove specific install commands for npm/node versions given in README files, not going to make any assumptions about target enviroment. Easy to google up your own solution
  client/README.md
  form_backend/README.md
  server/README.md
Due: client, server, form-backend

Update CI docker files/images to use node 16 (one package changed in arch image, new base for cypress image)
  .circleci/config.yml
  dockerfiles/ci/Dockerfile
  dockerfiles/cypress/Dockerfile
Due: none

GCF has full support for ESModules now, drop transpilation in the server and form_backend deploys
  form_backend/.babelrc
  form_backend/.gcloudignore
  form_backend/package-lock.json
  form_backend/package.json
  form_backend/scripts/deploy/build.sh
  form_backend/scripts/deploy/prod_deploy_form_backend_function.sh
  server/.babelrc
  server/.gcloudignore
  server/package-lock.json
  server/package.json
  server/scripts/deploy/build.sh
  server/scripts/deploy/prod_deploy_function.sh
Due: server, form-backend

Remove transpiled_build related commands in CI
  .circleci/config.yml
Due: none

Run jest with experimental ESModule support in server and form_backend
  form_backend/package.json
  server/package.json
Due: server, form-backend

Add back accidentally deleted script in server package.json
  server/package.json
Due: server

Undo removal of babel in server and form_backend, continue transpiling to CommonJS for jest runs
  .eslintignore
  .prettierignore
  form_backend/.babelrc
  form_backend/.gitignore
  form_backend/jest_configs/common_config.js
  form_backend/package-lock.json
  form_backend/package.json
  server/.babelrc
  server/.gitignore
  server/jest_configs/common_config.js
  server/package-lock.json
  server/package.json
Due: server, form-backend

For consistency, call jest via npx from all package.json scripts
  client/package.json
  form_backend/package.json
  server/package.json
Due: client, server, form-backend

(re)cleanup some references to the old server/form_backend transpilation (accidentally reintroduced some of these in the previous commit while making reverts to bring back babel for jest's sake)
  .eslintignore
  .prettierignore
  form_backend/.gitignore
  form_backend/jest_configs/common_config.js
  server/.gitignore
  server/README.md
  server/jest_configs/common_config.js
  server/package.json
Due: server, form-backend

Update README's to specify that node 16 is expected for development
  client/README.md
  form_backend/README.md
  server/README.md
Due: client, server, form-backend

Update server test snapshots, CoreDocumentArray and CoreMongooseArray objects are now consistently Array's
  server/src/models/covid/__snapshots__/covid.snapshot-test.js.snap
  server/src/models/people/__snapshots__/people.snapshot-test.js.snap
  server/src/models/services/__snapshots__/services.snapshot-test.js.snap
Due: server

Update mongoose connect options for v6 compatability (generally, things we used to have to explicitly set to true are now always true)
  form_backend/src/db_utils/connect_db.js
  server/src/db_utils.js
Due: server, form-backend

Streamlined arch based CI images. Still larger than alpine, but maintainability alone makes that easy to accept (impact on CI from other, larger, arch image was fairly minimal)
  .circleci/config.yml
  dockerfiles/ci/Dockerfile
Due: none

Temporarily bust all caches, to make sure the CI workflow is full exercised on the new image
  .circleci/config.yml
Due: none

Bump mongoose above v6 to ensure mongo v5 support
  form_backend/package-lock.json
  form_backend/package.json
  server/package-lock.json
  server/package.json
Due: server, form-backend

Swap deprecated mongo shell for mongosh (for out usage, feature equivalent and same syntax). Update READMEs to specify MongoDB 5.x + mongosh
  form_backend/README.md
  scripts/ci_scripts/cleanup_dev_dbs.sh
  scripts/prod_scripts/prod_deploy.sh
  scripts/prod_scripts/prod_rollback.sh
  server/README.md
Due: server, form-backend

Revert CI cache busting.
  .circleci/config.yml
Due: none

Path conditions:
  client: any of: client/
  server: any of: server/
  form-backend: any of: form_backend/
