Repository TBS-EACPD/infobase: changes, and which Codecov flags are due for each by the changed paths.
All: client, cypress, server, form_backend

codecov.yml:

flags:
  client:
    paths:
      - ./client/
  cypress:
    paths:
      - ./client/
  server:
    paths:
      - ./server/
  form_backend:
    paths:
      - ./form_backend/

coverage:
  status:
    project:
      default:
        flags:
          - client
          - cypress
          - server
          - form_backend
      client:
        flags:
          - client
      cypress:
        flags:
          - cypress
        target: auto
      server:
        flags:
          - server
      form_backend:
        flags:
          - form_backend
        target: auto

Mains configuration
  client/src/common_text/common_lang.yaml
  client/src/common_text/template_globals.yaml
  client/src/home/home-data.js
  client/src/models/estimates.ts
Due: client, cypress

prettier
  client/src/panels/panel_declarations/misc/warning_panels.js
Due: client, cypress

small data fix from pipepline
  data/org_vote_stat_estimates.csv
  data/org_vote_stat_pa.csv
  data/program_vote_stat.csv
Due: none

DP setup
  client/src/common_text/template_globals.yaml
  client/src/home/home-data.js
  client/src/home/home.yaml
  client/src/models/results/results.js
  client/src/types/types.gql.ts
  server/src/models/results/results_common.js
Due: client, cypress, server

Automated banner fixes, ensure loaded results home page
  client/src/core/NavComponents.js
  client/src/models/results/late_orgs.js
  client/src/models/results/results.js
Due: client, cypress

Added types for estimates file (pipeline 2.0)
  client/src/models/estimates.ts
  client/src/tables/programSobjs.js
  server/src/models/vote_stat/constants.js
Due: client, cypress, server

help script to convert main files (pipeline 2.0)
  package.json
  scripts/convert_csv_format.js
Due: none

messy panel logic, will clean up in follow up PR, hotfix for now
  client/src/core/NavComponents.js
  client/src/models/results/late_orgs.js
  client/src/models/results/results.js
  client/src/panels/get_panels_for_subject/get_crso_panels.js
  client/src/panels/get_panels_for_subject/get_dept_panels.js
  client/src/panels/get_panels_for_subject/get_gov_panels.js
  client/src/panels/get_panels_for_subject/get_program_panels.js
  client/src/panels/panel_declarations/misc/warning_panels.js
Due: client, cypress

Small prettier fixes
  client/src/models/estimates.ts
  client/src/panels/get_panels_for_subject/get_gov_panels.js
Due: client, cypress

line comment temp helper script
  scripts/convert_csv_format.js
Due: none

line comment out temp helper script
  scripts/convert_csv_format.js
Due: none

full prettier run
  client/src/core/NavComponents.js
  client/src/models/results/late_orgs.js
Due: client, cypress

Data fix pipe 2.0
  data/program_ftes.csv
Due: none

data fixes for org list and estimates
  client/src/models/subjects/populate_subjects.ts
  data/igoc.csv
  data/igoc_en.csv
  data/igoc_fr.csv
  data/org_vote_stat_estimates.csv
Due: client, cypress

prettier
  client/src/models/subjects/populate_subjects.ts
Due: client, cypress

Tweak override for latest doc and add MJRC and LDC to exempt orgs for now
  client/src/models/results/late_orgs.js
Due: client, cypress

Remove graphql merge
  client/src/graphql_utils/graphql_utils.ts
Due: client, cypress

merge graphql
  client/src/graphql_utils/graphql_utils.ts
Due: client, cypress

fake programs planned spending
  data/program_spending.csv
Due: none

light weight years with recipients
  server/src/models/recipients/models.js
  server/src/models/recipients/schema.js
Due: server

fetch by subject
  server/src/models/recipients/models.js
  server/src/models/recipients/schema.js
Due: server

Fixed a text/json error on form submit
  client/src/FormFrontend/form_backend_utils.ts
Due: client, cypress

First test of github issue creation through bug report form
  form_backend/.gitignore
  form_backend/package-lock.json
  form_backend/package.json
  form_backend/scripts/util/set_transient_secrets.sh
  form_backend/src/form_backend.js
  form_backend/src/github_utils/create_github_issue.js
  form_backend/src/github_utils/index.js
Due: form_backend

Fixed unused variable and some cleanup
  client/src/FormFrontend/IssueConfirmationModal.js
  client/src/FormFrontend/IssueConfirmationModal.scss
  form_backend/src/form_backend.js
Due: client, cypress, form_backend

Issue link in new modal on form submission
  client/src/FormFrontend/FormFrontend.js
  client/src/FormFrontend/FormFrontend.yaml
  client/src/FormFrontend/IssueConfirmationModal.js
  client/src/FormFrontend/IssueConfirmationModal.scss
  client/src/FormFrontend/form_backend_utils.ts
  form_backend/src/form_backend.js
  form_backend/src/github_utils/create_github_issue.js
  server/.gitignore
Due: client, cypress, server, form_backend

Second modal on issue creating success, closes first modal
  client/src/FormFrontend/FormFrontend.js
  client/src/FormFrontend/FormFrontend.yaml
  client/src/FormFrontend/IssueConfirmationModal.js
  client/src/components/PageDetails.tsx
  client/src/components/PageDetails.yaml
  client/src/components/modals_and_popovers/StatelessModal.tsx
Due: client, cypress

Update local_mongod.sh to accept -d
  scripts/dev_scripts/local_mongod.sh
Due: none

added some tests
  form_backend/src/form_backend.end-to-end-test.js
  form_backend/src/github_utils/create_github_issue.unit-test.js
Due: form_backend

prettier
  form_backend/src/form_backend.end-to-end-test.js
  form_backend/src/github_utils/create_github_issue.unit-test.js
Due: form_backend
