Repository TBS-EACPD/infobase: changes, and which Codecov flags are due for each by the changed paths.
All: client, cypress, server, form_backend

Update TS to 4.7, udate related packages for TS 4.7 support
  client/package-lock.json
  client/package.json
  package-lock.json
Due: client, cypress

Fix instance of new stricter checks with tempalte string expressions in Tabs.tsx
  client/src/components/Tabs/Tabs.tsx
Due: client, cypress

Minor graphql codegen config hot fix, move central generated tpes from src/types.gql.ts to src/types/types.gql.ts
  client/codegen.yml
  client/src/models/covid/queries/AllCovidEstimatesByMeasureId/AllCovidEstimatesByMeasureId.gql.ts
  client/src/models/covid/queries/AllCovidExpendituresByMeasureId/AllCovidExpendituresByMeasureId.gql.ts
  client/src/models/covid/queries/AllCovidMeasures/AllCovidMeasures.gql.ts
  client/src/models/covid/queries/GovCovidSummaries/GovCovidSummaries.gql.ts
  client/src/models/covid/queries/GovCovidSummary/GovCovidSummary.gql.ts
  client/src/models/covid/queries/GovYearsWithCovidData/GovYearsWithCovidData.gql.ts
  client/src/models/covid/queries/OrgCovidEstimatesByMeasureId/OrgCovidEstimatesByMeasureId.gql.ts
  client/src/models/covid/queries/OrgCovidExpendituresByMeasureId/OrgCovidExpendituresByMeasureId.gql.ts
  client/src/models/covid/queries/OrgCovidSummaries/OrgCovidSummaries.gql.ts
  client/src/models/covid/queries/OrgCovidSummary/OrgCovidSummary.gql.ts
  client/src/models/covid/queries/OrgYearsWithCovidData/OrgYearsWithCovidData.gql.ts
  client/src/models/covid/queries/TopCovidSpending/TopCovidSpending.gql.ts
  client/src/models/services/queries/DeptHasServices/DeptHasServices.gql.ts
  client/src/models/services/queries/ProgramHasServices/ProgramHasServices.gql.ts
  client/src/models/services/queries/SearchServices/SearchServices.gql.ts
  client/src/models/services/queries/ServiceSummaryGov/ServiceSummaryGov.gql.ts
  client/src/models/services/queries/ServiceSummaryOrg/ServiceSummaryOrg.gql.ts
  client/src/models/services/queries/ServiceSummaryProgram/ServiceSummaryProgram.gql.ts
  client/src/models/services/queries/ServicesForOrg/ServicesForOrg.gql.ts
  client/src/models/services/queries/ServicesForProgram/ServicesForProgram.gql.ts
  client/src/models/services/queries/SingleService/SingleService.gql.ts
  client/src/models/services/queries/StandardServiceFragment.gql.ts
  client/src/types/types.gql.ts
Due: client, cypress

Update active test to not rely on onClick and adjust toThrow with error message
  client/src/components/CheckBox/CheckBox.unit-test.tsx
  client/src/components/CheckBox/CheckBox_a11y.unit-test.tsx
Due: client, cypress

Document injected_build_constants mocking approach
  client/docs/testing/unit-tests.md
  client/src/components/CheckBox/CheckBox--a11y.unit-test.tsx
Due: client, cypress

Refreshed dept_code_to_csv_name.csv from pipeline
  data/dept_code_to_csv_name.csv
Due: none

When prompting for a deploy message in prod_deploy.sh, use readline (-e) instead of the rudimentary default line editor. Better and more familliar editing experience for devs
  scripts/prod_scripts/prod_deploy.sh
Due: none

Update unit-tests documentation
  client/docs/testing/unit-tests.md
Due: client, cypress

fixed file naming mistake, added unit test to check colour of the checkbox
  client/src/components/CheckBox/CheckBox.unit-test.tsx
Due: client, cypress

unit tests for CheckBox
  client/src/components/CheckBox/CheckBox.unit-text.tsx
Due: client, cypress

testing with is_a11y_mode=true works, onclick callback testing
  client/src/components/CheckBox/CheckBox.unit-test.tsx
Due: client, cypress

New tests with seperate files for is_a11y_mode
  client/src/components/CheckBox/CheckBox.unit-test.tsx
  client/src/components/CheckBox/CheckBox_a11y.unit-test.tsx
Due: client, cypress

import statement and unused variable fix
  client/src/components/CheckBox/CheckBox.unit-test.tsx
Due: client, cypress

using screen.getByText, added afterAll to describe blocks to reset constants to defaults
  client/src/components/CheckBox/CheckBox.unit-test.tsx
Due: client, cypress

Hotfix WriteToClipboard bug, add extra logging for clipboard write errors
  client/src/components/WriteToClipboard/WriteToClipboard.js
Due: client, cypress

Update jest and related packages everywhere
  client/package-lock.json
  client/package.json
  form_backend/package-lock.json
  form_backend/package.json
  package-lock.json
  package.json
  server/package-lock.json
  server/package.json
Due: client, cypress, server, form_backend

Install missing jest-environment-jsdom package in /client
  client/package-lock.json
  client/package.json
Due: client, cypress

Update deprecated jest config option in server snapshot tests
  server/jest_configs/snapshot_tests.config.js
Due: server

Drop results text diff route
  client/package-lock.json
  client/package.json
  client/src/InfoBase/App.js
  client/src/TextDiff/TextDiff.js
  client/src/TextDiff/TextDiff.scss
  client/src/TextDiff/TextDiff.yaml
  client/src/core/NavComponents.js
  client/src/home/home-data.js
  client/src/home/home.yaml
Due: client, cypress

Drop treemap route
  client/src/InfoBase/App.js
  client/src/TreeMap/TreeMap.js
  client/src/TreeMap/TreeMap.scss
  client/src/TreeMap/TreeMap.yaml
  client/src/TreeMap/TreeMapControls.js
  client/src/TreeMap/TreeMapInstructions.js
  client/src/TreeMap/TreeMapLegend.js
  client/src/TreeMap/TreeMapSidebar.js
  client/src/TreeMap/TreeMapTopBar.js
  client/src/TreeMap/TreeMapViz.js
  client/src/TreeMap/data.js
  client/src/core/NavComponents.js
  client/src/home/home-data.js
  client/src/home/home.yaml
  client/src/icons/icons.tsx
  client/src/panels/panel_declarations/misc/gov_related.yaml
Due: client, cypress

Drop diff and treemap from cypress testing
  client/cypress/integration/InfoBase/cypress-snapshots.js
  client/cypress/integration/InfoBase/route_tests.spec.js
Due: client, cypress

Hot cleanup following death of treemap route, can finally clear out the old worst-practice option to not support the basic (screen reader optimized) version of select routes
  client/src/InfoBase/App.js
  client/src/core/NavComponents.js
  client/src/home/a11y_home.js
  client/src/home/home.yaml
Due: client, cypress

Hotfix to data error in IIRC's passport issuance service application report for 2018-19; values for submissions in person and by mail were swapped around. Erratum footnote to follow
  data/service-reports.csv
Due: none

May 2022 COVID expenditures
  data/covid_expenditures.csv
Due: none

Update hardcoded month and COV015 ammount in FAQ text. 2022-23 COV015 spending seems to have been ammended downwards since the April update, confirm that
  client/src/panels/panel_declarations/covid/covid_key_concepts.yaml
Due: client, cypress

Service Inventory collects_fees populate fix, no longer always null
  server/src/models/services/populate.js
Due: server

Path conditions:
  client: any of: client/
  cypress: any of: client/
  server: any of: server/
  form_backend: any of: form_backend/
