Repository TBS-EACPD/infobase: changes, and which Codecov flags are due for each by the changed paths.
All: client, cypress, server, form_backend

Info banner for SW and some text changes
  client/src/common_text/faq/financial_questions.yaml
  client/src/core/NavComponents.js
  client/src/models/metadata/Sources.yaml
  client/src/panels/get_panels_for_subject/get_dept_panels.js
  client/src/panels/get_panels_for_subject/get_gov_panels.js
  client/src/panels/panel_declarations/finances/vote_stat/vote_stat_text.yaml
  client/src/panels/panel_declarations/index.js
  client/src/panels/panel_declarations/misc/index.js
  client/src/panels/panel_declarations/misc/warning_panels.js
  client/src/panels/panel_declarations/misc/warning_panels.yaml
Due: client, cypress

Program vote/stat panel text adjustment
  client/src/panels/panel_declarations/finances/vote_stat/vote_stat_text.yaml
Due: client, cypress

Update igoc files to use embedded website urls
  client/src/models/subjects/Dept.ts
  client/src/models/subjects/populate_subjects.ts
  client/src/panels/panel_declarations/intro/profile_panels.js
  data/igoc.csv
  data/igoc_en.csv
  data/igoc_fr.csv
Due: client, cypress

Update subject store to use embedded eval_url
  client/build_code/copy_static_assets.js
  client/src/models/populate_initial_stores_from_lookups.ts
  client/src/models/subjects/populate_subjects.ts
  data/url_lookups.csv
Due: client, cypress

Remove url_lookups and update snapshot tests
  client/src/types/types.gql.ts
  data/test-data/igoc.csv
  data/test-data/url_lookups.csv
  server/src/models/core_subject/__snapshots__/core_subject.snapshot-test.js.snap
  server/src/models/core_subject/models.js
  server/src/models/core_subject/populate.js
  server/src/models/core_subject/schema.js
Due: client, cypress, server

Hiding stat panels and latest authority graph point
  client/src/models/estimates.ts
  client/src/panels/panel_declarations/finances/auth_exp_planned_spending/auth_exp_planned_spending.js
  client/src/panels/panel_declarations/finances/auth_exp_planned_spending/auth_exp_planned_spending.yaml
  client/src/panels/panel_declarations/finances/vote_stat/in_year_vote_stat_breakdown.js
  client/src/panels/panel_declarations/finances/vote_stat/in_year_vote_stat_split.js
Due: client, cypress

Dummy data for multiple depts + roll years forward (like mains)
  client/src/common_text/template_globals.yaml
  data/org_vote_stat_estimates.csv
Due: client, cypress

A few extra SWs for ACOA to test voted/stat authorities
  data/org_vote_stat_estimates.csv
Due: none

Vocabulary changes
  client/src/EstimatesComparison/EstimatesComparison.yaml
  client/src/common_text/common_lang.yaml
  client/src/common_text/estimates_lang.yaml
  client/src/models/estimates.ts
  client/src/models/metadata/Datasets.yaml
  client/src/panels/panel_declarations/finances/vote_stat/vote_stat_text.yaml
  server/src/models/vote_stat/constants.js
Due: client, cypress, server

Initial test run of implementing Special Warrants (dept: ACOA)
  client/src/EstimatesComparison/EstimatesComparison.yaml
  client/src/EstimatesComparison/EstimatesExplorerComponent.js
  client/src/EstimatesComparison/scheme.js
  client/src/EstimatesComparison/utils.js
  client/src/common_text/common_lang.yaml
  client/src/common_text/estimates_lang.yaml
  client/src/common_text/faq/financial_questions.yaml
  client/src/models/estimates.ts
  client/src/models/metadata/Sources.yaml
  client/src/panels/panel_declarations/covid/covid_estimates.yaml
  client/src/panels/panel_declarations/finances/vote_stat/vote_stat_text.yaml
  client/src/tables/orgVoteStatEstimates.js
  client/src/tables/orgVoteStatEstimates.yaml
  data/org_vote_stat_estimates.csv
  server/src/models/vote_stat/constants.js
Due: client, cypress, server

Fix estimates comparison error when grouping by item type and colum header shortened text for SW
  client/src/EstimatesComparison/EstimatesComparison.yaml
  client/src/EstimatesComparison/scheme.js
Due: client, cypress

Forgot to use new faq entry
  client/src/panels/panel_declarations/misc/key_concept_panels/key_concept_panels.js
Due: client, cypress

Misc changes that were missed spec war titles and faqs
  client/src/EstimatesComparison/EstimatesExplorerComponent.js
  client/src/EstimatesComparison/scheme.js
  client/src/common_text/common_lang.yaml
  client/src/home/home-data.js
Due: client, cypress

Initial SW2 setup, 5mil dummy data
  client/src/EstimatesComparison/EstimatesComparison.yaml
  client/src/EstimatesComparison/scheme.js
  client/src/EstimatesComparison/utils.js
  client/src/common_text/common_lang.yaml
  client/src/common_text/estimates_lang.yaml
  client/src/models/estimates.ts
  data/org_vote_stat_estimates.csv
  server/src/models/vote_stat/constants.js
Due: client, cypress, server

People data populate script bug fix, there's a duplicate entry not being properly counted
  server/src/models/people/populate.js
Due: server

Add recipient location data and clean up recipient panel
  client/src/models/metadata/Datasets.ts
  client/src/models/metadata/Datasets.yaml
  client/src/models/recipients/RecipientsGeneralStatsDataStore.ts
  client/src/models/recipients/populate.js
  client/src/models/recipients/queries/RecipientSummaryGov/RecipientSummaryGov.gql.ts
  client/src/models/recipients/queries/RecipientSummaryGov/RecipientSummaryGov.graphql
  client/src/models/recipients/queries/RecipientSummaryOrg/RecipientSummaryOrg.gql.ts
  client/src/models/recipients/queries/RecipientSummaryOrg/RecipientSummaryOrg.graphql
  client/src/panels/panel_declarations/finances/transfer_payments/gnc-text.yaml
  client/src/panels/panel_declarations/finances/transfer_payments/recipients.js
  client/src/types/types.gql.ts
  server/src/models/recipients/models.js
  server/src/models/recipients/schema.js
Due: client, cypress, server

Add snpashot test data for recipients
  data/test-data/transfer_payments.csv
Due: none

Reorder imports
  server/src/models/index.js
Due: server

Populate only top 10 recipients
  client/src/panels/panel_declarations/finances/transfer_payments/recipients.js
  server/src/models/recipients/populate.js
Due: client, cypress, server

Add a sub table that displays transfer payment details
  client/src/models/recipients/queries/RecipientSummaryGov/RecipientSummaryGov.gql.ts
  client/src/models/recipients/queries/RecipientSummaryGov/RecipientSummaryGov.graphql
  client/src/models/recipients/queries/RecipientSummaryOrg/RecipientSummaryOrg.gql.ts
  client/src/models/recipients/queries/RecipientSummaryOrg/RecipientSummaryOrg.graphql
  client/src/panels/panel_declarations/finances/transfer_payments/gnc-text.yaml
  client/src/panels/panel_declarations/finances/transfer_payments/recipients.js
  client/src/types/types.gql.ts
  server/src/models/recipients/models.js
  server/src/models/recipients/populate.js
  server/src/models/recipients/schema.js
Due: client, cypress, server

Clean up imports
  server/src/models/recipients/models.js
Due: server

Add footnotes at dept level for TBS to explain the variance between expenditure and planned spending
  client/src/panels/panel_declarations/finances/welcome_mat/welcome_mat.js
  client/src/panels/panel_declarations/finances/welcome_mat/welcome_mat.yaml
Due: client, cypress

Clean up files
  client/src/models/recipients/RecipientsSummaryDataStore.ts
  client/src/models/recipients/populate.js
  client/src/models/recipients/queries/RecipientsGeneralStats/RecipientsGeneralStats.gql.ts
  client/src/models/recipients/queries/RecipientsGeneralStats/RecipientsGeneralStats.graphql
  client/src/models/recipients/queries/RecipientsGeneralStats/RecipientsGeneralStats.ts
  client/src/models/recipients/queries/index.ts
  client/src/panels/panel_declarations/finances/transfer_payments/recipients.js
  client/src/types/types.gql.ts
  server/src/models/recipients/models.js
  server/src/models/recipients/populate.js
  server/src/models/recipients/schema.js
Due: client, cypress, server

Update subject store so is_dp_org follows boolean logic of status_code field
  client/src/models/subjects/Dept.ts
Due: client, cypress

Update snapshot tests
  server/src/models/core_subject/__snapshots__/core_subject.snapshot-test.js.snap
  server/src/models/core_subject/core_subject.snapshot-test.js
Due: server

Update igoc files
  data/igoc.csv
  data/igoc_en.csv
  data/igoc_fr.csv
Due: none

SW2 data
  data/org_vote_stat_estimates.csv
Due: none

Update igoc files
  data/igoc_en.csv
  data/igoc_fr.csv
Due: none

Add panel that shows recipient by location
  client/src/charts/canada/canada.js
  client/src/models/recipients/queries/RecipientSummaryGov/RecipientSummaryGov.gql.ts
  client/src/models/recipients/queries/RecipientSummaryGov/RecipientSummaryGov.graphql
  client/src/models/recipients/queries/RecipientSummaryOrg/RecipientSummaryOrg.gql.ts
  client/src/models/recipients/queries/RecipientSummaryOrg/RecipientSummaryOrg.graphql
  client/src/models/recipients/queries/RecipientsForGov/RecipientsForGov.graphql
  client/src/panels/get_panels_for_subject/get_dept_panels.js
  client/src/panels/get_panels_for_subject/get_gov_panels.js
  client/src/panels/panel_declarations/finances/index.js
  client/src/panels/panel_declarations/finances/transfer_payments/gnc-text.yaml
  client/src/panels/panel_declarations/finances/transfer_payments/index.js
  client/src/panels/panel_declarations/finances/transfer_payments/recipients_map.js
  client/src/panels/panel_declarations/index.js
  client/src/types/types.gql.ts
  server/src/models/recipients/constants.js
  server/src/models/recipients/models.js
  server/src/models/recipients/schema.js
Due: client, cypress, server

Spec Warr 2 name
  client/src/EstimatesComparison/EstimatesComparison.yaml
  client/src/common_text/common_lang.yaml
  client/src/common_text/estimates_lang.yaml
  client/src/models/estimates.ts
  server/src/models/vote_stat/constants.js
Due: client, cypress, server

Path conditions:
  client: any of: client/
  cypress: any of: client/
  server: any of: server/
  form_backend: any of: form_backend/
