Repository TBS-EACPD/infobase: changes, and which Codecov flags are due for each by the changed paths.
All: client, cypress, server, form_backend

Disable toggling for suppressed graphs and update FOL panel
  client/src/panels/panel_declarations/people/employee_age.js
  client/src/panels/panel_declarations/people/employee_fol.js
  client/src/panels/panel_declarations/people/employee_fol.yaml
  client/src/panels/panel_declarations/people/employee_gender.js
Due: client, cypress

Bar chart for avg age if suppressed data exists, populate null for missing years avg age
  client/src/panels/panel_declarations/people/employee_age.js
  server/src/models/people/populate.js
Due: client, cypress, server

Use has_people_data correclty to load infographics, remove datasets from panels (links to rpb), remove people from rbp (temp)
  client/src/models/people/api_load_has_people_data.js
  client/src/models/people/queries/DeptHasPeopleData/DeptHasPeopleData.gql.ts
  client/src/models/people/queries/DeptHasPeopleData/DeptHasPeopleData.graphql
  client/src/models/people/queries/DeptHasPeopleData/DeptHasPeopleData.ts
  client/src/models/people/queries/index.js
  client/src/models/subjects/Dept.ts
  client/src/panels/get_panels_for_subject/get_dept_panels.js
  client/src/panels/panel_declarations/people/employee_age.js
  client/src/panels/panel_declarations/people/employee_executive_level.js
  client/src/panels/panel_declarations/people/employee_fol.js
  client/src/panels/panel_declarations/people/employee_gender.js
  client/src/panels/panel_declarations/people/employee_last_year_totals.js
  client/src/panels/panel_declarations/people/employee_prov.js
  client/src/panels/panel_declarations/people/employee_totals.js
  client/src/panels/panel_declarations/people/employee_type.js
  client/src/rpb/table_picker_concept_filter.ts
  client/src/types/types.gql.ts
  data/org_employee_type.csv
  server/src/models/people/schema.js
Due: client, cypress, server

Custom hook for suppressed logic and generic privacy statement for panels with mostly suppressed data. Other text calculations made no sense
  client/src/models/people/hooks.js
  client/src/panels/panel_declarations/people/employee_age.js
  client/src/panels/panel_declarations/people/employee_age.yaml
  client/src/panels/panel_declarations/people/employee_fol.js
  client/src/panels/panel_declarations/people/employee_fol.yaml
  client/src/panels/panel_declarations/people/employee_gender.js
  client/src/panels/panel_declarations/people/employee_gender.yaml
Due: client, cypress

Adjust suppressed pattern note
  client/src/models/people/hooks.js
  client/src/panels/panel_declarations/people/employee_age.yaml
Due: client, cypress

Disable percentage view (temp)
  client/src/charts/wrapped_nivo/NivoLineBarToggle/NivoLineBarToggle.js
Due: client, cypress

Remove all references to people data in old Table API and update Gov Overview infographic to use people graphql query
  client/cypress/integration/InfoBase/cypress-snapshots.js
  client/cypress/integration/InfoBase/route_tests.spec.js
  client/src/InfoBase/bootstrapper.js
  client/src/models/metadata/Datasets.ts
  client/src/models/people/queries/index.js
  client/src/panels/panel_declarations/intro/simplographic/simplographic.js
  client/src/panels/panel_declarations/intro/simplographic/simplographic.yaml
  client/src/panels/panel_declarations/people/employee_type.js
  client/src/tables/orgEmployeeAgeGroup.js
  client/src/tables/orgEmployeeAgeGroup.yaml
  client/src/tables/orgEmployeeAvgAge.js
  client/src/tables/orgEmployeeAvgAge.yaml
  client/src/tables/orgEmployeeExLvl.js
  client/src/tables/orgEmployeeExLvl.yaml
  client/src/tables/orgEmployeeFol.js
  client/src/tables/orgEmployeeFol.yaml
  client/src/tables/orgEmployeeGender.js
  client/src/tables/orgEmployeeGender.yaml
  client/src/tables/orgEmployeeRegion.js
  client/src/tables/orgEmployeeRegion.yaml
  client/src/tables/orgEmployeeType.js
  client/src/tables/orgEmployeeType.yaml
  client/src/tables/people_five_year_percentage_formula.js
Due: client, cypress

Delete old people data CSVs
  data/org_employee_age_group.csv
  data/org_employee_avg_age.csv
  data/org_employee_dept.csv
  data/org_employee_ex_lvl.csv
  data/org_employee_fol.csv
  data/org_employee_gender.csv
  data/org_employee_region.csv
  data/org_employee_type.csv
  data/test-data/org_employee_avg_age.csv
  data/test-data/org_employee_type.csv
  data/test-data/test_org_employee_avg_age.csv
  data/test-data/test_org_employee_type.csv
  data/test_org_employee_age_group.csv
  data/test_org_employee_avg_age.csv
  data/test_org_employee_ex_lvl.csv
  data/test_org_employee_fol.csv
  data/test_org_employee_gender.csv
  data/test_org_employee_region.csv
  data/test_org_employee_type.csv
  server/src/models/people/populate.js
Due: server

Revert custom hook changes for age file, not working for now, will fix later
  client/src/panels/panel_declarations/people/employee_age.js
Due: client, cypress

Accidentally deleted some suppression text changes
  client/src/panels/panel_declarations/people/employee_age.js
Due: client, cypress

Update home page quick links
  client/src/home/home-data.js
  client/src/home/home.yaml
Due: client, cypress

Use original graph colors with white striped lines for suppressed pattern instead of grey
  client/src/charts/wrapped_nivo/NivoLineBarToggle/NivoLineBarToggle.js
  client/src/panels/panel_declarations/people/employee_age.js
  client/src/panels/panel_declarations/people/employee_fol.js
  client/src/panels/panel_declarations/people/employee_gender.js
Due: client, cypress

Fix error for display table on people infographic accessibility mode
  client/src/components/DisplayTable/DisplayTable.tsx
Due: client, cypress

Graph pattern note alignment adjustment
  client/src/panels/panel_declarations/people/employee_age.js
Due: client, cypress

Improved populate script and fixed some errors, avg_share was wrong formula
  server/src/models/people/populate.js
Due: server

Add test data for new format
  data/test-data/test_org_employee_avg_age.csv
  data/test-data/test_org_employee_type.csv
Due: none

employee type panel
  client/src/panels/panel_declarations/people/employee_type.js
  client/src/panels/panel_declarations/people/employee_type.yaml
Due: client, cypress

Update snapshot
  server/src/models/people/__snapshots__/people.snapshot-test.js.snap
Due: server

forgot prettier, oops
  client/src/models/people/queries/GovPeopleSummary/GovPeopleSummary.ts
  client/src/panels/panel_declarations/people/employee_fol.js
  client/src/panels/panel_declarations/people/employee_prov.js
  client/src/panels/panel_declarations/people/employee_totals.js
Due: client, cypress

employee fol panel
  client/src/panels/panel_declarations/people/employee_fol.js
Due: client, cypress

forgot some test data...
  data/test-data/People_data_lookup.csv
  data/test-data/goc-org-variants.csv
Due: none

update populate script to handle duplicate entries for same dimensions
  server/src/models/people/populate.js
Due: server

Custom tooltip formatter and update employee fol to use suppressed pattern
  client/src/charts/wrapped_nivo/NivoLineBarToggle/NivoLineBarToggle.js
  client/src/charts/wrapped_nivo/WrappedNivoBar/wrapped_nivo_bar.js
  client/src/charts/wrapped_nivo/WrappedNivoLine/WrappedNivoLine.js
  client/src/panels/panel_declarations/people/employee_age.js
  client/src/panels/panel_declarations/people/employee_fol.js
  client/src/panels/panel_declarations/people/employee_fol.yaml
Due: client, cypress

employee totals panel
  client/src/panels/panel_declarations/people/employee_totals.js
Due: client, cypress

Gov level avg age fix
  client/src/panels/panel_declarations/people/employee_age.js
Due: client, cypress

Add suppressed logic for employee gender panel
  client/src/panels/panel_declarations/people/employee_gender.js
  client/src/panels/panel_declarations/people/employee_gender.yaml
Due: client, cypress

GoVPeopleSummary client query
  client/src/models/people/queries/GovPeopleSummary/GovPeopleSummary.gql.ts
  client/src/models/people/queries/GovPeopleSummary/GovPeopleSummary.graphql
  client/src/models/people/queries/GovPeopleSummary/GovPeopleSummary.ts
  client/src/models/people/queries/index.js
Due: client, cypress

types
  client/src/types/types.gql.ts
Due: client, cypress

Initial trial to change graph colors for suppressed data, WIP but need dev link
  client/src/charts/wrapped_nivo/NivoLineBarToggle/NivoLineBarToggle.js
  client/src/charts/wrapped_nivo/WrappedNivoBar/wrapped_nivo_bar.js
  client/src/common_text/people_lang.yaml
  client/src/panels/panel_declarations/people/employee_age.js
  server/src/models/people/populate.js
Due: client, cypress, server

employee last_year_totals panel
  client/src/panels/panel_declarations/people/employee_last_year_totals.js
Due: client, cypress

Removed unused variable
  server/src/models/people/populate.js
Due: server

Region panel and random warning panel bug? happened from stashing I believe
  client/src/panels/panel_declarations/misc/warning_panels.js
  client/src/panels/panel_declarations/people/employee_prov.js
Due: client, cypress

employee last year totals fixed unused import
  client/src/panels/panel_declarations/people/employee_last_year_totals.js
Due: client, cypress

employee exec panel
  client/src/panels/panel_declarations/people/employee_executive_level.js
Due: client, cypress

Path conditions:
  client: any of: client/
  cypress: any of: client/
  server: any of: server/
  form_backend: any of: form_backend/
