Repository TBS-EACPD/infobase: changes, and which Codecov flags are due for each by the changed paths.
All: client, cypress, server, form_backend

fetch remainder of people data
  .circleci/config.yml
  scripts/open_gov_dataset_registry.mjs
Due: none

FEDNO fix
  data/org_vote_stat_estimates.csv
Due: none

remove circle ci open gov config on master
  .circleci/config.yml
Due: none

split label years from data columns
  client/src/explorer_common/resource_explorer_common.js
  client/src/models/results/results.js
  client/src/panels/panel_declarations/results/results_common.js
Due: client, cypress

hide gba results
  client/src/panels/panel_declarations/results/result_components.js
  client/src/panels/panel_declarations/results/result_drilldown/result_drilldown_display.js
  client/src/panels/panel_declarations/results/results_common.js
  client/src/panels/panel_declarations/results/results_intro.js
Due: client, cypress

data from pipeline
  data/org_transfer_payments.csv
  data/org_vote_stat_estimates.csv
Due: none

supps a setup
  client/src/common_text/common_lang.yaml
  client/src/home/home-data.js
  client/src/models/estimates.ts
Due: client, cypress

bug entry
  data/org_transfer_payments.csv
Due: none

finish up finance server side graphql
  client/src/types/types.gql.ts
  server/src/models/finances/__snapshots__/finances.snapshot-test.js.snap
  server/src/models/finances/finances.snapshot-test.js
  server/src/models/finances/schema.js
Due: client, cypress, server

Retart finance migration, welcome mat done
  client/src/models/finances/api_load_has_finance_data.js
  client/src/models/finances/finance_utils.js
  client/src/models/finances/queries/CrsoWelcomeMatFinance/CrsoWelcomeMatFinance.gql.ts
  client/src/models/finances/queries/CrsoWelcomeMatFinance/CrsoWelcomeMatFinance.graphql
  client/src/models/finances/queries/DeptHasFinanceData/DeptHasFinanceData.gql.ts
  client/src/models/finances/queries/DeptHasFinanceData/DeptHasFinanceData.graphql
  client/src/models/finances/queries/GovWelcomeMatFinance/GovWelcomeMatFinance.gql.ts
  client/src/models/finances/queries/GovWelcomeMatFinance/GovWelcomeMatFinance.graphql
  client/src/models/finances/queries/OrgWelcomeMatFinance/OrgWelcomeMatFinance.gql.ts
  client/src/models/finances/queries/OrgWelcomeMatFinance/OrgWelcomeMatFinance.graphql
  client/src/models/finances/queries/ProgramWelcomeMatFinance/ProgramWelcomeMatFinance.gql.ts
  client/src/models/finances/queries/ProgramWelcomeMatFinance/ProgramWelcomeMatFinance.graphql
  client/src/models/finances/queries/_fragments.gql.ts
  client/src/models/finances/queries/_fragments.graphql
  client/src/models/finances/queries/index.ts
  client/src/models/finances/useWelcomeMatFinanceData.js
  client/src/models/finances/welcome_mat_calculations.js
  client/src/panels/panel_declarations/finances/welcome_mat/welcome_mat.js
  client/src/panels/panel_declarations/finances/welcome_mat/welcome_mat_exp_program_spending.js
  client/src/panels/panel_declarations/finances/welcome_mat/welcome_mat_fte.js
  client/src/types/types.gql.ts
  data/test-data/org_sobjs.csv
  server/src/models/finances/models.js
  server/src/models/finances/populate.js
  server/src/models/finances/schema.js
Due: client, cypress, server

migrate planned_actual_comparison
  client/src/models/finances/planned_actual_comparison_calculations.js
  client/src/models/finances/queries/CrsoWelcomeMatFinance/CrsoWelcomeMatFinance.gql.ts
  client/src/models/finances/queries/GovWelcomeMatFinance/GovWelcomeMatFinance.gql.ts
  client/src/models/finances/queries/OrgWelcomeMatFinance/OrgWelcomeMatFinance.gql.ts
  client/src/models/finances/queries/ProgramWelcomeMatFinance/ProgramWelcomeMatFinance.gql.ts
  client/src/models/finances/queries/_fragments.gql.ts
  client/src/models/finances/queries/_fragments.graphql
  client/src/panels/panel_declarations/finances/planned_actual_comparison/planned_actual_comparison.js
  client/src/types/types.gql.ts
  server/src/models/finances/__snapshots__/finances.snapshot-test.js.snap
  server/src/models/finances/finances.snapshot-test.js
  server/src/models/finances/schema.js
Due: client, cypress, server

migrate internal_services and spending_in_tag_perspective
  client/src/models/finances/finance_utils.js
  client/src/models/finances/internal_services_calculations.js
  client/src/models/finances/spending_in_tag_perspective_calculations.js
  client/src/models/finances/useInternalServicesFinanceData.js
  client/src/models/finances/useSpendingInTagPerspectiveFinanceData.js
  client/src/panels/panel_declarations/finances/drr_dp_resources/spending_in_perspective.js
  client/src/panels/panel_declarations/finances/internal_services/internal_services.js
Due: client, cypress

migrate vote stat panels
  client/src/models/finances/org_vote_stat_estimates_calculations.js
  client/src/models/finances/program_vote_stat_calculations.js
  client/src/models/finances/queries/CrsoWelcomeMatFinance/CrsoWelcomeMatFinance.gql.ts
  client/src/models/finances/queries/GovWelcomeMatFinance/GovWelcomeMatFinance.gql.ts
  client/src/models/finances/queries/GovWelcomeMatFinance/GovWelcomeMatFinance.graphql
  client/src/models/finances/queries/OrgWelcomeMatFinance/OrgWelcomeMatFinance.gql.ts
  client/src/models/finances/queries/ProgramWelcomeMatFinance/ProgramWelcomeMatFinance.gql.ts
  client/src/models/finances/queries/ProgramWelcomeMatFinance/ProgramWelcomeMatFinance.graphql
  client/src/models/finances/queries/_fragments.gql.ts
  client/src/models/finances/queries/_fragments.graphql
  client/src/models/finances/useOrgVoteStatEstimatesFinanceData.js
  client/src/models/finances/useProgramVoteStatFinanceData.js
  client/src/models/finances/vote_stat_utils.js
  client/src/panels/panel_declarations/finances/vote_stat/estimates_in_perspective.js
  client/src/panels/panel_declarations/finances/vote_stat/in_year_estimates_split.js
  client/src/panels/panel_declarations/finances/vote_stat/in_year_vote_stat_breakdown.js
  client/src/panels/panel_declarations/finances/vote_stat/in_year_vote_stat_split.js
  client/src/panels/panel_declarations/finances/vote_stat/last_year_vote_stat_split.js
Due: client, cypress

migrate standard object panels
  client/src/models/finances/queries/CrsoWelcomeMatFinance/CrsoWelcomeMatFinance.gql.ts
  client/src/models/finances/queries/GovWelcomeMatFinance/GovWelcomeMatFinance.gql.ts
  client/src/models/finances/queries/GovWelcomeMatFinance/GovWelcomeMatFinance.graphql
  client/src/models/finances/queries/OrgWelcomeMatFinance/OrgWelcomeMatFinance.gql.ts
  client/src/models/finances/queries/OrgWelcomeMatFinance/OrgWelcomeMatFinance.graphql
  client/src/models/finances/queries/ProgramWelcomeMatFinance/ProgramWelcomeMatFinance.gql.ts
  client/src/models/finances/queries/ProgramWelcomeMatFinance/ProgramWelcomeMatFinance.graphql
  client/src/models/finances/queries/_fragments.gql.ts
  client/src/models/finances/queries/_fragments.graphql
  client/src/models/finances/sobj_calculations.js
  client/src/models/finances/sobj_utils.js
  client/src/models/finances/useOrgSobjsFinanceData.js
  client/src/models/finances/useProgramSobjsFinanceData.js
  client/src/panels/panel_declarations/finances/sobj/personel_spend.js
  client/src/panels/panel_declarations/finances/sobj/spend_by_so_hist.js
  client/src/panels/panel_declarations/finances/sobj/spend_rev_split.js
  client/src/panels/panel_declarations/finances/sobj/top_spending_areas.js
  client/src/types/types.gql.ts
  server/src/models/finances/finances.snapshot-test.js
  server/src/models/finances/schema.js
Due: client, cypress, server

migrate auth_exp_planned_spending panel
  client/src/models/finances/auth_exp_planned_spending_calculations.js
  client/src/models/finances/auth_exp_utils.js
  client/src/models/finances/queries/CrsoWelcomeMatFinance/CrsoWelcomeMatFinance.gql.ts
  client/src/models/finances/queries/GovWelcomeMatFinance/GovWelcomeMatFinance.gql.ts
  client/src/models/finances/queries/GovWelcomeMatFinance/GovWelcomeMatFinance.graphql
  client/src/models/finances/queries/OrgWelcomeMatFinance/OrgWelcomeMatFinance.gql.ts
  client/src/models/finances/queries/OrgWelcomeMatFinance/OrgWelcomeMatFinance.graphql
  client/src/models/finances/queries/ProgramWelcomeMatFinance/ProgramWelcomeMatFinance.gql.ts
  client/src/models/finances/queries/_fragments.gql.ts
  client/src/models/finances/queries/_fragments.graphql
  client/src/models/finances/useAuthExpPlannedSpendingFinanceData.js
  client/src/panels/panel_declarations/finances/auth_exp_planned_spending/auth_exp_planned_spending.js
Due: client, cypress

migrate transfer payments
  client/src/models/finances/queries/CrsoWelcomeMatFinance/CrsoWelcomeMatFinance.gql.ts
  client/src/models/finances/queries/GovWelcomeMatFinance/GovWelcomeMatFinance.gql.ts
  client/src/models/finances/queries/GovWelcomeMatFinance/GovWelcomeMatFinance.graphql
  client/src/models/finances/queries/OrgWelcomeMatFinance/OrgWelcomeMatFinance.gql.ts
  client/src/models/finances/queries/OrgWelcomeMatFinance/OrgWelcomeMatFinance.graphql
  client/src/models/finances/queries/ProgramWelcomeMatFinance/ProgramWelcomeMatFinance.gql.ts
  client/src/models/finances/queries/_fragments.gql.ts
  client/src/models/finances/queries/_fragments.graphql
  client/src/models/finances/transfer_payment_utils.js
  client/src/models/finances/transfer_payments_calculations.js
  client/src/models/finances/useTransferPaymentsFinanceData.js
  client/src/panels/panel_declarations/finances/transfer_payments/historical_g_and_c.js
  client/src/panels/panel_declarations/finances/transfer_payments/last_year_g_and_c_perspective.js
Due: client, cypress

pogram sobjs graphql
  client/src/models/finances/crso_by_prog_calculations.js
  client/src/models/finances/detailed_program_spending_split_calculations.js
  client/src/models/finances/goco_calculations.js
  client/src/models/finances/program_finance_utils.js
  client/src/models/finances/queries/CrsoWelcomeMatFinance/CrsoWelcomeMatFinance.gql.ts
  client/src/models/finances/queries/GovWelcomeMatFinance/GovWelcomeMatFinance.gql.ts
  client/src/models/finances/queries/OrgWelcomeMatFinance/OrgWelcomeMatFinance.gql.ts
  client/src/models/finances/queries/OrgWelcomeMatFinance/OrgWelcomeMatFinance.graphql
  client/src/models/finances/queries/ProgramWelcomeMatFinance/ProgramWelcomeMatFinance.gql.ts
  client/src/models/finances/queries/_fragments.gql.ts
  client/src/models/finances/queries/_fragments.graphql
  client/src/models/finances/useCrsoByProgFinanceData.js
  client/src/models/finances/useDetailedProgramSpendingSplitFinanceData.js
  client/src/panels/panel_declarations/finances/detailed_program_spending_split/detailed_program_spending_split.js
  client/src/panels/panel_declarations/finances/drr_dp_resources/crso_by_prog.js
  client/src/panels/panel_declarations/finances/goco/goco.js
  client/src/types/types.gql.ts
  server/src/models/finances/schema.js
Due: client, cypress, server

ensure loaded, has finance data
  client/src/core/ensure_loaded.js
  client/src/models/finances/queries/ProgramWelcomeMatFinance/ProgramWelcomeMatFinance.gql.ts
  client/src/models/subjects/Dept.ts
  client/src/panels/get_panels_for_subject/get_dept_panels.js
  server/src/models/finances/schema.js
Due: client, cypress, server

prettier
  client/src/models/finances/auth_exp_planned_spending_calculations.js
  client/src/models/finances/auth_exp_utils.js
  client/src/models/finances/detailed_program_spending_split_calculations.js
  client/src/models/finances/goco_calculations.js
  client/src/models/finances/org_vote_stat_estimates_calculations.js
  client/src/models/finances/planned_actual_comparison_calculations.js
  client/src/models/finances/queries/index.ts
  client/src/models/finances/sobj_calculations.js
  client/src/models/finances/transfer_payments_calculations.js
  client/src/models/finances/useAuthExpPlannedSpendingFinanceData.js
  client/src/models/finances/useOrgSobjsFinanceData.js
  client/src/models/finances/useOrgVoteStatEstimatesFinanceData.js
  client/src/models/finances/useTransferPaymentsFinanceData.js
  client/src/models/finances/useWelcomeMatFinanceData.js
  client/src/models/finances/vote_stat_utils.js
  client/src/panels/panel_declarations/finances/auth_exp_planned_spending/auth_exp_planned_spending.js
  client/src/panels/panel_declarations/finances/drr_dp_resources/crso_by_prog.js
  client/src/panels/panel_declarations/finances/goco/goco.js
  client/src/panels/panel_declarations/finances/internal_services/internal_services.js
  client/src/panels/panel_declarations/finances/planned_actual_comparison/planned_actual_comparison.js
  client/src/panels/panel_declarations/finances/sobj/spend_rev_split.js
  client/src/panels/panel_declarations/finances/sobj/top_spending_areas.js
  client/src/panels/panel_declarations/finances/transfer_payments/last_year_g_and_c_perspective.js
  server/src/models/finances/populate.js
  server/src/models/finances/schema.js
Due: client, cypress, server

fix import order
  client/src/core/ensure_loaded.js
  client/src/models/finances/useWelcomeMatFinanceData.js
  client/src/panels/panel_declarations/finances/auth_exp_planned_spending/auth_exp_planned_spending.js
  client/src/panels/panel_declarations/finances/detailed_program_spending_split/detailed_program_spending_split.js
  client/src/panels/panel_declarations/finances/transfer_payments/historical_g_and_c.js
  client/src/panels/panel_declarations/finances/vote_stat/estimates_in_perspective.js
  client/src/panels/panel_declarations/finances/vote_stat/in_year_estimates_split.js
  client/src/panels/panel_declarations/finances/vote_stat/in_year_vote_stat_breakdown.js
  client/src/panels/panel_declarations/finances/vote_stat/in_year_vote_stat_split.js
  client/src/panels/panel_declarations/finances/vote_stat/last_year_vote_stat_split.js
Due: client, cypress

fix snapshot
  server/src/models/finances/__snapshots__/finances.snapshot-test.js.snap
Due: server

fix unused variables
  client/src/panels/panel_declarations/finances/drr_dp_resources/crso_by_prog.js
  client/src/panels/panel_declarations/finances/sobj/spend_by_so_hist.js
  client/src/panels/panel_declarations/finances/welcome_mat/welcome_mat.js
  server/src/models/finances/finances.snapshot-test.js
Due: client, cypress, server

prettier
  client/src/panels/panel_declarations/finances/vote_stat/estimates_in_perspective.js
  client/src/panels/panel_declarations/finances/vote_stat/in_year_estimates_split.js
  client/src/panels/panel_declarations/finances/vote_stat/in_year_vote_stat_split.js
  client/src/panels/panel_declarations/finances/vote_stat/last_year_vote_stat_split.js
Due: client, cypress

Update footer to gov standards
  client/src/InfoBase/App.js
  client/src/InfoBase/bootstrapper.js
  client/src/InfoBase/index.hbs.html
  client/src/InfoBase/index_data.ts
  client/src/core/InsertRuntimeFooterLinks.js
  client/src/extended_bootstrap_css/container-page.scss
  client/src/extended_bootstrap_css/wet-bootstrap3-holdovers.scss
Due: client, cypress

Hot fix for DP 2025-26 planned results
  client/src/explorer_common/resource_explorer_common.js
  client/src/models/results/results.js
  client/src/tables/programFtes.js
  client/src/tables/programSpending.js
  data/program_ftes.csv
  data/program_spending.csv
Due: client, cypress

temp footer fix until IMTD updates html shell
  client/src/InfoBase/App.js
  client/src/core/InsertRuntimeFooterLinks.js
  client/src/extended_bootstrap_css/wet-bootstrap3-holdovers.scss
Due: client, cypress

FEDNO vote 5 fix
  data/org_vote_stat_estimates.csv
  data/org_vote_stat_pa.csv
  data/program_ftes.csv
  data/program_spending.csv
Due: none

Service standards results display fix, include service ID
  server/src/models/services/populate.js
Due: server

small data fix from pipeline
  data/org_transfer_payments.csv
  data/program_ftes.csv
  data/program_spending.csv
  server/src/models/services/populate.js
Due: server

Path conditions:
  client: any of: client/
  cypress: any of: client/
  server: any of: server/
  form_backend: any of: form_backend/
