Repository TBS-EACPD/infobase: changes, and which Codecov flags are due for each by the changed paths.
All: client, server, form-backend

Upload cypress generated coverage reports to codecov
  .circleci/config.yml
Due: none

Turn all route load tests back on. Set CI build job to no concurrency (hopefully temporary)
  .circleci/config.yml
  client/cypress/integration/InfoBase/route_tests.spec.js
Due: client

Add distinct codecov flag for basic e2e tests, add option flag parameter to CI run_codecov command
  .circleci/config.yml
  codecov.yml
Due: none

... hotfix, drop the two new development agencies from the "late" DRR banner. They are too young to be tabling 2020-21 DRRs, should never have been in the banner.
  client/src/models/results/results.js
Due: client

Increase CI client build script max_old_space_size to 2048
  .circleci/config.yml
Due: none

Update cypress-snapshots.js following previous hotfix
  client/cypress/integration/InfoBase/cypress-snapshots.js
Due: client

Fix typos in some CI run_codecov command coverage_path parameters
  .circleci/config.yml
Due: none

Rename that flag from cypress to e2e, will make more sense for it's in-practice use
  .circleci/config.yml
  codecov.yml
Due: none

Temporary commit with webpack cache use disabled to test worst case memory usage of hlaf-concurrency build with the istanbul plugin running
  .circleci/config.yml
Due: none

With webpack cache still disabled, try babel istanbul plugin configured to not include source maps for instrumentation (should improve memory usage, effect on coverage output to be seen)
  client/build_code/webpack_common.js
Due: client

added PinnedFAQ to FormFrontend, fixed error in PinnedFAQ, new yaml file
  client/src/FormFrontend/FormFrontend.js
  client/src/FormFrontend/FormFrontend.yaml
  client/src/common_text/faq/form_questions.yaml
Due: client

using FancyUL instead of PinnedFAQ, got rid of no_pin on PinnedFAQ
  client/src/FormFrontend/FormFrontend.js
  client/src/components/PinnedFAQ/PinnedFAQ.js
Due: client

french translation for acknowledging the FAQ
  client/src/FormFrontend/FormFrontend.yaml
Due: client

created no_pin prop for PinnedFAQ, got rid of outer div
  client/src/FormFrontend/FormFrontend.js
  client/src/components/PinnedFAQ/PinnedFAQ.js
Due: client

minor style change
  client/src/FormFrontend/FormFrontend.js
Due: client

minor styling changes
  client/src/FormFrontend/FormFrontend.js
  client/src/FormFrontend/FormFrontend.yaml
Due: client

got rid of form_faq flag, moved faq into form_backend server
  client/src/FormFrontend/FormFrontend.js
  client/src/core/injected_build_constants.ts
  form_backend/templates/report_a_problem.json
Due: client, form-backend

cleanup: forgot to delete no_pin in PinnedFAQ, deleted sample yaml file
  client/src/common_text/faq/form_questions.yaml
  client/src/components/PinnedFAQ/PinnedFAQ.js
Due: client

added form faq flag
  client/src/FormFrontend/FormFrontend.js
  client/src/common_text/faq/form_questions.yaml
  client/src/core/injected_build_constants.ts
Due: client

deleted sample faqs
  client/src/FormFrontend/FormFrontend.js
  client/src/common_text/faq/form_questions.yaml
Due: client

validating completed template, forgot to re-add the checkbox earlier
  client/src/FormFrontend/FormFrontend.js
  client/src/FormFrontend/FormFrontend.yaml
  form_backend/src/template_utils/validate_completed_template.js
Due: client, form-backend

Set CI build concurrency back to none, webpack cache still disabled, istanbul useInlineSourceMaps false
  .circleci/config.yml
Due: none

hide faq for now
  client/src/FormFrontend/FormFrontend.js
  client/src/FormFrontend/FormFrontend.yaml
  form_backend/templates/report_a_problem.json
Due: client, form-backend

Tweaking istanbul/CI build concurrency options around, see if I can find a usable configuration that doesn't break the memory budget...
  .circleci/config.yml
  client/build_code/webpack_common.js
Due: client

Fingers crossed this memory limit will let two concurrent webpack builds, with the chunky istanbul plugin, fit in to CI (still testing worst case cache-less builds)
  .circleci/config.yml
Due: none

Turn CI webpack cache back on, since the current configuration should be good on memory
  .circleci/config.yml
Due: none

Make webpack istanbul instrumentation an explicit option, off by default but used during CI builds
  .circleci/config.yml
  client/build_code/webpack_common.js
  client/build_code/webpack_starter.js
Due: client

Never hit node modules with istanbul plugin
  client/build_code/webpack_common.js
Due: client

Rename codecov e2e flag to e2e_shallow, don't want any misconceptions of it's value. Add badges for it to the root and client readme's
  .circleci/config.yml
  README.md
  client/README.md
  codecov.yml
Due: client

Add multi year capabilities to gov DP summary panel
  client/src/panels/panel_declarations/results/gov_dp.js
  client/src/panels/panel_declarations/results/gov_dp.yaml
Due: client

Untangle gov and non-gov DRR summary panels. Mainly move the shared summary component to its own file and isolate the text keys.
  client/src/panels/panel_declarations/results/CommonDrrSummary.js
  client/src/panels/panel_declarations/results/CommonDrrSummary.scss
  client/src/panels/panel_declarations/results/CommonDrrSummary.yaml
  client/src/panels/panel_declarations/results/drr_summary.js
  client/src/panels/panel_declarations/results/drr_summary.yaml
  client/src/panels/panel_declarations/results/drr_summary_text.js
  client/src/panels/panel_declarations/results/gov_drr.js
  client/src/panels/panel_declarations/results/gov_drr.yaml
Due: client

Add drr_key prop to CommonDrrSummary, instead of hard coding to current DRR
  client/src/panels/panel_declarations/results/CommonDrrSummary.js
  client/src/panels/panel_declarations/results/drr_summary.js
  client/src/panels/panel_declarations/results/gov_drr.js
Due: client

Add multiple year support to Gov DRR summary panel
  client/src/panels/panel_declarations/results/CommonDrrSummary.js
  client/src/panels/panel_declarations/results/gov_drr.js
  client/src/panels/panel_declarations/results/gov_drr.yaml
Due: client

Fix prop bug in CommonDrrSummary's StatusGrid
  client/src/panels/panel_declarations/results/CommonDrrSummary.js
Due: client

Update infographic/gov/gov/results route allowed axe violations (TODO: but why? Don't see a reason for it to have changed)
  client/cypress/integration/InfoBase/cypress-snapshots.js
Due: client

Add year control to general subject DRR summary panel
  client/src/panels/panel_declarations/results/drr_summary.js
  client/src/panels/panel_declarations/results/drr_summary.yaml
Due: client

Add year selection controls to results_flat_table panel
  client/src/panels/panel_declarations/results/result_flat_table.js
  client/src/panels/panel_declarations/results/result_table_text.yaml
Due: client

Update cypress AXE snapshots
  client/cypress/integration/InfoBase/cypress-snapshots.js
Due: client

DRY some common results panel util code, drop some unused text args
  client/src/panels/panel_declarations/results/CommonDrrSummary.js
  client/src/panels/panel_declarations/results/drr_summary.js
  client/src/panels/panel_declarations/results/gov_dp.js
  client/src/panels/panel_declarations/results/gov_dp.yaml
  client/src/panels/panel_declarations/results/gov_drr.js
  client/src/panels/panel_declarations/results/result_flat_table.js
  client/src/panels/panel_declarations/results/results_common.js
Due: client

Tweak codecov.yml, more explicit configuration of target: auto on e2e_shallow and form_backend flags. Leave note that e2e_shallow threshold value might need to be increased at some point
  codecov.yml
Due: none

Path conditions:
  client: any of: client/
  server: any of: server/
  form-backend: any of: form_backend/
