Repository TBS-EACPD/infobase: changes, and which Codecov flags are due for each by the changed paths.
All: client, cypress, server, form_backend

Forgot to change year for gov spending title
  client/src/home/home.yaml
Due: client, cypress

People censored data was showing as 0
  server/src/models/people/populate.js
Due: server

update late submission banners
  client/src/models/results/results.js
Due: client, cypress

New people data
  data/goc-org-variants.csv
  data/org_employee_age_group.csv
  data/org_employee_avg_age.csv
  data/org_employee_dept.csv
  data/org_employee_ex_lvl.csv
  data/org_employee_fol.csv
  data/org_employee_gender.csv
  data/org_employee_region.csv
  data/org_employee_type.csv
Due: none

filter out 'total' dept names
  server/src/models/people/populate.js
Due: server

roll ppl years forward
  client/src/common_text/template_globals.yaml
Due: client, cypress

fixed 'arity of each output value must be equal' bug, data arrays are all same length
  client/src/charts/wrapped_nivo/NivoLineBarToggle/NivoLineBarToggle.js
Due: client, cypress

added necessary flag to deploy script to bypass manual promopt
  form_backend/scripts/deploy/prod_deploy_form_backend_function.sh
  server/scripts/deploy/ci_deploy_function.sh
  server/scripts/deploy/prod_deploy_function.sh
Due: server, form_backend

update home link for 2025 people data
  client/src/home/home-data.js
  client/src/home/home.yaml
Due: client, cypress

deploy script tweak
  server/scripts/deploy/prod_deploy_function.sh
Due: server

deploy script tweaks again
  server/scripts/deploy/prod_deploy_function.sh
Due: server

revert deploy script (testing)
  server/scripts/deploy/prod_deploy_function.sh
Due: server

add CRCC RCMP to banner
  client/src/models/results/results.js
Due: client, cypress

Clean up report year function
  server/src/models/services/populate.js
Due: server

Include service inventory 2024-2025 in featured content
  client/src/home/home-data.js
  client/src/home/home.yaml
Due: client, cypress

Fix people panel loading pattern
  client/src/panels/panel_declarations/people/employee_age.js
  client/src/panels/panel_declarations/people/employee_executive_level.js
  client/src/panels/panel_declarations/people/employee_fol.js
  client/src/panels/panel_declarations/people/employee_gender.js
  client/src/panels/panel_declarations/people/employee_last_year_totals.js
  client/src/panels/panel_declarations/people/employee_prov.js
  client/src/panels/panel_declarations/people/employee_totals.js
  client/src/panels/panel_declarations/people/employee_type.js
Due: client, cypress

Fixed prettier warnings
  client/src/panels/panel_declarations/people/employee_age.js
  client/src/panels/panel_declarations/people/employee_executive_level.js
  client/src/panels/panel_declarations/people/employee_last_year_totals.js
  client/src/panels/panel_declarations/people/employee_prov.js
  client/src/panels/panel_declarations/people/employee_totals.js
  client/src/panels/panel_declarations/people/employee_type.js
Due: client, cypress

Supps C update
  client/src/common_text/common_lang.yaml
  client/src/home/home-data.js
  client/src/models/estimates.ts
  client/src/tables/orgVoteStatEstimates.js
  data/crso.csv
  data/crso_en.csv
  data/crso_fr.csv
  data/igoc.csv
  data/igoc_en.csv
  data/igoc_fr.csv
  data/ministers.csv
  data/org_to_minister.csv
  data/org_transfer_payments.csv
  data/org_vote_stat_estimates.csv
  data/org_vote_stat_pa.csv
  data/program.csv
  data/program_en.csv
  data/program_fr.csv
  data/program_sobjs.csv
  data/program_vote_stat.csv
  data/tags_to_programs.csv
Due: client, cypress

late ressources and late resuts automated banner
  client/src/core/NavComponents.js
  client/src/models/results/index.js
  client/src/models/results/results.js
Due: client, cypress

automatic banner detection with central late orgs logic
  client/src/core/NavComponents.js
  client/src/models/footnotes/dynamic_footnotes.ts
  client/src/models/results/index.js
  client/src/models/results/late_orgs.js
  client/src/models/results/results.js
  client/src/panels/panel_declarations/finances/planned_actual_comparison/planned_actual_comparison.js
  client/src/panels/panel_declarations/misc/warning_panels.js
  client/src/panels/panel_declarations/results/gov_dp.js
  client/src/panels/panel_declarations/results/gov_drr.js
  client/src/panels/panel_declarations/results/results_common.js
Due: client, cypress

fix import order and unused variables
  client/src/models/results/late_orgs.js
  client/src/models/results/results.js
  client/src/panels/panel_declarations/finances/planned_actual_comparison/planned_actual_comparison.js
  client/src/panels/panel_declarations/results/gov_drr.js
Due: client, cypress

Pipeline data
  data/crso.csv
  data/crso_en.csv
  data/crso_fr.csv
  data/igoc.csv
  data/igoc_en.csv
  data/igoc_fr.csv
  data/org_to_minister.csv
  data/org_transfer_payments.csv
  data/org_vote_stat_estimates.csv
  data/program.csv
  data/program_en.csv
  data/program_fr.csv
  data/program_ftes.csv
  data/program_spending.csv
  data/tags_to_programs.csv
Due: none

Mains configuration
  client/src/common_text/common_lang.yaml
  client/src/common_text/template_globals.yaml
  client/src/home/home-data.js
  client/src/models/estimates.ts
Due: client, cypress

temp hide latest fte banner home page and temp exempt orgs
  client/src/core/NavComponents.js
  client/src/models/results/late_orgs.js
Due: client, cypress

Path conditions:
  client: any of: client/
  cypress: any of: client/
  server: any of: server/
  form_backend: any of: form_backend/
