Repository TBS-EACPD/infobase: changes, and which Codecov flags are due for each by the changed paths.
All: client, cypress, server, form_backend

Use has_people_data correclty to load infographics, remove datasets from panels (links to rpb), remove people from rbp (temp)
  client/src/models/people/api_load_has_people_data.js
  client/src/models/people/queries/DeptHasPeopleData/DeptHasPeopleData.gql.ts
  client/src/models/people/queries/DeptHasPeopleData/DeptHasPeopleData.graphql
  client/src/models/people/queries/DeptHasPeopleData/DeptHasPeopleData.ts
  client/src/models/people/queries/index.js
  client/src/models/subjects/Dept.ts
  client/src/panels/get_panels_for_subject/get_dept_panels.js
  client/src/panels/panel_declarations/people/employee_age.js
  client/src/panels/panel_declarations/people/employee_executive_level.js
  client/src/panels/panel_declarations/people/employee_fol.js
  client/src/panels/panel_declarations/people/employee_gender.js
  client/src/panels/panel_declarations/people/employee_last_year_totals.js
  client/src/panels/panel_declarations/people/employee_prov.js
  client/src/panels/panel_declarations/people/employee_totals.js
  client/src/panels/panel_declarations/people/employee_type.js
  client/src/rpb/table_picker_concept_filter.ts
  client/src/types/types.gql.ts
  data/org_employee_type.csv
  server/src/models/people/schema.js
Due: client, cypress, server

employee gender panel
  client/src/panels/panel_declarations/people/employee_gender.js
Due: client, cypress

Delete old people data CSVs
  data/org_employee_age_group.csv
  data/org_employee_avg_age.csv
  data/org_employee_dept.csv
  data/org_employee_ex_lvl.csv
  data/org_employee_fol.csv
  data/org_employee_gender.csv
  data/org_employee_region.csv
  data/org_employee_type.csv
  data/test-data/org_employee_avg_age.csv
  data/test-data/org_employee_type.csv
  data/test-data/test_org_employee_avg_age.csv
  data/test-data/test_org_employee_type.csv
  data/test_org_employee_age_group.csv
  data/test_org_employee_avg_age.csv
  data/test_org_employee_ex_lvl.csv
  data/test_org_employee_fol.csv
  data/test_org_employee_gender.csv
  data/test_org_employee_region.csv
  data/test_org_employee_type.csv
  server/src/models/people/populate.js
Due: server

Applying suppressed data pattern to specific data points in graph
  client/src/charts/wrapped_nivo/NivoLineBarToggle/NivoLineBarToggle.js
  client/src/panels/panel_declarations/people/employee_age.js
  client/src/panels/panel_declarations/people/employee_age.yaml
Due: client, cypress

Updated populate script, fixed for avg_share
  server/src/models/people/populate.js
  server/src/models/people/schema.js
Due: server

Remove some console logs
  client/src/panels/panel_declarations/people/employee_executive_level.js
  client/src/panels/panel_declarations/people/employee_type.js
Due: client, cypress

Bar chart for avg age if suppressed data exists, populate null for missing years avg age
  client/src/panels/panel_declarations/people/employee_age.js
  server/src/models/people/populate.js
Due: client, cypress, server

Disable toggling for suppressed graphs and update FOL panel
  client/src/panels/panel_declarations/people/employee_age.js
  client/src/panels/panel_declarations/people/employee_fol.js
  client/src/panels/panel_declarations/people/employee_fol.yaml
  client/src/panels/panel_declarations/people/employee_gender.js
Due: client, cypress

Update server snapshot
  server/src/models/people/people.snapshot-test.js
Due: server

Fix error for display table on people infographic accessibility mode
  client/src/components/DisplayTable/DisplayTable.tsx
Due: client, cypress

employee prov panel
  client/src/panels/panel_declarations/people/employee_prov.js
Due: client, cypress

Fixed import order
  client/src/panels/panel_declarations/people/employee_age.js
Due: client, cypress

Revert custom hook changes for age file, not working for now, will fix later
  client/src/panels/panel_declarations/people/employee_age.js
Due: client, cypress

Server populate script complete re-write to accomodate new data structure
  data/People_data_lookup.csv
  data/goc-org-variants.csv
  data/test_org_employee_age_group.csv
  data/test_org_employee_avg_age.csv
  data/test_org_employee_dept.csv
  data/test_org_employee_ex_lvl.csv
  data/test_org_employee_fol.csv
  data/test_org_employee_gender.csv
  data/test_org_employee_region.csv
  data/test_org_employee_type.csv
  server/src/models/people/populate.js
  server/src/models/people/utils.js
Due: server

Graph pattern note alignment adjustment
  client/src/panels/panel_declarations/people/employee_age.js
Due: client, cypress

Update home page quick links
  client/src/home/home-data.js
  client/src/home/home.yaml
Due: client, cypress

Employee type panel update initial implementation
  client/src/common_text/template_globals.yaml
  client/src/core/ensure_loaded.js
  client/src/models/people/api_load_has_people_data.js
  client/src/models/people/queries/OrgPeopleSummary/OrgPeopleSummary.gql.ts
  client/src/models/people/queries/OrgPeopleSummary/OrgPeopleSummary.graphql
  client/src/models/people/queries/OrgPeopleSummary/OrgPeopleSummary.ts
  client/src/models/people/queries/index.js
  client/src/panels/panel_declarations/people/employee_type.js
  client/src/panels/panel_declarations/people/employee_type.yaml
  client/src/types/types.gql.ts
Due: client, cypress

employee age panel
  client/src/panels/panel_declarations/people/employee_age.js
Due: client, cypress

A few extra SWs for ACOA to test voted/stat authorities
  data/org_vote_stat_estimates.csv
Due: none

Forgot to use new faq entry
  client/src/panels/panel_declarations/misc/key_concept_panels/key_concept_panels.js
Due: client, cypress

Initial test run of implementing Special Warrants (dept: ACOA)
  client/src/EstimatesComparison/EstimatesComparison.yaml
  client/src/EstimatesComparison/EstimatesExplorerComponent.js
  client/src/EstimatesComparison/scheme.js
  client/src/EstimatesComparison/utils.js
  client/src/common_text/common_lang.yaml
  client/src/common_text/estimates_lang.yaml
  client/src/common_text/faq/financial_questions.yaml
  client/src/models/estimates.ts
  client/src/models/metadata/Sources.yaml
  client/src/panels/panel_declarations/covid/covid_estimates.yaml
  client/src/panels/panel_declarations/finances/vote_stat/vote_stat_text.yaml
  client/src/tables/orgVoteStatEstimates.js
  client/src/tables/orgVoteStatEstimates.yaml
  data/org_vote_stat_estimates.csv
  server/src/models/vote_stat/constants.js
Due: client, cypress, server

Misc changes that were missed spec war titles and faqs
  client/src/EstimatesComparison/EstimatesExplorerComponent.js
  client/src/EstimatesComparison/scheme.js
  client/src/common_text/common_lang.yaml
  client/src/home/home-data.js
Due: client, cypress

Dummy data for multiple depts + roll years forward (like mains)
  client/src/common_text/template_globals.yaml
  data/org_vote_stat_estimates.csv
Due: client, cypress

Hiding stat panels and latest authority graph point
  client/src/models/estimates.ts
  client/src/panels/panel_declarations/finances/auth_exp_planned_spending/auth_exp_planned_spending.js
  client/src/panels/panel_declarations/finances/auth_exp_planned_spending/auth_exp_planned_spending.yaml
  client/src/panels/panel_declarations/finances/vote_stat/in_year_vote_stat_breakdown.js
  client/src/panels/panel_declarations/finances/vote_stat/in_year_vote_stat_split.js
Due: client, cypress

Create panel at dept level to display top ten recipients
  client/src/core/ensure_loaded.js
  client/src/models/recipients/RecipientsGeneralStatsDataStore.ts
  client/src/models/recipients/populate.js
  client/src/models/recipients/queries/DeptHasRecipients/DeptHasRecipients.gql.ts
  client/src/models/recipients/queries/DeptHasRecipients/DeptHasRecipients.graphql
  client/src/models/recipients/queries/DeptHasRecipients/DeptHasRecipients.ts
  client/src/models/recipients/queries/Recipients.graphql
  client/src/models/recipients/queries/Recipients/Recipients.gql.ts
  client/src/models/recipients/queries/Recipients/Recipients.graphql
  client/src/models/recipients/queries/Recipients/Recipients.ts
  client/src/models/recipients/queries/RecipientsGeneralStats/RecipientsGeneralStats.gql.ts
  client/src/models/recipients/queries/RecipientsGeneralStats/RecipientsGeneralStats.graphql
  client/src/models/recipients/queries/RecipientsGeneralStats/RecipientsGeneralStats.ts
  client/src/models/recipients/queries/index.ts
  client/src/models/subjects/BaseSubjectFactory.ts
  client/src/models/subjects/Dept.ts
  client/src/panels/get_panels_for_subject/get_dept_panels.js
  client/src/panels/panel_declarations/finances/index.js
  client/src/panels/panel_declarations/finances/transfer_payments/gnc-text.yaml
  client/src/panels/panel_declarations/finances/transfer_payments/index.js
  client/src/panels/panel_declarations/finances/transfer_payments/recipients.js
  client/src/panels/panel_declarations/index.js
  client/src/types/types.gql.ts
  server/src/models/recipients/models.js
  server/src/models/recipients/populate.js
  server/src/models/recipients/schema.js
Due: client, cypress, server

Fixed a text/json error on form submit
  client/src/FormFrontend/form_backend_utils.ts
Due: client, cypress

Issue link in new modal on form submission
  client/src/FormFrontend/FormFrontend.js
  client/src/FormFrontend/FormFrontend.yaml
  client/src/FormFrontend/IssueConfirmationModal.js
  client/src/FormFrontend/IssueConfirmationModal.scss
  client/src/FormFrontend/form_backend_utils.ts
  form_backend/src/form_backend.js
  form_backend/src/github_utils/create_github_issue.js
  server/.gitignore
Due: client, cypress, server, form_backend

First test of github issue creation through bug report form
  form_backend/.gitignore
  form_backend/package-lock.json
  form_backend/package.json
  form_backend/scripts/util/set_transient_secrets.sh
  form_backend/src/form_backend.js
  form_backend/src/github_utils/create_github_issue.js
  form_backend/src/github_utils/index.js
Due: form_backend

Update local_mongod.sh to accept -d
  scripts/dev_scripts/local_mongod.sh
Due: none

Second modal on issue creating success, closes first modal
  client/src/FormFrontend/FormFrontend.js
  client/src/FormFrontend/FormFrontend.yaml
  client/src/FormFrontend/IssueConfirmationModal.js
  client/src/components/PageDetails.tsx
  client/src/components/PageDetails.yaml
  client/src/components/modals_and_popovers/StatelessModal.tsx
Due: client, cypress

Fixed unused variable and some cleanup
  client/src/FormFrontend/IssueConfirmationModal.js
  client/src/FormFrontend/IssueConfirmationModal.scss
  form_backend/src/form_backend.js
Due: client, cypress, form_backend

Vocabulary changes
  client/src/EstimatesComparison/EstimatesComparison.yaml
  client/src/common_text/common_lang.yaml
  client/src/common_text/estimates_lang.yaml
  client/src/models/estimates.ts
  client/src/models/metadata/Datasets.yaml
  client/src/panels/panel_declarations/finances/vote_stat/vote_stat_text.yaml
  server/src/models/vote_stat/constants.js
Due: client, cypress, server

Fix estimates comparison error when grouping by item type and colum header shortened text for SW
  client/src/EstimatesComparison/EstimatesComparison.yaml
  client/src/EstimatesComparison/scheme.js
Due: client, cypress

Update datastores and clean up top 10 recipient panel
  client/src/core/ensure_loaded.js
  client/src/models/recipients/RecipientsGeneralStatsDataStore.ts
  client/src/models/recipients/populate.js
  client/src/models/recipients/queries/RecipientSummaryGov/RecipientSummaryGov.gql.ts
  client/src/models/recipients/queries/RecipientSummaryGov/RecipientSummaryGov.graphql
  client/src/models/recipients/queries/RecipientSummaryGov/RecipientSummaryGov.ts
  client/src/models/recipients/queries/RecipientSummaryOrg/RecipientSummaryOrg.gql.ts
  client/src/models/recipients/queries/RecipientSummaryOrg/RecipientSummaryOrg.graphql
  client/src/models/recipients/queries/RecipientSummaryOrg/RecipientSummaryOrg.ts
  client/src/models/recipients/queries/index.ts
  client/src/panels/get_panels_for_subject/get_dept_panels.js
  client/src/panels/get_panels_for_subject/get_gov_panels.js
  client/src/panels/panel_declarations/finances/transfer_payments/gnc-text.yaml
  client/src/panels/panel_declarations/finances/transfer_payments/recipients.js
  client/src/types/types.gql.ts
  server/src/models/recipients/models.js
  server/src/models/recipients/populate.js
  server/src/models/recipients/schema.js
Due: client, cypress, server

set up recipients by location
  client/src/models/recipients/RecipientsFragment.gql.ts
  client/src/models/recipients/RecipientsFragment.graphql
  client/src/models/recipients/queries/RecipientsForGov/RecipientsForGov.graphql
  client/src/models/recipients/queries/RecipientsForOrg/RecipientsForOrg.gql.ts
  client/src/models/recipients/queries/RecipientsForOrg/RecipientsForOrg.graphql
  client/src/models/recipients/queries/RecipientsForOrg/RecipientsForOrg.ts
  server/src/models/recipients/constants.js
  server/src/models/recipients/populate.js
Due: client, cypress, server

Path conditions:
  client: any of: client/
  cypress: any of: client/
  server: any of: server/
  form_backend: any of: form_backend/
