Repository TBS-EACPD/infobase: changes, and which Codecov flags are due for each by the changed paths.
All: client, server, form-backend

codecov.yml:

flags:
  client:
    paths:
      - ./client/
  server:
    paths:
      - ./server/
  form-backend:
    paths:
      - ./form_backend/

coverage:
  status:
    project:
      default:
        flags:
          - client
          - server
          - form-backend
      client:
        flags:
          - client
      server:
        flags:
          - server
      form-backend:
        flags:
          - form-backend

Update doc configs for DRR2020-21
  client/src/models/results/results.js
  server/src/models/results/results_common.js
Due: client, server

Reorganize Featured Content links, remove new from everything but the DRR and service inventory
  client/src/home/home-data.js
Due: client

Add new badge to drr20 quick link
  client/src/home/home-data.js
  client/src/home/home.yaml
Due: client

DRAFT list of late DRR departments
  client/src/models/results/results.js
Due: client

Drop OIPC fro DRAFT late DRR 2020 orgs
  client/src/models/results/results.js
Due: client

Update home page DRR quick links
  client/package-lock.json
  client/package.json
  client/src/home/home-data.js
  client/src/home/home.yaml
Due: client

Homepage banner for late results orgs
  client/src/core/NavComponents.js
Due: client

Enable SurveyPopup capaign
  client/src/Survey/SurveyPopup.js
Due: client

Disable results_flat_table panel when no results in the latest year
  client/src/panels/panel_declarations/results/result_flat_table.js
Due: client

npm audit -fix client for node-fetch vuln
  client/package-lock.json
Due: client

Drop LDC from the late results banner, looks like they're not actually expected to submit
  client/src/models/results/results.js
Due: client

Drop LDC from the late FTE banner too. Up to results division to sort out long term, but right now they aren't submitting on the expected yearly schedule
  client/src/models/footnotes/dynamic_footnotes.ts
Due: client

Bump mongoose above v6 to ensure mongo v5 support
  form_backend/package-lock.json
  form_backend/package.json
  server/package-lock.json
  server/package.json
Due: server, form-backend

Update mongoose connect options for v6 compatability (generally, things we used to have to explicitly set to true are now always true)
  form_backend/src/db_utils/connect_db.js
  server/src/db_utils.js
Due: server, form-backend

Update server test snapshots, CoreDocumentArray and CoreMongooseArray objects are now consistently Array's
  server/src/models/covid/__snapshots__/covid.snapshot-test.js.snap
  server/src/models/people/__snapshots__/people.snapshot-test.js.snap
  server/src/models/services/__snapshots__/services.snapshot-test.js.snap
Due: server

Swap deprecated mongo shell for mongosh (for out usage, feature equivalent and same syntax). Update READMEs to specify MongoDB 5.x + mongosh
  form_backend/README.md
  scripts/ci_scripts/cleanup_dev_dbs.sh
  scripts/prod_scripts/prod_deploy.sh
  scripts/prod_scripts/prod_rollback.sh
  server/README.md
Due: server, form-backend

Update cypress image MongoDB to 5 (skipping installing mongosh in there for now, doesn't need to bloat
  .circleci/config.yml
  dockerfiles/cypress/Dockerfile
Due: none

Streamlined arch based CI images. Still larger than alpine, but maintainability alone makes that easy to accept (impact on CI from other, larger, arch image was fairly minimal)
  .circleci/config.yml
  dockerfiles/ci/Dockerfile
Due: none

Temporarily bust all caches, to make sure the CI workflow is full exercised on the new image
  .circleci/config.yml
Due: none

Revert CI cache busting.
  .circleci/config.yml
Due: none

Update README's to specify that node 16 is expected for development
  client/README.md
  form_backend/README.md
  server/README.md
Due: client, server, form-backend
