Repository TBS-EACPD/infobase: changes, and which Codecov flags are due for each by the changed paths.
All: client, cypress, server, form_backend

codecov.yml:

flags:
  client:
    paths:
      - ./client/
  cypress:
    paths:
      - ./client/
  server:
    paths:
      - ./server/
  form_backend:
    paths:
      - ./form_backend/

coverage:
  status:
    project:
      default:
        flags:
          - client
          - cypress
          - server
          - form_backend
      client:
        flags:
          - client
      cypress:
        flags:
          - cypress
        target: auto
      server:
        flags:
          - server
      form_backend:
        flags:
          - form_backend
        target: auto

node js v20, npm audift fix, and mongoose strictquery deprecation
  client/package-lock.json
  package-lock.json
  server/src/db_utils.js
Due: client, cypress, server

add dashes for empty values
  client/src/components/DisplayTable/DisplayTable.tsx
  client/src/rpb/granular_view.js
Due: client, cypress

Fix sort function in rpb when there is 'Not Applicable' values
  client/src/components/DisplayTable/DisplayTable.tsx
Due: client, cypress

center dash text-alignment and give planned spending columns type 'dollar'
  client/src/components/DisplayTable/DisplayTable.tsx
  client/src/rpb/granular_view.js
  client/src/tables/programSpending.js
Due: client, cypress

Only display employment tab when no spending data but fte data
  client/src/panels/panel_declarations/finances/welcome_mat/welcome_mat.js
  client/src/panels/panel_declarations/finances/welcome_mat/welcome_mat.yaml
  data/program_ftes.csv
Due: client, cypress

Oops, undo-ing manual csv edits
  data/program_ftes.csv
Due: none

Update GCF deploys to nodejs 20
  form_backend/scripts/deploy/prod_deploy_form_backend_function.sh
  server/scripts/deploy/ci_deploy_function.sh
  server/scripts/deploy/prod_deploy_function.sh
Due: server, form_backend

Update node 16 to 20 in server files
  server/.babelrc
  server/README.md
  server/package.json
Due: server

Update node 16 to 20 in form_backend files
  form_backend/.babelrc
  form_backend/README.md
  form_backend/package.json
Due: form_backend

Update node 16 to 20 in client files
  client/README.md
Due: client, cypress

add french version of result intro
  client/src/panels/panel_declarations/results/CommonDrrSummary.yaml
Due: client, cypress

Graphql structure tweak to include list of missing depts and all reported years, SI intro panel late submissions text
  client/src/models/services/queries/ServiceSummaryGov/ServiceSummaryGov.gql.ts
  client/src/models/services/queries/ServiceSummaryGov/ServiceSummaryGov.graphql
  client/src/models/services/queries/ServiceSummaryOrg/ServiceSummaryOrg.gql.ts
  client/src/models/services/queries/ServiceSummaryOrg/ServiceSummaryOrg.graphql
  client/src/models/services/queries/ServiceSummaryProgram/ServiceSummaryProgram.gql.ts
  client/src/models/services/queries/ServiceSummaryProgram/ServiceSummaryProgram.graphql
  client/src/panels/panel_declarations/services/services.yaml
  client/src/panels/panel_declarations/services/services_intro.js
  client/src/types/types.gql.ts
  server/src/models/services/models.js
  server/src/models/services/populate.js
  server/src/models/services/schema.js
Due: client, cypress, server

Delete old SI gaps in reported warning panel, deprecated hard coded list
  client/src/panels/get_panels_for_subject/get_dept_panels.js
  client/src/panels/get_panels_for_subject/get_program_panels.js
  client/src/panels/panel_declarations/index.js
  client/src/panels/panel_declarations/misc/index.js
  client/src/panels/panel_declarations/misc/warning_panels.js
Due: client, cypress

Update intro panel wording
  client/src/panels/panel_declarations/services/services.yaml
  client/src/panels/panel_declarations/services/services_intro.js
Due: client, cypress

CRA voluntarily reports text
  client/src/panels/panel_declarations/services/services.yaml
  client/src/panels/panel_declarations/services/services_intro.js
Due: client, cypress

Delete unused import
  client/src/panels/panel_declarations/misc/warning_panels.js
Due: client, cypress

remove unused variable
  server/src/models/services/populate.js
Due: server

remove some leftover console.logs
  client/src/panels/panel_declarations/services/services_intro.js
Due: client, cypress

Split indicators into departmental and program at the gov level
  client/src/core/ensure_loaded.js
  client/src/models/results/index.js
  client/src/models/results/populate_results.js
  client/src/models/results/results.js
  client/src/panels/panel_declarations/results/CommonDrrSummary.js
  client/src/panels/panel_declarations/results/CommonDrrSummary.yaml
  client/src/panels/panel_declarations/results/gov_drr.js
  client/src/panels/panel_declarations/results/results_common.js
  client/src/types/types.gql.ts
  server/src/models/results/models.js
  server/src/models/results/populate.js
  server/src/models/results/schema.js
Due: client, cypress, server

eaadtbs/ib-ci:1.4 docker update
  .circleci/config.yml
  dockerfiles/ci/Dockerfile
Due: none

Demo a bar graph to replace the pie chart
  client/src/panels/panel_declarations/finances/sobj/top_spending_areas.js
  client/src/panels/panel_declarations/finances/sobj/top_spending_areas.yaml
Due: client, cypress

circleci config file -v3
  .circleci/config.yml
Due: none

MongoDB 8 upgrade
  form_backend/package-lock.json
  form_backend/package.json
  server/package-lock.json
  server/package.json
Due: server, form_backend

Revert to -v2 circleci config
  .circleci/config.yml
Due: none

forgot to run npm install in form_backend
  form_backend/package-lock.json
Due: form_backend

update circleci deploy_data data cksum to only process files
  .circleci/config.yml
Due: none
