Repository TBS-EACPD/infobase: changes, and which Codecov flags are due for each by the changed paths.
All: client, cypress, server, form_backend

Hotfix decoupling Spending and FTE
  client/src/common_text/template_globals.yaml
  client/src/models/years.js
  client/src/panels/panel_declarations/finances/welcome_mat/welcome_mat.js
  client/src/panels/panel_declarations/finances/welcome_mat/welcome_mat.yaml
  client/src/panels/panel_declarations/finances/welcome_mat/welcome_mat_fte.js
Due: client, cypress

Commenting out late banner, only needed for later FTE update
  client/src/models/footnotes/dynamic_footnotes.ts
Due: client, cypress

Serivce Inventory new item feature has been lost during rebase
  client/src/home/home-data.js
Due: client, cypress

Roll forward FTE years
  client/src/common_text/template_globals.yaml
  client/src/panels/panel_declarations/finances/welcome_mat/welcome_mat_fte.js
Due: client, cypress

Update late banner and use data from TitanFootnotes.csv
  client/src/models/footnotes/dynamic_footnotes.ts
  data/footnotes.csv
Due: client, cypress

Update home featured items
  client/src/home/home-data.js
  client/src/home/home.yaml
Due: client, cypress

Update late results and resources list
  client/src/models/footnotes/dynamic_footnotes.ts
Due: client, cypress

Roll years forward
  client/src/common_text/template_globals.yaml
  client/src/models/results/results.js
Due: client, cypress

Update current_fiscal_year
  client/src/common_text/template_globals.yaml
Due: client, cypress

Update pa_last_year_planned
  client/src/common_text/template_globals.yaml
Due: client, cypress

Update late FTE banner
  client/src/models/footnotes/dynamic_footnotes.ts
Due: client, cypress

Update inactive route for cypress tests, old route no longer exists
  client/cypress/integration/InfoBase/cypress-snapshots.js
  client/cypress/integration/InfoBase/route_tests.spec.js
Due: client, cypress

Drop previous DP configuration
  client/src/models/results/results.js
  client/src/types/types.gql.ts
  server/src/models/results/results_common.js
Due: client, cypress, server

Update home page DRR quick links
  client/src/home/home-data.js
  client/src/home/home.yaml
Due: client, cypress

footnotes.csv update
  data/footnotes.csv
Due: none

Supps B configurations
  client/src/common_text/common_lang.yaml
  client/src/home/home-data.js
  client/src/models/estimates.ts
Due: client, cypress

Late banner update and DRR 22-23 link
  client/src/models/footnotes/dynamic_footnotes.ts
  client/src/models/results/results.js
Due: client, cypress

Manual csv edits
  data/crso.csv
  data/crso_en.csv
  data/crso_fr.csv
  data/program.csv
  data/program_en.csv
  data/program_fr.csv
Due: none

Data hotfix
  data/org_vote_stat_estimates.csv
Due: none

Covid expenditures and measures data
  data/covid_expenditures.csv
  data/covid_measures.csv
Due: none

Late banner update
  client/src/models/footnotes/dynamic_footnotes.ts
  client/src/models/results/results.js
Due: client, cypress

Update CommonDrrSummary yaml
  client/src/panels/panel_declarations/results/CommonDrrSummary.js
  client/src/panels/panel_declarations/results/CommonDrrSummary.yaml
  client/src/panels/panel_declarations/results/gov_drr.yaml
Due: client, cypress

Path conditions:
  client: any of: client/
  cypress: any of: client/
  server: any of: server/
  form_backend: any of: form_backend/
