Repository TBS-EACPD/infobase: changes, and which Codecov flags are due for each by the changed paths.
All: client, cypress, server, form_backend

Remove service from banner if it has a mix of valid and invalid program ids
  client/src/models/services/queries/ServicesForOrg/ServicesForOrg.gql.ts
  client/src/models/services/queries/ServicesForProgram/ServicesForProgram.gql.ts
  client/src/models/services/queries/SingleService/SingleService.gql.ts
  client/src/models/services/queries/StandardServiceFragment.gql.ts
  client/src/models/services/queries/StandardServiceFragment.graphql
  client/src/types/types.gql.ts
  server/src/models/services/models.js
  server/src/models/services/populate.js
  server/src/models/services/schema.js
Due: client, cypress, server

Remove some unused values
  client/src/panels/panel_declarations/services/services_standards.js
Due: client, cypress

Modify program unavaliable text to not display for ISSXX program codes
  client/src/models/services/queries/ServicesForOrg/ServicesForOrg.gql.ts
  client/src/models/services/queries/ServicesForProgram/ServicesForProgram.gql.ts
  client/src/models/services/queries/SingleService/SingleService.gql.ts
  client/src/models/services/queries/StandardServiceFragment.gql.ts
  client/src/models/services/queries/StandardServiceFragment.graphql
  client/src/panels/panel_declarations/misc/warning_panels.yaml
  client/src/panels/panel_declarations/services/services.yaml
  client/src/panels/panel_declarations/services/single_service_panels/service_overview.js
  client/src/types/types.gql.ts
  server/src/models/services/models.js
  server/src/models/services/populate.js
  server/src/models/services/schema.js
Due: client, cypress, server

Remove ALL duplicate orgs from igoc
  data/igoc.csv
  data/igoc_en.csv
  data/igoc_fr.csv
Due: none

Remove duplicate org
  data/igoc.csv
  data/igoc_en.csv
  data/igoc_fr.csv
Due: none

Check if standard row belongs to org (different orgs can use the same standard id code)
  server/src/models/services/populate.js
Due: server

Update french text
  client/src/panels/panel_declarations/services/services.yaml
Due: client, cypress

Remove banner at dept level for services
  client/src/panels/get_panels_for_subject/get_dept_panels.js
  client/src/panels/get_panels_for_subject/get_gov_panels.js
  client/src/panels/panel_declarations/misc/warning_panels.js
  client/src/panels/panel_declarations/misc/warning_panels.yaml
Due: client, cypress

Fix the service application numbers for historical years
  server/src/models/services/populate.js
Due: server

clean up services panels when programs are missing
  client/src/panels/panel_declarations/services/provided_services_list.js
  client/src/panels/panel_declarations/services/services.yaml
  client/src/panels/panel_declarations/services/subject_offering_services.js
  server/src/models/services/constants.js
  server/src/models/services/populate.js
Due: client, cypress, server

Remove old version of warning panel for depts that have a gap in reporting
  client/src/panels/get_panels_for_subject/get_dept_panels.js
  client/src/panels/get_panels_for_subject/get_program_panels.js
  client/src/panels/panel_declarations/index.js
  client/src/panels/panel_declarations/misc/index.js
  client/src/panels/panel_declarations/misc/warning_panels.js
Due: client, cypress

Filter out invalid url formats for services and standards urls
  server/src/models/services/populate.js
Due: server

Update service populate to replace invalid ISSXX codes with blanks
  client/src/models/services/queries/ServiceSummaryOrg/ServiceSummaryOrg.gql.ts
  client/src/models/services/queries/ServiceSummaryOrg/ServiceSummaryOrg.graphql
  client/src/panels/panel_declarations/misc/warning_panels.js
  client/src/panels/panel_declarations/misc/warning_panels.yaml
  client/src/panels/panel_declarations/services/services.yaml
  client/src/panels/panel_declarations/services/single_service_panels/service_overview.js
  client/src/panels/panel_declarations/services/subject_offering_services.js
  client/src/types/types.gql.ts
  server/src/models/services/models.js
  server/src/models/services/populate.js
  server/src/models/services/schema.js
Due: client, cypress, server

Update the standard guage and application channel volume for program level
  client/src/panels/panel_declarations/services/application_channels_by_services.js
  server/src/models/services/populate.js
Due: client, cypress, server

French translations
  client/src/panels/panel_declarations/misc/warning_panels.yaml
  client/src/panels/panel_declarations/services/services.yaml
Due: client, cypress

Remove unused query
  client/src/panels/panel_declarations/misc/warning_panels.js
Due: client, cypress

Updated new french section
  client/src/panels/panel_declarations/misc/warning_panels.yaml
  client/src/panels/panel_declarations/services/services.yaml
Due: client, cypress

Update order of Online Status of Services Panel's graphs and tables
  client/src/panels/panel_declarations/services/services_digital_status.js
  server/src/models/services/constants.js
Due: client, cypress, server

clean up text and service/standard years
  client/src/panels/panel_declarations/services/services.yaml
  client/src/panels/panel_declarations/services/services_standards.js
  client/src/panels/panel_declarations/services/single_service_panels/service_overview.js
  server/src/models/services/populate.js
Due: client, cypress, server

Remove unused variables
  server/src/models/services/populate.js
Due: server

Update missing program ids for services to display any programs that are valid even if that service is missing some program ids
  client/src/panels/panel_declarations/services/single_service_panels/service_overview.js
  server/src/models/services/populate.js
Due: client, cypress, server

Update service intro panel text about reporting gaps for some depts
  client/src/panels/panel_declarations/services/services.yaml
Due: client, cypress

Update snapshot tests
  server/src/models/services/__snapshots__/services.snapshot-test.js.snap
Due: server

Update snapshot tests
  data/test-data/si.csv
  data/test-data/ss.csv
  server/src/models/services/__snapshots__/services.snapshot-test.js.snap
  server/src/models/services/services.snapshot-test.js
Due: server

employee type panel
  client/src/panels/panel_declarations/people/employee_type.js
  client/src/panels/panel_declarations/people/employee_type.yaml
Due: client, cypress

Updated populate script, fixed for avg_share
  server/src/models/people/populate.js
  server/src/models/people/schema.js
Due: server

GoVPeopleSummary client query
  client/src/models/people/queries/GovPeopleSummary/GovPeopleSummary.gql.ts
  client/src/models/people/queries/GovPeopleSummary/GovPeopleSummary.graphql
  client/src/models/people/queries/GovPeopleSummary/GovPeopleSummary.ts
  client/src/models/people/queries/index.js
Due: client, cypress

Region panel and random warning panel bug? happened from stashing I believe
  client/src/panels/panel_declarations/misc/warning_panels.js
  client/src/panels/panel_declarations/people/employee_prov.js
Due: client, cypress

employee exec panel
  client/src/panels/panel_declarations/people/employee_executive_level.js
Due: client, cypress

Improved populate script and fixed some errors, avg_share was wrong formula
  server/src/models/people/populate.js
Due: server

employee prov panel
  client/src/panels/panel_declarations/people/employee_prov.js
Due: client, cypress

Employee type panel update initial implementation
  client/src/common_text/template_globals.yaml
  client/src/core/ensure_loaded.js
  client/src/models/people/api_load_has_people_data.js
  client/src/models/people/queries/OrgPeopleSummary/OrgPeopleSummary.gql.ts
  client/src/models/people/queries/OrgPeopleSummary/OrgPeopleSummary.graphql
  client/src/models/people/queries/OrgPeopleSummary/OrgPeopleSummary.ts
  client/src/models/people/queries/index.js
  client/src/panels/panel_declarations/people/employee_type.js
  client/src/panels/panel_declarations/people/employee_type.yaml
  client/src/types/types.gql.ts
Due: client, cypress

Server populate script complete re-write to accomodate new data structure
  data/People_data_lookup.csv
  data/goc-org-variants.csv
  data/test_org_employee_age_group.csv
  data/test_org_employee_avg_age.csv
  data/test_org_employee_dept.csv
  data/test_org_employee_ex_lvl.csv
  data/test_org_employee_fol.csv
  data/test_org_employee_gender.csv
  data/test_org_employee_region.csv
  data/test_org_employee_type.csv
  server/src/models/people/populate.js
  server/src/models/people/utils.js
Due: server

Gov level avg age fix
  client/src/panels/panel_declarations/people/employee_age.js
Due: client, cypress

employee totals panel
  client/src/panels/panel_declarations/people/employee_totals.js
Due: client, cypress

employee age panel
  client/src/panels/panel_declarations/people/employee_age.js
Due: client, cypress

employee last_year_totals panel
  client/src/panels/panel_declarations/people/employee_last_year_totals.js
Due: client, cypress

types
  client/src/types/types.gql.ts
Due: client, cypress

Path conditions:
  client: any of: client/
  cypress: any of: client/
  server: any of: server/
  form_backend: any of: form_backend/
