Repository TBS-EACPD/infobase: changes, and which Codecov flags are due for each by the changed paths.
All: client, cypress, server, form_backend

Remove duplicate orgs
  data/igoc.csv
  data/igoc_en.csv
  data/igoc_fr.csv
Due: none

Mains configuration
  client/src/common_text/common_lang.yaml
  client/src/home/home-data.js
  client/src/models/estimates.ts
Due: client, cypress

Mains data
  data/org_vote_stat_estimates.csv
Due: none

Update footnote text and topic_keys
  client/src/panels/panel_declarations/finances/welcome_mat/welcome_mat.js
  client/src/panels/panel_declarations/finances/welcome_mat/welcome_mat.yaml
Due: client, cypress

Remove recipient map panel
  client/src/panels/get_panels_for_subject/get_dept_panels.js
  client/src/panels/get_panels_for_subject/get_gov_panels.js
  client/src/panels/panel_declarations/finances/index.js
  client/src/panels/panel_declarations/finances/transfer_payments/index.js
  client/src/panels/panel_declarations/finances/transfer_payments/recipients_map.js
  client/src/panels/panel_declarations/index.js
Due: client, cypress

Add footnotes at dept level for TBS to explain the variance between expenditure and planned spending
  client/src/panels/panel_declarations/finances/welcome_mat/welcome_mat.js
  client/src/panels/panel_declarations/finances/welcome_mat/welcome_mat.yaml
Due: client, cypress

Update subject store to use embedded eval_url
  client/build_code/copy_static_assets.js
  client/src/models/populate_initial_stores_from_lookups.ts
  client/src/models/subjects/populate_subjects.ts
  data/url_lookups.csv
Due: client, cypress

Remove url_lookups and update snapshot tests
  client/src/types/types.gql.ts
  data/test-data/igoc.csv
  data/test-data/url_lookups.csv
  server/src/models/core_subject/__snapshots__/core_subject.snapshot-test.js.snap
  server/src/models/core_subject/models.js
  server/src/models/core_subject/populate.js
  server/src/models/core_subject/schema.js
Due: client, cypress, server

Update igoc files
  data/igoc.csv
  data/igoc_en.csv
  data/igoc_fr.csv
Due: none

Update igoc files to use embedded website urls
  client/src/models/subjects/Dept.ts
  client/src/models/subjects/populate_subjects.ts
  client/src/panels/panel_declarations/intro/profile_panels.js
  data/igoc.csv
  data/igoc_en.csv
  data/igoc_fr.csv
Due: client, cypress

Update subject store so is_dp_org follows boolean logic of status_code field
  client/src/models/subjects/Dept.ts
Due: client, cypress

Update igoc files
  data/igoc_en.csv
  data/igoc_fr.csv
Due: none

Update snapshot tests
  server/src/models/core_subject/__snapshots__/core_subject.snapshot-test.js.snap
  server/src/models/core_subject/core_subject.snapshot-test.js
Due: server

Add a report_years field to graphql
  client/src/models/recipients/populate.js
  client/src/models/recipients/queries/RecipientSummaryGov/RecipientSummaryGov.gql.ts
  client/src/models/recipients/queries/RecipientSummaryGov/RecipientSummaryGov.graphql
  client/src/models/recipients/queries/RecipientSummaryOrg/RecipientSummaryOrg.gql.ts
  client/src/models/recipients/queries/RecipientSummaryOrg/RecipientSummaryOrg.graphql
  client/src/panels/panel_declarations/finances/transfer_payments/recipients.js
  client/src/types/types.gql.ts
  server/src/models/recipients/models.js
  server/src/models/recipients/populate.js
  server/src/models/recipients/schema.js
Due: client, cypress, server

Supps A setup and data
  client/src/common_text/common_lang.yaml
  client/src/home/home-data.js
  client/src/models/estimates.ts
  data/org_vote_stat_estimates.csv
Due: client, cypress

DP setup
  client/src/common_text/template_globals.yaml
  client/src/home/home-data.js
  client/src/home/home.yaml
  client/src/models/results/results.js
  client/src/types/types.gql.ts
  server/src/models/results/results_common.js
Due: client, cypress, server

Banners
  client/src/common_text/template_globals.yaml
  client/src/core/NavComponents.js
  client/src/models/results/results.js
Due: client, cypress

Remove late ressources banner from Results infographics
  client/src/panels/get_panels_for_subject/get_crso_panels.js
  client/src/panels/get_panels_for_subject/get_dept_panels.js
  client/src/panels/get_panels_for_subject/get_gov_panels.js
  client/src/panels/get_panels_for_subject/get_program_panels.js
Due: client, cypress

Remove duplicate programs
  data/program.csv
  data/program_en.csv
  data/program_fr.csv
Due: none

programs hotfix
  data/program.csv
  data/program_en.csv
  data/program_fr.csv
Due: none

Delete test-data files related to old service files
  data/test-data/service-reports.csv
  data/test-data/service-urls.csv
  data/test-data/service_types_lookup.csv
  data/test-data/services.csv
  data/test-data/standard-reports.csv
  data/test-data/standards.csv
Due: none

Update refresh frequency of service inventory to quarterly
  client/src/models/metadata/Sources.tsx
Due: client, cypress

Remove has_recipients query
  client/src/core/ensure_loaded.js
  client/src/models/recipients/populate.js
  client/src/models/recipients/queries/DeptHasRecipients/DeptHasRecipients.gql.ts
  client/src/models/recipients/queries/DeptHasRecipients/DeptHasRecipients.graphql
  client/src/models/recipients/queries/DeptHasRecipients/DeptHasRecipients.ts
  client/src/models/recipients/queries/RecipientSummaryGov/RecipientSummaryGov.gql.ts
  client/src/models/recipients/queries/RecipientSummaryGov/RecipientSummaryGov.graphql
  client/src/models/recipients/queries/RecipientSummaryOrg/RecipientSummaryOrg.gql.ts
  client/src/models/recipients/queries/RecipientSummaryOrg/RecipientSummaryOrg.graphql
  client/src/models/recipients/queries/index.ts
  client/src/types/types.gql.ts
  server/src/models/recipients/models.js
  server/src/models/recipients/populate.js
  server/src/models/recipients/schema.js
Due: client, cypress, server

Make filter for results and indicators records case insensitive
  server/src/models/results/populate.js
Due: server

Path conditions:
  client: any of: client/
  cypress: any of: client/
  server: any of: server/
  form_backend: any of: form_backend/
