Repository TBS-EACPD/infobase: changes, and which Codecov flags are due for each by the changed paths.
All: client, cypress, server, form_backend

extract generic getQuery from getSuspensedQuery for promise-based consumers
  client/src/graphql_utils/getQuery.ts
  client/src/models/services/queries/new_service_queries.ts
Due: client, cypress

Port covid queries to standalone graphql files and TS factory files
  client/src/models/covid/queries.js
  client/src/models/covid/queries/AllCovidEstimatesByMeasureId/AllCovidEstimatesByMeasureId.gql.ts
  client/src/models/covid/queries/AllCovidEstimatesByMeasureId/AllCovidEstimatesByMeasureId.graphql
  client/src/models/covid/queries/AllCovidEstimatesByMeasureId/AllCovidEstimatesByMeasureId.ts
  client/src/models/covid/queries/AllCovidExpendituresByMeasureId/AllCovidExpendituresByMeasureId.gql.ts
  client/src/models/covid/queries/AllCovidExpendituresByMeasureId/AllCovidExpendituresByMeasureId.graphql
  client/src/models/covid/queries/AllCovidExpendituresByMeasureId/AllCovidExpendituresByMeasureId.ts
  client/src/models/covid/queries/AllCovidMeasures/AllCovidMeasures.gql.ts
  client/src/models/covid/queries/AllCovidMeasures/AllCovidMeasures.graphql
  client/src/models/covid/queries/AllCovidMeasures/AllCovidMeasures.ts
  client/src/models/covid/queries/GovCovidSummaries/GovCovidSummaries.gql.ts
  client/src/models/covid/queries/GovCovidSummaries/GovCovidSummaries.graphql
  client/src/models/covid/queries/GovCovidSummaries/GovCovidSummaries.ts
  client/src/models/covid/queries/GovCovidSummary/GovCovidSummary.gql.ts
  client/src/models/covid/queries/GovCovidSummary/GovCovidSummary.graphql
  client/src/models/covid/queries/GovCovidSummary/GovCovidSummary.ts
  client/src/models/covid/queries/GovYearsWithCovidData/GovYearsWithCovidData.gql.ts
  client/src/models/covid/queries/GovYearsWithCovidData/GovYearsWithCovidData.graphql
  client/src/models/covid/queries/GovYearsWithCovidData/GovYearsWithCovidData.ts
  client/src/models/covid/queries/OrgCovidEstimatesByMeasureId/OrgCovidEstimatesByMeasureId.gql.ts
  client/src/models/covid/queries/OrgCovidEstimatesByMeasureId/OrgCovidEstimatesByMeasureId.graphql
  client/src/models/covid/queries/OrgCovidEstimatesByMeasureId/OrgCovidEstimatesByMeasureId.ts
  client/src/models/covid/queries/OrgCovidExpendituresByMeasureId/OrgCovidExpendituresByMeasureId.gql.ts
  client/src/models/covid/queries/OrgCovidExpendituresByMeasureId/OrgCovidExpendituresByMeasureId.graphql
  client/src/models/covid/queries/OrgCovidExpendituresByMeasureId/OrgCovidExpendituresByMeasureId.ts
  client/src/models/covid/queries/OrgCovidSummaries/OrgCovidSummaries.gql.ts
  client/src/models/covid/queries/OrgCovidSummaries/OrgCovidSummaries.graphql
  client/src/models/covid/queries/OrgCovidSummaries/OrgCovidSummaries.ts
  client/src/models/covid/queries/OrgCovidSummary/OrgCovidSummary.gql.ts
  client/src/models/covid/queries/OrgCovidSummary/OrgCovidSummary.graphql
  client/src/models/covid/queries/OrgCovidSummary/OrgCovidSummary.ts
  client/src/models/covid/queries/OrgYearsWithCovidData/OrgYearsWithCovidData.gql.ts
  client/src/models/covid/queries/OrgYearsWithCovidData/OrgYearsWithCovidData.graphql
  client/src/models/covid/queries/OrgYearsWithCovidData/OrgYearsWithCovidData.ts
  client/src/models/covid/queries/TopCovidSpending/TopCovidSpending.gql.ts
  client/src/models/covid/queries/TopCovidSpending/TopCovidSpending.graphql
  client/src/models/covid/queries/TopCovidSpending/TopCovidSpending.ts
  client/src/models/covid/queries/index.ts
Due: client, cypress

Organize services/queries directory the same way I've organized the covid queries
  client/src/models/services/queries/ServicesForOrg/ServicesForOrg.gql.ts
  client/src/models/services/queries/ServicesForOrg/ServicesForOrg.graphql
  client/src/models/services/queries/ServicesForOrg/ServicesForOrg.ts
  client/src/models/services/queries/ServicesForProgram/ServicesForProgram.gql.ts
  client/src/models/services/queries/ServicesForProgram/ServicesForProgram.graphql
  client/src/models/services/queries/ServicesForProgram/ServicesForProgram.ts
  client/src/models/services/queries/index.ts
  client/src/panels/panel_declarations/services/application_channels_by_services.js
  client/src/panels/panel_declarations/services/provided_services_list.js
Due: client, cypress

Split new_service_queries.ts in to ServicesForOrg.ts and ServicesForProgram.ts, use query_factory instead of getQuery pattern. Drop graphql_utils/getQuery.ts
  client/src/graphql_utils/getQuery.ts
  client/src/models/services/queries/ServicesForOrg.ts
  client/src/models/services/queries/ServicesForProgram.ts
  client/src/models/services/queries/new_service_queries.ts
  client/src/panels/panel_declarations/services/application_channels_by_services.js
  client/src/panels/panel_declarations/services/provided_services_list.js
Due: client, cypress

Fix step in tmux_env.sh that waits for the GQL server before starting the codegen
  scripts/dev_scripts/tmux_env.sh
Due: none

Add type util for forcing the type system to understand computed literal keys in a record
  client/src/graphql_utils/graphql_utils.ts
  client/src/types/type_utils.ts
Due: client, cypress

Update tmux_env script to separate job panes in to tabs ("windows" in tmux's terminology), grouped by sub repo. Add pane to client tab for gqlgen process
  scripts/dev_scripts/tmux_env.sh
Due: none

Convert a few panels to suspensed, typed graphql
  client/package-lock.json
  client/package.json
  client/src/InfoBase/bootstrapper.js
  client/src/components/LeafSpinner/LeafSpinner.tsx
  client/src/graphql_utils/react_query_client.ts
  client/src/graphql_utils/useSuspensedQuery.ts
  client/src/models/services/queries/ServicesForOrg.gql.ts
  client/src/models/services/queries/ServicesForOrg.graphql
  client/src/models/services/queries/ServicesForProgram.gql.ts
  client/src/models/services/queries/ServicesForProgram.graphql
  client/src/models/services/queries/StandardServiceFragment.gql.ts
  client/src/models/services/queries/StandardServiceFragment.graphql
  client/src/models/services/queries/new_service_queries.ts
  client/src/models/services/services_queries.js
  client/src/panels/panel_declarations/services/application_channels_by_services.js
  client/src/panels/panel_declarations/services/provided_services_list.js
  client/src/types.gql.ts
  server/src/models/schema_root.js
Due: client, cypress, server

Fix bad failure case logic in check_gql_codegen_integrity, duh
  .circleci/config.yml
Due: none

Rearrange some panes in the tmux_env's client window
  scripts/dev_scripts/tmux_env.sh
Due: none

format package.json
  client/package.json
Due: client, cypress

replace react-query w/ lighter suspect-react, dont use hooks, return data rather than {data}
  client/package-lock.json
  client/package.json
  client/src/InfoBase/bootstrapper.js
  client/src/graphql_utils/getSuspensedQuery.ts
  client/src/graphql_utils/react_query_client.ts
  client/src/graphql_utils/useSuspensedQuery.ts
  client/src/models/services/queries/new_service_queries.ts
  client/src/panels/panel_declarations/services/application_channels_by_services.js
  client/src/panels/panel_declarations/services/provided_services_list.js
Due: client, cypress

Add check_gql_codegen_integrity job to CI build_test_deploy workflow
  .circleci/config.yml
Due: none

Minor cleanup to location of .gql.ts ignores, declare with other top level generated file ignores
  .eslintignore
  .prettierignore
  client/.eslintrc.json
Due: client, cypress

Align existing query_factory calls to new API
  client/src/graphql_utils/graphql_utils.ts
  client/src/infographic/Infographic.js
  client/src/models/covid/populate.js
  client/src/models/covid/queries.js
  client/src/models/services/api_load_has_services.js
  client/src/models/services/services_queries.js
  client/src/panels/panel_declarations/covid/covid_estimates.js
  client/src/panels/panel_declarations/covid/covid_expenditures.js
  client/src/panels/panel_declarations/covid/covid_intro.js
  client/src/search/search_configs.js
Due: client, cypress

Incorrect edit to a generated .gql.ts file, to verify CI integrity check
  client/src/models/services/queries/ServicesForOrg.gql.ts
Due: client, cypress

Disable eslint import/order rule on type import in graphql_utils, looks like it's still slightly buggy/inconsistent when ordering type imports
  client/src/graphql_utils/graphql_utils.ts
Due: client, cypress

Add .gql.ts ignore back in to client/.eslintrc.json, this time with a comment on why it seems necessary, haha
  client/.eslintrc.json
Due: client, cypress

Make check_gql_codegen_integrity required for build_client job
  .circleci/config.yml
Due: none

Dug up a way to set good custom tmux pane titles that wouldn't get clobered by processes inside those panes
  scripts/dev_scripts/tmux_env.sh
Due: none

Unit tests for ComputedLiteralKeyRecord
  client/src/models/services/queries/new_service_queries.ts
  client/src/types/type_utils.unit-test.ts
Due: client, cypress

fix lint issues
  client/src/panels/panel_declarations/services/application_channels_by_services.js
  client/src/panels/panel_declarations/services/provided_services_list.js
Due: client, cypress

Add suspended query pattern to gql query_factory
  client/src/graphql_utils/graphql_utils.ts
Due: client, cypress

generate .gql.ts files from .graphql files
  .prettierignore
  client/.eslintrc.json
  client/codegen.yml
  client/package.json
Due: client, cypress

Add default lang arg to query_factory, mark variables as partial on lang
  client/src/graphql_utils/graphql_utils.ts
Due: client, cypress

Fix missing required marking of some service query variables
  client/src/models/services/queries/ServiceSummaryOrg/ServiceSummaryOrg.gql.ts
  client/src/models/services/queries/ServiceSummaryOrg/ServiceSummaryOrg.graphql
  client/src/models/services/queries/ServiceSummaryProgram/ServiceSummaryProgram.gql.ts
  client/src/models/services/queries/ServiceSummaryProgram/ServiceSummaryProgram.graphql
  client/src/models/services/queries/ServicesForProgram/ServicesForProgram.gql.ts
  client/src/models/services/queries/ServicesForProgram/ServicesForProgram.graphql
Due: client, cypress

Add run time query_name format and uniqeness checks to query_factory
  client/src/graphql_utils/graphql_utils.ts
Due: client, cypress

Transfer payments by region for 2020-21
  client/src/common_text/template_globals.yaml
  data/org_transfer_payments_region.csv
Due: client, cypress

Drop per-capita features from transfer payments by region panel
  client/src/panels/panel_declarations/finances/transfer_payments/tp_by_region.js
  client/src/panels/panel_declarations/finances/transfer_payments/tp_by_region.yaml
Due: client, cypress

Fresh data and footnotes for 2020-21 transfer payments by region
  data/org_transfer_payments_region.csv
Due: none

Special case text for transfer payments by region when the largest "region" is Not Availabe
  client/src/panels/panel_declarations/finances/transfer_payments/tp_by_region.js
  client/src/panels/panel_declarations/finances/transfer_payments/tp_by_region.yaml
Due: client, cypress

Fix handlebars syntax typo in new transfer payment by region text
  client/src/panels/panel_declarations/finances/transfer_payments/tp_by_region.yaml
Due: client, cypress

New tests with seperate files for is_a11y_mode
  client/src/components/CheckBox/CheckBox.unit-test.tsx
  client/src/components/CheckBox/CheckBox_a11y.unit-test.tsx
Due: client, cypress

import statement and unused variable fix
  client/src/components/CheckBox/CheckBox.unit-test.tsx
Due: client, cypress

Path conditions:
  client: any of: client/
  cypress: any of: client/
  server: any of: server/
  form_backend: any of: form_backend/
