Repository TBS-EACPD/infobase: changes, and which Codecov flags are due for each by the changed paths.
All: client, cypress, server, form_backend

codecov.yml:

flags:
  client:
    paths:
      - ./client/
  cypress:
    paths:
      - ./client/
  server:
    paths:
      - ./server/
  form_backend:
    paths:
      - ./form_backend/

coverage:
  status:
    project:
      default:
        flags:
          - client
          - cypress
          - server
          - form_backend
      client:
        flags:
          - client
      cypress:
        flags:
          - cypress
        target: auto
      server:
        flags:
          - server
      form_backend:
        flags:
          - form_backend
        target: auto

update circleci deploy_data data cksum to only process files
  .circleci/config.yml
Due: none

eaadtbs/ib-ci:1.4 docker update
  .circleci/config.yml
  dockerfiles/ci/Dockerfile
Due: none

forgot to run npm install in form_backend
  form_backend/package-lock.json
Due: form_backend

MongoDB 8 upgrade
  form_backend/package-lock.json
  form_backend/package.json
  server/package-lock.json
  server/package.json
Due: server, form_backend

Update node 16 to 20 in form_backend files
  form_backend/.babelrc
  form_backend/README.md
  form_backend/package.json
Due: form_backend

Update GCF deploys to nodejs 20
  form_backend/scripts/deploy/prod_deploy_form_backend_function.sh
  server/scripts/deploy/ci_deploy_function.sh
  server/scripts/deploy/prod_deploy_function.sh
Due: server, form_backend

Update node 16 to 20 in client files
  client/README.md
Due: client, cypress

Upgrade Cypress, update circleci config, disable snapshot testing, new Cypress Docker image
  .circleci/config.yml
  client/cypress.config.ts
  client/cypress.json
  client/cypress/e2e/InfoBase/cypress-snapshots.cy.js
  client/cypress/e2e/InfoBase/route_tests.cy.js
  client/cypress/plugins/index.js
  client/cypress/support/commands.js
  client/cypress/support/e2e.js
  client/package-lock.json
  client/package.json
  dockerfiles/cypress/Dockerfile
Due: client, cypress

updage image name in circleci config
  .circleci/config.yml
Due: none

Install curl in test_end_to_end job
  .circleci/config.yml
Due: none

Disable codecov step in test_end_to_end job
  .circleci/config.yml
Due: none

Update schema to link indicators to results only if the result_id is an exact match
  client/src/models/results/populate_results.js
  server/src/models/results/schema.js
Due: client, cypress, server

Implement tabs for org, dept, program level indicator view at the organizational level
  client/src/panels/panel_declarations/results/CommonDrrSummary.js
  client/src/panels/panel_declarations/results/CommonDrrSummary.yaml
Due: client, cypress

Add clarification to results count in Detailed Results panel
  client/src/panels/panel_declarations/results/drr_summary.js
  client/src/panels/panel_declarations/results/result_drilldown/result_displays.js
  client/src/panels/panel_declarations/results/result_drilldown/result_drilldown.yaml
Due: client, cypress

clean up results_display file
  client/src/panels/panel_declarations/results/result_drilldown/result_displays.js
Due: client, cypress

Consolidate the indicator hierarchy functions and indicator status functions
  client/src/panels/panel_declarations/results/CommonDrrSummary.yaml
  client/src/panels/panel_declarations/results/results_common.js
Due: client, cypress

Set up gql queries for dept, crso and program level results summary
  client/src/models/results/queries/CrsoResultsSummary/CrsoResultsSummary.gql.ts
  client/src/models/results/queries/CrsoResultsSummary/CrsoResultsSummary.graphql
  client/src/models/results/queries/CrsoResultsSummary/CrsoResultsSummary.ts
  client/src/models/results/queries/DeptResultsSummary/DeptResultsSummary.gql.ts
  client/src/models/results/queries/DeptResultsSummary/DeptResultsSummary.graphql
  client/src/models/results/queries/DeptResultsSummary/DeptResultsSummary.ts
  client/src/models/results/queries/ProgramResultsSummary/ProgramResultsSummary.gql.ts
  client/src/models/results/queries/ProgramResultsSummary/ProgramResultsSummary.graphql
  client/src/models/results/queries/ProgramResultsSummary/ProgramResultsSummary.ts
  client/src/models/results/queries/index.ts
  client/src/panels/panel_declarations/results/drr_summary.js
  client/src/panels/panel_declarations/results/results_common.js
Due: client, cypress

Set the order of the indicator status key values to match the result status explanation order
  client/src/panels/panel_declarations/results/results_common.js
Due: client, cypress

Fix so indicator summar at gov level works
  client/src/panels/panel_declarations/results/CommonDrrSummary.js
Due: client, cypress

Create graphql fragment for indicator values
  client/src/models/results/queries/CrsoResultsSummary/CrsoResultsSummary.gql.ts
  client/src/models/results/queries/CrsoResultsSummary/CrsoResultsSummary.graphql
  client/src/models/results/queries/DeptResultsSummary/DeptResultsSummary.gql.ts
  client/src/models/results/queries/DeptResultsSummary/DeptResultsSummary.graphql
  client/src/models/results/queries/IndicatorSummary/IndicatorSummary.gql.ts
  client/src/models/results/queries/IndicatorSummary/IndicatorSummary.graphql
  client/src/models/results/queries/ProgramResultsSummary/ProgramResultsSummary.gql.ts
  client/src/models/results/queries/ProgramResultsSummary/ProgramResultsSummary.graphql
  client/src/panels/panel_declarations/results/CommonDrrSummary.yaml
  client/src/panels/panel_declarations/results/results_common.js
Due: client, cypress

Create function to list hierarchy of results and indicators and implement new count values in drr intro text
  client/src/models/results/queries/CrsoResultsSummary/CrsoResultsSummary.gql.ts
  client/src/models/results/queries/CrsoResultsSummary/CrsoResultsSummary.graphql
  client/src/models/results/queries/DeptResultsSummary/DeptResultsSummary.gql.ts
  client/src/models/results/queries/DeptResultsSummary/DeptResultsSummary.graphql
  client/src/models/results/queries/ProgramResultsSummary/ProgramResultsSummary.gql.ts
  client/src/models/results/queries/ProgramResultsSummary/ProgramResultsSummary.graphql
  client/src/panels/panel_declarations/results/CommonDrrSummary.js
  client/src/panels/panel_declarations/results/CommonDrrSummary.yaml
  client/src/panels/panel_declarations/results/drr_summary.js
  client/src/panels/panel_declarations/results/results_common.js
Due: client, cypress

Update import groups
  client/src/panels/panel_declarations/results/results_common.js
Due: client, cypress

Update hierarchy functions
  client/src/panels/panel_declarations/results/results_common.js
Due: client, cypress

Extend hierarchy functions to work at crso and program level
  client/src/models/results/queries/CrsoResultsSummary/CrsoResultsSummary.gql.ts
  client/src/models/results/queries/CrsoResultsSummary/CrsoResultsSummary.graphql
  client/src/models/results/queries/ProgramResultsSummary/ProgramResultsSummary.gql.ts
  client/src/models/results/queries/ProgramResultsSummary/ProgramResultsSummary.graphql
  client/src/panels/panel_declarations/results/CommonDrrSummary.js
  client/src/panels/panel_declarations/results/CommonDrrSummary.yaml
  client/src/panels/panel_declarations/results/drr_summary.js
  client/src/panels/panel_declarations/results/results_common.js
Due: client, cypress

Split indicators into departmental and program at the gov level
  client/src/core/ensure_loaded.js
  client/src/models/results/index.js
  client/src/models/results/populate_results.js
  client/src/models/results/results.js
  client/src/panels/panel_declarations/results/CommonDrrSummary.js
  client/src/panels/panel_declarations/results/CommonDrrSummary.yaml
  client/src/panels/panel_declarations/results/gov_drr.js
  client/src/panels/panel_declarations/results/results_common.js
  client/src/types/types.gql.ts
  server/src/models/results/models.js
  server/src/models/results/populate.js
  server/src/models/results/schema.js
Due: client, cypress, server

Fix tmux issues and implement split indicator list into overview, departmental and program level
  client/src/panels/panel_declarations/results/drr_summary.js
  client/src/panels/panel_declarations/results/drr_table/result_flat_table.js
  client/src/panels/panel_declarations/results/result_table_text.yaml
  client/src/panels/panel_declarations/results/results_common.js
Due: client, cypress

add french version of result intro
  client/src/panels/panel_declarations/results/CommonDrrSummary.yaml
Due: client, cypress

Revert changes to only split Department Results Report Summary panl into dept and program indicators
  client/src/models/results/queries/CrsoResultsSummary/CrsoResultsSummary.gql.ts
  client/src/models/results/queries/CrsoResultsSummary/CrsoResultsSummary.graphql
  client/src/models/results/queries/DeptResultsSummary/DeptResultsSummary.gql.ts
  client/src/models/results/queries/DeptResultsSummary/DeptResultsSummary.graphql
  client/src/models/results/queries/ProgramResultsSummary/ProgramResultsSummary.gql.ts
  client/src/models/results/queries/ProgramResultsSummary/ProgramResultsSummary.graphql
  client/src/panels/panel_declarations/results/drr_table/result_flat_table.js
  client/src/panels/panel_declarations/results/result_drilldown/result_drilldown.yaml
  client/src/panels/panel_declarations/results/result_table_text.yaml
Due: client, cypress

Revert to -v2 circleci config
  .circleci/config.yml
Due: none

Update node 16 to 20 in server files
  server/.babelrc
  server/README.md
  server/package.json
Due: server

circleci config file -v3
  .circleci/config.yml
Due: none
