Repository TBS-EACPD/infobase: changes, and which Codecov flags are due for each by the changed paths.
All: client, cypress, server, form_backend

codecov.yml:

flags:
  client:
    paths:
      - ./client/
  cypress:
    paths:
      - ./client/
  server:
    paths:
      - ./server/
  form_backend:
    paths:
      - ./form_backend/

coverage:
  status:
    project:
      default:
        flags:
          - client
          - cypress
          - server
          - form_backend
      client:
        flags:
          - client
      cypress:
        flags:
          - cypress
        target: auto
      server:
        flags:
          - server
      form_backend:
        flags:
          - form_backend
        target: auto

Updated populate script, fixed for avg_share
  server/src/models/people/populate.js
  server/src/models/people/schema.js
Due: server

employee exec panel
  client/src/panels/panel_declarations/people/employee_executive_level.js
Due: client, cypress

employee prov panel
  client/src/panels/panel_declarations/people/employee_prov.js
Due: client, cypress

employee last year totals fixed unused import
  client/src/panels/panel_declarations/people/employee_last_year_totals.js
Due: client, cypress

employee fol panel
  client/src/panels/panel_declarations/people/employee_fol.js
Due: client, cypress

employee totals panel
  client/src/panels/panel_declarations/people/employee_totals.js
Due: client, cypress

employee age panel
  client/src/panels/panel_declarations/people/employee_age.js
Due: client, cypress

employee gender panel
  client/src/panels/panel_declarations/people/employee_gender.js
Due: client, cypress

Server populate script complete re-write to accomodate new data structure
  data/People_data_lookup.csv
  data/goc-org-variants.csv
  data/test_org_employee_age_group.csv
  data/test_org_employee_avg_age.csv
  data/test_org_employee_dept.csv
  data/test_org_employee_ex_lvl.csv
  data/test_org_employee_fol.csv
  data/test_org_employee_gender.csv
  data/test_org_employee_region.csv
  data/test_org_employee_type.csv
  server/src/models/people/populate.js
  server/src/models/people/utils.js
Due: server

Region panel and random warning panel bug? happened from stashing I believe
  client/src/panels/panel_declarations/misc/warning_panels.js
  client/src/panels/panel_declarations/people/employee_prov.js
Due: client, cypress

employee last_year_totals panel
  client/src/panels/panel_declarations/people/employee_last_year_totals.js
Due: client, cypress

GoVPeopleSummary client query
  client/src/models/people/queries/GovPeopleSummary/GovPeopleSummary.gql.ts
  client/src/models/people/queries/GovPeopleSummary/GovPeopleSummary.graphql
  client/src/models/people/queries/GovPeopleSummary/GovPeopleSummary.ts
  client/src/models/people/queries/index.js
Due: client, cypress

types
  client/src/types/types.gql.ts
Due: client, cypress

Improved populate script and fixed some errors, avg_share was wrong formula
  server/src/models/people/populate.js
Due: server

Employee type panel update initial implementation
  client/src/common_text/template_globals.yaml
  client/src/core/ensure_loaded.js
  client/src/models/people/api_load_has_people_data.js
  client/src/models/people/queries/OrgPeopleSummary/OrgPeopleSummary.gql.ts
  client/src/models/people/queries/OrgPeopleSummary/OrgPeopleSummary.graphql
  client/src/models/people/queries/OrgPeopleSummary/OrgPeopleSummary.ts
  client/src/models/people/queries/index.js
  client/src/panels/panel_declarations/people/employee_type.js
  client/src/panels/panel_declarations/people/employee_type.yaml
  client/src/types/types.gql.ts
Due: client, cypress

employee type panel
  client/src/panels/panel_declarations/people/employee_type.js
  client/src/panels/panel_declarations/people/employee_type.yaml
Due: client, cypress

forgot prettier, oops
  client/src/models/people/queries/GovPeopleSummary/GovPeopleSummary.ts
  client/src/panels/panel_declarations/people/employee_fol.js
  client/src/panels/panel_declarations/people/employee_prov.js
  client/src/panels/panel_declarations/people/employee_totals.js
Due: client, cypress

Add test data for new format
  data/test-data/test_org_employee_avg_age.csv
  data/test-data/test_org_employee_type.csv
Due: none

forgot some test data...
  data/test-data/People_data_lookup.csv
  data/test-data/goc-org-variants.csv
Due: none

Remove some console logs
  client/src/panels/panel_declarations/people/employee_executive_level.js
  client/src/panels/panel_declarations/people/employee_type.js
Due: client, cypress

Removed unused variable
  server/src/models/people/populate.js
Due: server

Fixed import order
  client/src/panels/panel_declarations/people/employee_age.js
Due: client, cypress

Update server snapshot
  server/src/models/people/people.snapshot-test.js
Due: server

Update snapshot
  server/src/models/people/__snapshots__/people.snapshot-test.js.snap
Due: server

Update banner and intro text
  client/src/panels/panel_declarations/misc/warning_panels.yaml
  client/src/panels/panel_declarations/services/services.yaml
Due: client, cypress

update populate script to handle duplicate entries for same dimensions
  server/src/models/people/populate.js
Due: server

Gov level avg age fix
  client/src/panels/panel_declarations/people/employee_age.js
Due: client, cypress

First test of github issue creation through bug report form
  form_backend/.gitignore
  form_backend/package-lock.json
  form_backend/package.json
  form_backend/scripts/util/set_transient_secrets.sh
  form_backend/src/form_backend.js
  form_backend/src/github_utils/create_github_issue.js
  form_backend/src/github_utils/index.js
Due: form_backend

Update local_mongod.sh to accept -d
  scripts/dev_scripts/local_mongod.sh
Due: none

Issue link in new modal on form submission
  client/src/FormFrontend/FormFrontend.js
  client/src/FormFrontend/FormFrontend.yaml
  client/src/FormFrontend/IssueConfirmationModal.js
  client/src/FormFrontend/IssueConfirmationModal.scss
  client/src/FormFrontend/form_backend_utils.ts
  form_backend/src/form_backend.js
  form_backend/src/github_utils/create_github_issue.js
  server/.gitignore
Due: client, cypress, server, form_backend

Fixed a text/json error on form submit
  client/src/FormFrontend/form_backend_utils.ts
Due: client, cypress

French translations
  client/src/panels/panel_declarations/misc/warning_panels.yaml
  client/src/panels/panel_declarations/services/services.yaml
Due: client, cypress

Remove service from banner if it has a mix of valid and invalid program ids
  client/src/models/services/queries/ServicesForOrg/ServicesForOrg.gql.ts
  client/src/models/services/queries/ServicesForProgram/ServicesForProgram.gql.ts
  client/src/models/services/queries/SingleService/SingleService.gql.ts
  client/src/models/services/queries/StandardServiceFragment.gql.ts
  client/src/models/services/queries/StandardServiceFragment.graphql
  client/src/types/types.gql.ts
  server/src/models/services/models.js
  server/src/models/services/populate.js
  server/src/models/services/schema.js
Due: client, cypress, server

clean up text and service/standard years
  client/src/panels/panel_declarations/services/services.yaml
  client/src/panels/panel_declarations/services/services_standards.js
  client/src/panels/panel_declarations/services/single_service_panels/service_overview.js
  server/src/models/services/populate.js
Due: client, cypress, server

Update feature content and remove dataset from service panels
  client/src/home/home-data.js
  client/src/panels/panel_declarations/services/application_channels_by_services.js
  client/src/panels/panel_declarations/services/provided_services_list.js
  client/src/panels/panel_declarations/services/services_channels.js
  client/src/panels/panel_declarations/services/services_digital_status.js
  client/src/panels/panel_declarations/services/services_intro.js
  client/src/panels/panel_declarations/services/services_standards.js
  client/src/panels/panel_declarations/services/single_service_panels/service_channels.js
  client/src/panels/panel_declarations/services/single_service_panels/service_digital_status.js
  client/src/panels/panel_declarations/services/single_service_panels/service_overview.js
  client/src/panels/panel_declarations/services/single_service_panels/service_standards.js
  client/src/panels/panel_declarations/services/subject_offering_services.js
Due: client, cypress

Update service standard guages to present all reported years data
  client/src/models/services/queries/ServiceSummaryGov/ServiceSummaryGov.gql.ts
  client/src/models/services/queries/ServiceSummaryGov/ServiceSummaryGov.graphql
  client/src/models/services/queries/ServiceSummaryOrg/ServiceSummaryOrg.gql.ts
  client/src/models/services/queries/ServiceSummaryOrg/ServiceSummaryOrg.graphql
  client/src/models/services/queries/ServiceSummaryProgram/ServiceSummaryProgram.gql.ts
  client/src/models/services/queries/ServiceSummaryProgram/ServiceSummaryProgram.graphql
  client/src/panels/panel_declarations/services/services.yaml
  client/src/panels/panel_declarations/services/services_standards.js
  client/src/types/types.gql.ts
  server/src/models/services/models.js
  server/src/models/services/populate.js
  server/src/models/services/schema.js
Due: client, cypress, server

Add evergreen data note to service intro
  client/src/panels/panel_declarations/misc/warning_panels.yaml
  client/src/panels/panel_declarations/services/services.yaml
  server/src/models/load_utils.js
  server/src/models/services/populate.js
Due: client, cypress, server

Update service overview panel to include warning that program ids will be update in the future
  client/src/panels/panel_declarations/misc/warning_panels.js
  client/src/panels/panel_declarations/services/services.yaml
  client/src/panels/panel_declarations/services/single_service_panels/service_overview.js
  server/src/models/services/populate.js
Due: client, cypress, server
