Repository TBS-EACPD/infobase: changes, and which Codecov flags are due for each by the changed paths.
All: client, cypress, server, form_backend

codecov.yml:

flags:
  client:
    paths:
      - ./client/
  cypress:
    paths:
      - ./client/
  server:
    paths:
      - ./server/
  form_backend:
    paths:
      - ./form_backend/

coverage:
  status:
    project:
      default:
        flags:
          - client
          - cypress
          - server
          - form_backend
      client:
        flags:
          - client
      cypress:
        flags:
          - cypress
        target: auto
      server:
        flags:
          - server
      form_backend:
        flags:
          - form_backend
        target: auto

add <br> on a single line break
  client/src/general_utils.ts
Due: client, cypress

Clean up custom table and filter out empty sobj
  client/src/panels/panel_declarations/finances/sobj/top_spending_areas.js
  client/src/panels/panel_declarations/finances/sobj/top_spending_areas.yaml
Due: client, cypress

Update tooltip on bar graph
  client/src/panels/panel_declarations/finances/sobj/top_spending_areas.js
Due: client, cypress

Update gross spending by sobj panel to display HBar graph instead of pie chart
  client/src/panels/panel_declarations/finances/sobj/top_spending_areas.js
  client/src/panels/panel_declarations/finances/sobj/top_spending_areas.yaml
Due: client, cypress

Update custom table headers
  client/src/panels/panel_declarations/finances/sobj/top_spending_areas.js
Due: client, cypress

Updated french text
  client/src/panels/panel_declarations/finances/sobj/top_spending_areas.yaml
Due: client, cypress

Add test-data for the new service files added
  data/test-data/goc_org_variants.csv
  data/test-data/goc_service_program.csv
  data/test-data/hist_service_inventory.csv
  data/test-data/hist_service_standards.csv
  data/test-data/service_inventory.csv
  data/test-data/service_standards.csv
Due: none

Update test-data csv for services and snapshot tests
  data/test-data/goc_org_variants.csv
  data/test-data/goc_service_program.csv
  data/test-data/hist_service_inventory.csv
  data/test-data/hist_service_standards.csv
  data/test-data/igoc.csv
  data/test-data/program.csv
  data/test-data/service_standards.csv
  server/src/models/services/__snapshots__/services.snapshot-test.js.snap
  server/src/models/services/services.snapshot-test.js
Due: server

Improved populate script and fixed some errors, avg_share was wrong formula
  server/src/models/people/populate.js
Due: server

Add to service graphql schema to display list of depts and list of services with incorrect program ids
  client/src/types/types.gql.ts
  server/src/models/services/models.js
  server/src/models/services/populate.js
  server/src/models/services/schema.js
Due: client, cypress, server

First test of github issue creation through bug report form
  form_backend/.gitignore
  form_backend/package-lock.json
  form_backend/package.json
  form_backend/scripts/util/set_transient_secrets.sh
  form_backend/src/form_backend.js
  form_backend/src/github_utils/create_github_issue.js
  form_backend/src/github_utils/index.js
Due: form_backend

Displaying list of services with missing program codes
  client/src/models/services/queries/ServiceSummaryGov/ServiceSummaryGov.gql.ts
  client/src/models/services/queries/ServiceSummaryGov/ServiceSummaryGov.graphql
  client/src/models/services/queries/ServiceSummaryOrg/ServiceSummaryOrg.gql.ts
  client/src/models/services/queries/ServiceSummaryOrg/ServiceSummaryOrg.graphql
  client/src/panels/panel_declarations/services/services.yaml
  client/src/panels/panel_declarations/services/services_intro.js
  client/src/panels/panel_declarations/services/single_service_panels/service_overview.js
  client/src/panels/panel_declarations/services/subject_offering_services.js
  client/src/types/types.gql.ts
  server/src/models/services/models.js
  server/src/models/services/populate.js
  server/src/models/services/schema.js
Due: client, cypress, server

Employee type panel update initial implementation
  client/src/common_text/template_globals.yaml
  client/src/core/ensure_loaded.js
  client/src/models/people/api_load_has_people_data.js
  client/src/models/people/queries/OrgPeopleSummary/OrgPeopleSummary.gql.ts
  client/src/models/people/queries/OrgPeopleSummary/OrgPeopleSummary.graphql
  client/src/models/people/queries/OrgPeopleSummary/OrgPeopleSummary.ts
  client/src/models/people/queries/index.js
  client/src/panels/panel_declarations/people/employee_type.js
  client/src/panels/panel_declarations/people/employee_type.yaml
  client/src/types/types.gql.ts
Due: client, cypress

igoc update
  data/igoc.csv
  data/igoc_en.csv
  data/igoc_fr.csv
Due: none

Region panel and random warning panel bug? happened from stashing I believe
  client/src/panels/panel_declarations/misc/warning_panels.js
  client/src/panels/panel_declarations/people/employee_prov.js
Due: client, cypress

Update service populate to replace invalid ISSXX codes with blanks
  client/src/models/services/queries/ServiceSummaryOrg/ServiceSummaryOrg.gql.ts
  client/src/models/services/queries/ServiceSummaryOrg/ServiceSummaryOrg.graphql
  client/src/panels/panel_declarations/misc/warning_panels.js
  client/src/panels/panel_declarations/misc/warning_panels.yaml
  client/src/panels/panel_declarations/services/services.yaml
  client/src/panels/panel_declarations/services/single_service_panels/service_overview.js
  client/src/panels/panel_declarations/services/subject_offering_services.js
  client/src/types/types.gql.ts
  server/src/models/services/models.js
  server/src/models/services/populate.js
  server/src/models/services/schema.js
Due: client, cypress, server

Remove old version of warning panel for depts that have a gap in reporting
  client/src/panels/get_panels_for_subject/get_dept_panels.js
  client/src/panels/get_panels_for_subject/get_program_panels.js
  client/src/panels/panel_declarations/index.js
  client/src/panels/panel_declarations/misc/index.js
  client/src/panels/panel_declarations/misc/warning_panels.js
Due: client, cypress

Update snapshot tests
  data/test-data/si.csv
  data/test-data/ss.csv
  server/src/models/services/__snapshots__/services.snapshot-test.js.snap
  server/src/models/services/services.snapshot-test.js
Due: server

Add evergreen data note to service intro
  client/src/panels/panel_declarations/misc/warning_panels.yaml
  client/src/panels/panel_declarations/services/services.yaml
  server/src/models/load_utils.js
  server/src/models/services/populate.js
Due: client, cypress, server

clean up services panels when programs are missing
  client/src/panels/panel_declarations/services/provided_services_list.js
  client/src/panels/panel_declarations/services/services.yaml
  client/src/panels/panel_declarations/services/subject_offering_services.js
  server/src/models/services/constants.js
  server/src/models/services/populate.js
Due: client, cypress, server

Update snapshot tests
  server/src/models/services/__snapshots__/services.snapshot-test.js.snap
Due: server

Update service overview panel to include warning that program ids will be update in the future
  client/src/panels/panel_declarations/misc/warning_panels.js
  client/src/panels/panel_declarations/services/services.yaml
  client/src/panels/panel_declarations/services/single_service_panels/service_overview.js
  server/src/models/services/populate.js
Due: client, cypress, server

Remove banner at dept level for services
  client/src/panels/get_panels_for_subject/get_dept_panels.js
  client/src/panels/get_panels_for_subject/get_gov_panels.js
  client/src/panels/panel_declarations/misc/warning_panels.js
  client/src/panels/panel_declarations/misc/warning_panels.yaml
Due: client, cypress

Remove unused query
  client/src/panels/panel_declarations/misc/warning_panels.js
Due: client, cypress

Modify program unavaliable text to not display for ISSXX program codes
  client/src/models/services/queries/ServicesForOrg/ServicesForOrg.gql.ts
  client/src/models/services/queries/ServicesForProgram/ServicesForProgram.gql.ts
  client/src/models/services/queries/SingleService/SingleService.gql.ts
  client/src/models/services/queries/StandardServiceFragment.gql.ts
  client/src/models/services/queries/StandardServiceFragment.graphql
  client/src/panels/panel_declarations/misc/warning_panels.yaml
  client/src/panels/panel_declarations/services/services.yaml
  client/src/panels/panel_declarations/services/single_service_panels/service_overview.js
  client/src/types/types.gql.ts
  server/src/models/services/models.js
  server/src/models/services/populate.js
  server/src/models/services/schema.js
Due: client, cypress, server

Updated new french section
  client/src/panels/panel_declarations/misc/warning_panels.yaml
  client/src/panels/panel_declarations/services/services.yaml
Due: client, cypress

Update french text
  client/src/panels/panel_declarations/services/services.yaml
Due: client, cypress

Updated populate script, fixed for avg_share
  server/src/models/people/populate.js
  server/src/models/people/schema.js
Due: server

GoVPeopleSummary client query
  client/src/models/people/queries/GovPeopleSummary/GovPeopleSummary.gql.ts
  client/src/models/people/queries/GovPeopleSummary/GovPeopleSummary.graphql
  client/src/models/people/queries/GovPeopleSummary/GovPeopleSummary.ts
  client/src/models/people/queries/index.js
Due: client, cypress

employee type panel
  client/src/panels/panel_declarations/people/employee_type.js
  client/src/panels/panel_declarations/people/employee_type.yaml
Due: client, cypress

employee exec panel
  client/src/panels/panel_declarations/people/employee_executive_level.js
Due: client, cypress

employee prov panel
  client/src/panels/panel_declarations/people/employee_prov.js
Due: client, cypress

employee fol panel
  client/src/panels/panel_declarations/people/employee_fol.js
Due: client, cypress

employee gender panel
  client/src/panels/panel_declarations/people/employee_gender.js
Due: client, cypress
