Repository TBS-EACPD/infobase: changes, and which Codecov flags are due for each by the changed paths.
All: client, cypress, server, form_backend

added some tests
  form_backend/src/form_backend.end-to-end-test.js
  form_backend/src/github_utils/create_github_issue.unit-test.js
Due: form_backend

Issue link in new modal on form submission
  client/src/FormFrontend/FormFrontend.js
  client/src/FormFrontend/FormFrontend.yaml
  client/src/FormFrontend/IssueConfirmationModal.js
  client/src/FormFrontend/IssueConfirmationModal.scss
  client/src/FormFrontend/form_backend_utils.ts
  form_backend/src/form_backend.js
  form_backend/src/github_utils/create_github_issue.js
  server/.gitignore
Due: client, cypress, server, form_backend

First test of github issue creation through bug report form
  form_backend/.gitignore
  form_backend/package-lock.json
  form_backend/package.json
  form_backend/scripts/util/set_transient_secrets.sh
  form_backend/src/form_backend.js
  form_backend/src/github_utils/create_github_issue.js
  form_backend/src/github_utils/index.js
Due: form_backend

Fixed unused variable and some cleanup
  client/src/FormFrontend/IssueConfirmationModal.js
  client/src/FormFrontend/IssueConfirmationModal.scss
  form_backend/src/form_backend.js
Due: client, cypress, form_backend

Fixed a text/json error on form submit
  client/src/FormFrontend/form_backend_utils.ts
Due: client, cypress

prettier
  form_backend/src/form_backend.end-to-end-test.js
  form_backend/src/github_utils/create_github_issue.unit-test.js
Due: form_backend

Update local_mongod.sh to accept -d
  scripts/dev_scripts/local_mongod.sh
Due: none

Second modal on issue creating success, closes first modal
  client/src/FormFrontend/FormFrontend.js
  client/src/FormFrontend/FormFrontend.yaml
  client/src/FormFrontend/IssueConfirmationModal.js
  client/src/components/PageDetails.tsx
  client/src/components/PageDetails.yaml
  client/src/components/modals_and_popovers/StatelessModal.tsx
Due: client, cypress

fix static and server
  client/src/panels/panel_declarations/finances/transfer_payments/recipients.js
  data/test-data/transfer_payment_recipients.csv
  server/src/models/recipients/populate.js
  server/src/models/recipients/schema.js
Due: client, cypress, server

Update table names in french
  client/src/models/metadata/Datasets.ts
  client/src/models/metadata/Datasets.yaml
  client/src/panels/panel_declarations/finances/transfer_payments/gnc-text.yaml
  client/src/panels/panel_declarations/finances/transfer_payments/recipients.js
Due: client, cypress

french correction
  client/src/panels/panel_declarations/finances/transfer_payments/gnc-text.yaml
Due: client, cypress

Load recipient details after main table is loaded
  client/src/models/recipients/queries/RecipientDetailsGov/RecipientDetailsGov.gql.ts
  client/src/models/recipients/queries/RecipientDetailsGov/RecipientDetailsGov.graphql
  client/src/models/recipients/queries/RecipientDetailsGov/RecipientDetailsGov.ts
  client/src/models/recipients/queries/RecipientDetailsOrg/RecipientDetailsOrg.gql.ts
  client/src/models/recipients/queries/RecipientDetailsOrg/RecipientDetailsOrg.graphql
  client/src/models/recipients/queries/RecipientDetailsOrg/RecipientDetailsOrg.ts
  client/src/models/recipients/queries/RecipientSummaryGov/RecipientSummaryGov.gql.ts
  client/src/models/recipients/queries/RecipientSummaryGov/RecipientSummaryGov.graphql
  client/src/models/recipients/queries/RecipientSummaryOrg/RecipientSummaryOrg.gql.ts
  client/src/models/recipients/queries/RecipientSummaryOrg/RecipientSummaryOrg.graphql
  client/src/models/recipients/queries/index.ts
  client/src/panels/panel_declarations/finances/transfer_payments/recipients.js
  client/src/types/types.gql.ts
  server/src/models/recipients/models.js
  server/src/models/recipients/populate.js
  server/src/models/recipients/schema.js
Due: client, cypress, server

fix static analysis error
  server/src/models/recipients/populate.js
Due: server

clean up
  client/src/panels/panel_declarations/services/single_service_panels/service_standards.js
Due: client, cypress

Update recipient details loading
  client/src/models/recipients/queries/RecipientDetailsGov/RecipientDetailsGov.gql.ts
  client/src/models/recipients/queries/RecipientDetailsGov/RecipientDetailsGov.graphql
  client/src/models/recipients/queries/RecipientDetailsOrg/RecipientDetailsOrg.gql.ts
  client/src/models/recipients/queries/RecipientDetailsOrg/RecipientDetailsOrg.graphql
  client/src/panels/panel_declarations/finances/transfer_payments/recipients.js
  client/src/types/types.gql.ts
  server/src/models/recipients/models.js
  server/src/models/recipients/populate.js
  server/src/models/recipients/schema.js
Due: client, cypress, server

Remove unused models
  server/src/models/recipients/schema.js
Due: server

Switch query depending on subject type
  client/src/panels/panel_declarations/finances/transfer_payments/recipients.js
Due: client, cypress

Remove conditinal hooks
  client/src/panels/panel_declarations/finances/transfer_payments/recipients.js
Due: client, cypress

Paginate loading recipient transfer payment details
  client/src/components/DisplayTable/DisplayTable.tsx
  client/src/models/recipients/queries/RecipientDetailsGov/RecipientDetailsGov.gql.ts
  client/src/models/recipients/queries/RecipientDetailsGov/RecipientDetailsGov.graphql
  client/src/models/recipients/queries/RecipientDetailsOrg/RecipientDetailsOrg.gql.ts
  client/src/models/recipients/queries/RecipientDetailsOrg/RecipientDetailsOrg.graphql
  client/src/panels/panel_declarations/finances/transfer_payments/gnc-text.yaml
  client/src/panels/panel_declarations/finances/transfer_payments/recipients.js
  client/src/types/types.gql.ts
  server/src/models/recipients/models.js
  server/src/models/recipients/schema.js
Due: client, cypress, server

Update year range in panel title
  client/src/panels/panel_declarations/finances/transfer_payments/gnc-text.yaml
Due: client, cypress

Fix people panel loading pattern
  client/src/panels/panel_declarations/people/employee_age.js
  client/src/panels/panel_declarations/people/employee_executive_level.js
  client/src/panels/panel_declarations/people/employee_fol.js
  client/src/panels/panel_declarations/people/employee_gender.js
  client/src/panels/panel_declarations/people/employee_last_year_totals.js
  client/src/panels/panel_declarations/people/employee_prov.js
  client/src/panels/panel_declarations/people/employee_totals.js
  client/src/panels/panel_declarations/people/employee_type.js
Due: client, cypress

Fixed prettier warnings
  client/src/panels/panel_declarations/people/employee_age.js
  client/src/panels/panel_declarations/people/employee_executive_level.js
  client/src/panels/panel_declarations/people/employee_last_year_totals.js
  client/src/panels/panel_declarations/people/employee_prov.js
  client/src/panels/panel_declarations/people/employee_totals.js
  client/src/panels/panel_declarations/people/employee_type.js
Due: client, cypress

local script to fetch open gov employee type and populate db
  package.json
  scripts/fetch_open_gov_org_employee_type.mjs
Due: none

generic open gov fetch script
  package.json
  scripts/fetch_open_gov_csvs.mjs
  scripts/fetch_open_gov_org_employee_type.mjs
Due: none

populate_db:remote with fetched data
  package.json
  scripts/refresh_people_employee_type_remote.mjs
Due: none

generic open gov refresh
  package.json
  scripts/fetch_open_gov_csvs.mjs
  scripts/open_gov_dataset_registry.mjs
  scripts/refresh_open_gov_remote.mjs
Due: none

CI configs for manually triggere fetch
  .circleci/config.yml
Due: none

prettier
  scripts/fetch_open_gov_csvs.mjs
  scripts/open_gov_dataset_registry.mjs
  scripts/refresh_open_gov_remote.mjs
Due: none

avoid double populate_db
  .circleci/config.yml
Due: none

normalizes line endings to LF during fetch
  scripts/fetch_open_gov_csvs.mjs
  scripts/open_gov_csv_normalize.mjs
  scripts/refresh_open_gov_remote.mjs
Due: none

scheduled CI job test
  .circleci/config.yml
Due: none

prettier
  scripts/fetch_open_gov_csvs.mjs
Due: none

Scheduled CI job for people_open_gov branch
  .circleci/config.yml
Due: none

timezone issue
  .circleci/config.yml
Due: none

circle config timezone issue
  .circleci/config.yml
Due: none

Path conditions:
  client: any of: client/
  cypress: any of: client/
  server: any of: server/
  form_backend: any of: form_backend/
